<!DOCTYPE HTML>

<html>

<head>

<%10%>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<!--
<meta http-equiv="refresh" content="3">
-->
<title>NETGEAR Router WNDR3400</title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>

<script src="script/jquery.mousewheel.js"></script>
<script src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>

<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>
<script language="javascript" type="text/javascript">
<!--
function showADVHome()
{
	window.location.replace("./ADV_home1.htm");
}
//-->
</script>
</head>
<body  bgcolor="#E5E5E5">
<img class="cover-image" src="img/cover-image.gif" onload="showADVHome();">
</body>
</html>



