<!DOCTYPE HTML>

<html>

<head>

<%10%>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<!--
<meta http-equiv="refresh" content="3">
-->
<title>NETGEAR Router WNDR3400</title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>

<script src="script/jquery.mousewheel.js"></script>
<script src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>

<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>
<script language="javascript" type="text/javascript">
<!--
var DisableFixedDNS = false;
var DisableFixedMAC = false;
var MacAddress;
var DodDisable = false;
var DodIndex = 1;

    $(document).ready(function()
    {	
        var form=document.forms[1];
        var gui_region = form.curlang.value;
    
        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
 
        $('#INT_setup').click(function(ev){ 
            parent.loadPage2("BAS_basic.htm");
        }); 

        $('#wireless_setup').click(function(ev){ 
            parent.loadPage2("WLG_wireless.htm");
        }); 
        
        $('#guest_setup').click(function(ev){ 
            parent.loadPage2("WLG_wireless_2.htm");
        });         
        
        $('#LAN_setup').click(function(ev){ 
            parent.loadPage2("WLG_adv.htm");
        });          
        
        $('.basic-text-menu').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-menu-pr"); 
             }else{
                 $(this).removeClass("basic-text-menu-pr"); 
             }
        });
        $('.basic-text-subTitle').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-subTitle-pr"); 
             }else{
                 $(this).removeClass("basic-text-subTitle-pr"); 
             }
        });
        $('.basic-text-content').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-content-pr"); 
             }else{
                 $(this).removeClass("basic-text-content-pr"); 
             }
        });
        $('.box-header-text').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("box-header-text-pr"); 
             }else{
                 $(this).removeClass("box-header-text-pr"); 
             }
            
        });       
        /* checking long string */
        if($('.header-text1').text().length>=36 | $('.header-text2').text().length>=36){
               $('#box-header-table1').addClass("box-header-table-large");
               $('#box-header-table2').addClass("box-header-table-large");
               $('#box-header-table1').removeClass("box-header-table");
               $('#box-header-table2').removeClass("box-header-table");                    
        }

        if($('.header-text3').text().length>=36 | $('.header-text4').text().length>=36){
               $('#box-header-table3').addClass("box-header-table-large");
               $('#box-header-table4').addClass("box-header-table-large");
               $('#box-header-table3').removeClass("box-header-table");
               $('#box-header-table4').removeClass("box-header-table");  
        }           
    });

    function setHelpIframeVisible(){
        $('.bas-help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("down")>=0)
        {
            $(".bas-help-frame-div").show();
            imgSrc.src="img/helparrowup-icon.gif";
        }
        else
        {
            $(".bas-help-frame-div").hide();
            imgSrc.src="img/helparrowdown-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
    }
   
    function loadhelp(fname,anchname)
    {
        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
            $('#page').attr("src",fname+"_h.htm");
        else
            $('#page').attr("src",fname+"_h.htm#"  + anchname);
    }   
    
   

function adjustPageLayout()
{
    adjustButtonSize();

    var table_height1 = $('#page-table1')[0].clientHeight+"px";
    var table_height2 = $('#page-table2')[0].clientHeight+"px";
    var table_height3 = $('#page-table3')[0].clientHeight+"px";
    var table_height4 = $('#page-table4')[0].clientHeight+"px";

    if($('#page-table1')[0].clientHeight >=  $('#page-table2')[0].clientHeight)
        $('#page-table2').css("height",table_height1);
    else
        $('#page-table1').css("height",table_height2);
        
    if($('#page-table3')[0].clientHeight >=  $('#page-table4')[0].clientHeight)
        $('#page-table4').css("height",table_height3);
    else
        $('#page-table3').css("height",table_height4);    
}

function adjustButtonSize()
{
    if($($('#reboot')[0].parentNode)[0].scrollHeight > 25 ||
        $($('#statistics')[0].parentNode)[0].scrollHeight > 25 ||
        $($('#status')[0].parentNode)[0].scrollHeight > 25) 
    {
        $($('#reboot')[0].parentNode).addClass('page-table-button-large-left');
        $($('#reboot')[0].parentNode).removeClass('page-table-button-left');
        $($('#statistics')[0].parentNode).addClass('page-table-button-large-right');
        $($('#statistics')[0].parentNode).removeClass('page-table-button-right');
        $($('#status')[0].parentNode).addClass('page-table-button-large-right');
        $($('#status')[0].parentNode).removeClass('page-table-button-right');
    }
}

function advButtonClick(index){

    if(index==0) // Show Statistics
        openStatisticsWindow();
    else if(index==1)
    {    
          openStatusWindow();
	// document.forms[0].buttonSelect.value="1";
    }
    else if(index==2)
    {
        if(confirm("<%2082%>"))
        {
            document.forms[0].buttonSelect.value="2";
            document.forms[0].submit(document.forms[0]);
        }
    }
}

function openStatWindow() {
	window.open(this.form.stat_page.value, '','height=350,status=yes');
	return ture;
}


function openStatusWindow()
{
    var conn = document.forms[0].wantype.value;
    var winoptions;
    if (conn == "dhcp")
    //if (conn == "dhcp" || conn == "pppoe")
            winoptions = "width=400,height=360,status=yes,resizable=yes";
    else if (conn == "pppoe")
    {
		<%198%>
        if ("<%2083%><%2084%>" == "1")
                winoptions = "width=400,height=600,status=yes,resizable=yes";
        else
		<%199%>
                    winoptions = "width=400,height=360,status=yes,resizable=yes";
    }
    else
            winoptions = "width=400,height=260,status=yes,resizable=yes";
    openDataSubWin('RST_wanstat.htm',winoptions);
}

function openStatisticsWindow()
{
    var conn = document.forms[0].wantype.value;
    var form=document.forms[1];
    var gui_region = form.curlang.value;
    var winoptions;
    if(gui_region=="German"){
       winoptions = "width=1024,height=360,status=yes,resizable=yes";
       openDataSubWin('RST_statistics.htm',winoptions);
    }else{
       winoptions = "width=780,height=300,status=yes,resizable=yes";
       openDataSubWin('RST_statistics.htm',winoptions);
    }
}

function loadSettings()
{
    var cf=document.forms[0];
    
    adjustPageLayout();
 	parent.$('#page2').css("visibility","visible");
    parent.$('#page_contain2').removeClass('main-page-contain-loading'); 
/* 
	if (cf.enable_apmode.value == 1)
    {

        var statusButton;
        cf.Status.disabled = 'true';
        statusButton=document.getElementsByName("Status");
        //statusButton.outerHTML='<button type="submit" disabled value="<%1572%>" name="Remove" class="button-grey" onClick="buttonClick(this,\'<%1572%>\');return remove_disk();"><span class="roundleft_grey">&nbsp;&nbsp; <%1572%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        //statusButton[0].outerHTML='<button type="button" disabled class="page-table-button-gray" style="float:left" onClick="advButtonClick(1);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();" name="Status"><%817%></button>';
        //removeButton[0].style.cursor='default';
        if($('#Status').hasClass("page-table-button"))
        {
            $('#Status').addClass("page-table-button-gray");
            $('#Status').removeClass("page-table-button");
        }        
        statusButton[0].style.cursor='pointer';
    }
*/
}

//-->
</script>


</head>

<body onload="change_size_ADVPage();loadSettings();" bgcolor="#E5E5E5" style="width:640px;margin:0px;padding:0px" onResize="change_size_ADVPage();">
	<form action="newgui_adv_home.cgi" method="post">
	<div id="scroll-pane" class="scroll-pane" style="height:420px;width:670px;overflow:auto;scrolling:auto">
		<table>
			<tr>
				<td>
					<div style="float:left;width:635px;positive:relative;border:0px;padding-left:3px;margin:0px">
						<div style="float:left;width:310px;positive:relative;border:0px;margin-top;0px">
                                                        <div id="box-header-table1" class="box-header-table">
							<table>
							  <tr class="box-header">
								<td style="width:17px">
								  <img src="img/good-icon.gif" style="padding-left:10px;padding-top:3px"/>
								</td>
								<td class="box-header-text header-text1"><%2085%></td>
							  </tr>
							</table>
                                                        </div>
							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table1" class="page-table" style="width:300px;background-color:#FFFFFF;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" width="25%" ><%1283%></td>
											<td class="basic-text-content" width="75%"> <%2086%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border" ><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%30%></td>
											<td class="basic-text-content" > <%2087%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2088%></td>
											<td class="basic-text-content" > <%2089%></td>
										</tr>
                                        <%805%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-subTitle" ><%2090%></td>
											<td class="basic-text-content" > </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%361%> </td>
											<td class="basic-text-content" > <%2091%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%169%> </td>
											<td class="basic-text-content" ><%192%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1873%> </td>
											<td class="basic-text-content" ><%2092%> </td>
										</tr>
                                        <%812%>
										<!--
										<tr class="basic-text">
											<td class="basic-text-menu" >Last Checked for Upgrade</td>
											<td class="basic-text-content" >3/31/2010 14:55</td>
										</tr>
										-->  
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                        
										<tr class="basic-text" style="align:center">
											<td colspan="2" class="basic-table-seperate-border" style="background-color:#FFFFFF;">
											<table >
											<tr>
											<td width="25%"></td>
											<td  width="50%" class="page-table-button-left" align="center" onClick="advButtonClick(2);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
													 <span id="reboot"><%2093%></span>	
											</td>
											<td width="25%"></td>
											</tr>
											</table>
											</td>
										</tr>		                                        
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div>

						<div style="float:left;width:310px;posision:relative;">

                                                        <div id="box-header-table2" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:20px">
										<%2094%>
									</td>
                                    <%805%>
									<td class="box-header-text header-text2" style="cursor:pointer;" id="INT_setup"><%2095%></td>
                                    <%812%>
                                    <%813%>
                                    <td class="box-header-text header-text2" style="cursor:pointer;" id="LAN_setup"><%2090%></td>
                                    <%816%>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table2" class="page-table" style="width:300px;background-color:#FFFFFF;" >
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>


										<tr class="basic-text">
											<td class="basic-text-menu" width="25%" ><%361%> </td>
                                            <%805%>
											<td class="basic-text-content" width="75%"><%189%></td>
                                            <%812%>
                                            <%813%>
											<td class="basic-text-content" width="75%"><%2091%></td>
                                            <%816%>
										</tr>
                                        <%813%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1873%> </td>
											<td class="basic-text-content" ><%2092%> </td>
										</tr>    
                                        <%816%>            
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%169%> </td>
                                            <%805%>
											<td class="basic-text-content" ><%501%></td>
                                            <%812%>
                                            <%813%>       
                                            <td class="basic-text-content" ><%818%></td>
                                            <%816%>
										</tr>
                                        <%805%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2096%> </td>
											<td class="basic-text-content" ><%2097%></td>
										</tr>
                                        <%812%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%170%> </td>
                                            <%805%>
											<td class="basic-text-content" ><%2098%></td>
                                            <%812%>
                                            <%813%>  
                                            <td class="basic-text-content" ><%819%></td>
                                            <%816%>
										</tr>
                                        <%813%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%228%> </td>
											<td class="basic-text-content" ><%821%> </td>
										</tr>    
                                        <%816%>                                           
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1563%> </td>
                                            <%805%>
											<td class="basic-text-content" ><%825%></td>
                                            <%812%>
                                            <%813%>                                              
											<td class="basic-text-content" ><%826%><br><%827%></td>
                                            <%816%>
										</tr>		
			

                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	
										<tr class="basic-text" style="align:center;">
											<td colspan="2" class="basic-table-seperate-border" style="background-color:#FFFFFF;">
											<table ><tr>
											 <td colspan="1" class="page-table-button-right" align="center"   onClick="advButtonClick(0);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
												 <span id="statistics"><%741%></span>									 
											</td>
											 <td colspan="1" class="page-table-button-right" align="center"  onClick="advButtonClick(1);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
												 <span id="status" name="Status"><%817%></span>									 
											</td>
											</tr>
											</table></td>
										</tr>										
									</table>
									<input type="hidden" style="float:left;height:0px"></input>	
								</td></tr>
							</table>
							<div class="page-table-bottom-2"> </div>
						</div>

					</div> 
				</td>
			</tr>
			<tr>
				<td style="height:2px;"></td>
			</tr>
			<tr>
				<td><div class="adv-home-table-seperate"></div><div class="adv-home-table-seperate-2"></div></td>
			</tr>
			<tr>
				<td style="height:2px"></td>
			</tr>
			<tr>
				<td>
					<div style="float:left;width:635px;positive:relative;top:0px;padding-left:3px;">

						<div style="float:left;width:310px;positive:relative;top:0px">

                                                        <div id="box-header-table3" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2099%>
									</td>
									<td class="box-header-text header-text3" style="cursor:pointer;" id="wireless_setup"><%88%></td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table3" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1024%></td>
											<td class="basic-text-content" > <%2100%>  </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1026%></td>
											<td class="basic-text-content" > <%2101%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1055%></td>
											<td class="basic-text-content" > <%2102%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1056%></td>
											<td class="basic-text-content" > <%2103%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>										
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2104%></td>
											<td class="basic-text-content" ><%2105%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2106%></td>
											<td class="basic-text-content" ><%2107%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2108%></td>
											<td class="basic-text-content" ><%2109%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2110%></td>
											<td class="basic-text-content" ><%2111%></td>
										</tr>
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>																						
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div> 

						<div style="float:left;width:310px;positive:relative;top:0px">

                                                        <div id="box-header-table4" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2112%>
									</td>
									<td class="box-header-text header-text4" style="cursor:pointer;" id="guest_setup"><%55%></td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table4" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1024%></td>
											<td class="basic-text-content" ><%1716%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2104%></td>
											<td class="basic-text-content" ><%2113%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2106%></td>
											<td class="basic-text-content" ><%1719%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2108%></td>
											<td class="basic-text-content" ><%2114%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1678%></td>
											<td class="basic-text-content" ><%2115%></td>
										</tr>	
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div style="height:1px"></div></td>
										</tr>

		
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                      
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div> 

					</div>
				</td>
			</tr>
			<tr>
				<td style="height:2px;"></td>
			</tr>
			<tr>
				<td><div class="adv-home-table-seperate"></div><div class="adv-home-table-seperate-2"></div></td>
			</tr>
			<tr>
				<td style="height:2px"></td>
			</tr>

		</table>
		</div>
		<input type="hidden" value="1" name="buttonSelect"/>
		<input type="hidden" name="wantype" value="<%132%>">
		<input type="hidden" name="enable_apmode" value="<%110%>">
	</form>  
    <form>
        <input type="hidden" name="curlang" value="<%36%>">  
    </form>    
</body>
</html>



