<!DOCTYPE HTML>
<html><head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<style type="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%111%>



<script language="javascript" type="text/javascript">
<!--

    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });

    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }
   
function loadSettings()
{
    var cf = document.forms[0];
    var enable_all_usb = "<%1649%>";
    var added_before = <%1650%>;
    if (enable_all_usb == 0)
        cf.approved_usb_only.checked = true;
    else
        cf.approved_usb_only.checked = false;
//    top.helpframe.location.href='Adv_USB_h.htm';
    if (added_before == "1")
        alert("<%1651%>!");
}
//-->
</script></head>
<body onload="change_size();loadSettings();"  class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="adv_usb" method="post" action="usb_approve.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2">   <%1652%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');"  type="submit" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%358%>');location.href='Adv_USB.htm'" type="button" name="Refresh" class="button-rule" ><span class="roundleft_button"><span class="refresh-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%358%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
<td colspan="2" ><input type="checkbox" name="approved_usb_only" value="1">&nbsp;<%1653%></td>
</tr>
<tr><td colspan="2" >&nbsp;&nbsp;</td></tr>
<tr>
<td colspan="2" ><b>&nbsp;<%1654%></b></td>
</tr>
<tr>
<td colspan="2">
<table border="1" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap align="center" width="6%"><span class="thead"> &nbsp;</span></td>
<td align="center" nowrap="nowrap" width="35%"><span class="thead"><%1582%></span></td>
<td align="center" nowrap="nowrap" width="35%"><span class="thead"><%360%></span></td>
<td align="center" nowrap="nowrap" width="24%"><span class="thead"><%1655%></span></td>
</tr>
<%1656%>
</table>
</td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" >
<p align="center">
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%306%>" name="Delete" class="button-rule" onclick="buttonClick(this,'<%306%>');" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%306%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
<tr><td colspan="2" >&nbsp;&nbsp;</td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>

<tr>
<td colspan="2" ><b>&nbsp;<%1657%></b></td>
</tr>
<tr>
<td colspan="2">
<table border="1" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap align="center" width="6%"><span class="thead"> &nbsp;</span></td>
<td align="center" nowrap="nowrap" width="35%"><span class="thead"><%1582%></span></td>
<td align="center" nowrap="nowrap" width="35%"><span class="thead"><%360%></span></td>
<td align="center" nowrap="nowrap" width="24%"><span class="thead"><%1655%></span></td>
</tr>
<%1658%>
</table>
</td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" >
<p align="center">
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%304%>" name="Add" class="button-rule" onclick="buttonClick(this,'<%304%>');" ><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%304%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="Adv_USB_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<a name="helpframe-anchor"></a>
</form>
</div>
</body></html>
