<!DOCTYPE HTML>
<html>
<head>

<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript"> 
function doSubmit()
{
   document.forms[0].submit();
}

</script>
</head>
<body  onLoad="doSubmit();"  style="margin:0px">
<form id="target"  name="formname" method="POST" action="autoblock.cgi">
<input type="hidden" name="set" value="Execute">
</form>
</body>

</html>
