<html>
<head>

<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript"> 
function link()
{   
    top.location.href="start.htm";
    window.parent.document.getElementById('lang_menu').disabled = false;
}

</script>
</head>
<body bgcolor="#ffffff" onLoad="link()">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <tr>
  <td>  &nbsp&nbsp&nbsp&nbsp</td>
 </tr>
</table>
</body>

</html>
