<!DOCTYPE HTML>
<html>
<head>

<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript"> 
function link()
{
    <%1840%>
    top.location.href="http://www.routerlogin.net/start.htm";
}

</script>
</head>
<body  onLoad="link()"  style="margin:0px">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <tr>
  <td>  &nbsp&nbsp&nbsp&nbsp</td>
 </tr>
</table>
</body>

</html>
