<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- 
//-->
</script> 
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



//--></script></head>
<body  onload="" style="margin:0px;background-color:#e5e5e5">
<form id="target"  method="POST" action="backup.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<table border="0"   width="100%">

<tr>
 <td colspan="2">
	<h1><%83%></h1> 
	</td>
</tr>
<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2"><b><%126%></b></td>
</tr>
<tr>
	<td colspan="2"><BR><b><%127%></b></td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td colspan="2" align="center">
	&nbsp;&nbsp;&nbsp;<button type="submit" value="<%128%>" name="ROMReset" class="button-rule" onclick="buttonClick(this,'<%128%>');" ><span class="roundleft_button">&nbsp;&nbsp; <%128%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%129%>" name="no" class="button-rule" onclick="buttonClick(this,'<%129%>');window.location.href='BAK_backup.htm'"><span class="roundleft_button">&nbsp;&nbsp; <%129%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
</table>
</form>
<p>
</p>
</body>
</html>

