<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<script language=JavaScript type="text/javascript">
<!--
function changepage()
{
	var cf = document.forms[0];
	if (cf.testOK.value == "true")
		window.setTimeout("window.location.replace('<%133%>')",5000);
	else
		window.setTimeout("window.location.replace('BAS_wtest_l.htm')",2500);
}
//-->
</script>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text=black onLoad="changepage()">
<form method="post" action="wtest_l">
<div align="center">
<br>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2" align="center"><b><%134%></b></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
<td colspan="2" align="left">
 <%135%>
 </td></tr>
 </table>
 <br>

<table width="100%" border=1 cellspacing=1 cellpadding=5>

	<tr>
		<TD NOWRAP width="50%"><FONT face="Arial, Helvetica, sans-serif" size=2><B><%138%></B></FONT></td>
		<TD NOWRAP width="50%"><FONT face="Arial, Helvetica, sans-serif" size=2><%139%></FONT></td>
	</tr>

	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%140%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%141%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%142%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%143%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%144%></B></FONT></td>
                <TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%145%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%146%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%147%></FONT></td>
	</tr>

</table>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>


 <tr>
 <td colspan="2" align="center">
 <input type=button name="close" value=<%136%> onclick="self.close()"></td>
</tr>
</table>
 
</div>

<input type="hidden" name="testOK" value="<%137%>">

</form>

</body>
</html>

