<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--

function selHelpFile(helpitem)
{
var wanForLoadHelp = "BAS_"+document.forms[0].wan_proto.value;
	if(!document.forms[0].loginreq[0].checked)
		parent.loadhelp('BAS_ether',helpitem)
	else
		parent.loadhelp(wanForLoadHelp,helpitem)
}
function doTypeChange( newIndex )
{
	var cf = document.forms[0];
	var wan_proto = cf.wan_proto.value;

	if (newIndex == 0)
	{
		parent.location.href = "BAS_ether.htm";
	} 
	else if (newIndex == 1)
	{
		if (wan_proto == "pptp")
			parent.location.href = "BAS_pptp.htm";
		else if (wan_proto == "bpa")
			parent.location.href = "BAS_bpa.htm";
		
        else if (wan_proto == "l2tp")
			parent.location.href = "BAS_l2tp.htm";
		
		else
			parent.location.href = "BAS_pppoe.htm";
		
	}
}

function loadSettings()
{
	var cf = document.forms[0];
		cf.loginreq[1].checked = true;
}
//-->
</script>
</head>
<body   style="margin:0px;padding:0px;padding-left:8px;background-color:transparent" >
<form name="basic" method="POST" action="basictop.cgi"> 
<table border="0"   style="width:97%" >



<tr>
	<td colspan="2">
	<a href="javascript:selHelpFile('question')" tabindex="-1"><b><%131%></b></a></td>
</tr>
<tr>
	<td colspan="2"><input type="radio" name="loginreq" value="pppoe" onClick="doTypeChange(1)">
	<a href="javascript:selHelpFile('question')" tabindex="-1"><%128%></a></td>
</tr>
<tr>
	<td colspan="2"><input type="radio"  checked name="loginreq" value="dhcp" onClick="doTypeChange(0)">
	<a href="javascript:selHelpFile('question')" tabindex="-1"><%129%></a></td>
</tr>


<tr><td colspan="2" height="12"  ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table>

  <INPUT name=wan_proto type=hidden value= "<%132%>">
</form>

</body>
</html>
