<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">

<script language=JavaScript type="text/javascript">

function changepage()
{
	var cf = document.forms[0];
    setTimeout("window.location.replace('BAS_wtest_ppp2.htm')",2500);
}

</script>
</head>
<BODY bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text="black" onload="changepage()">
<form method="post" action="wtest_l">
<div align="center">
<br>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2" align="center"><b><%134%></b></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>



<tr>
<td colspan="2" align="left">
 <%135%>
</td></tr>
 </table>
 <br>

<table width="100%" border=1 cellspacing=1 cellpadding=5>

	<tr>
		<TD NOWRAP width="50%"><FONT face="Arial, Helvetica, sans-serif" size=2><B><%138%></B></FONT></td>
		<TD NOWRAP width="50%"><FONT face="Arial, Helvetica, sans-serif" size=2><%850%></FONT></td>
	</tr>

	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%140%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%851%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%142%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%852%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%144%></B></FONT></td>
                <TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%853%></FONT></td>
	</tr>
	<tr>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><B><%146%></B></FONT></td>
		<TD NOWRAP><FONT face="Arial, Helvetica, sans-serif" size=2><%854%></FONT></td>
	</tr>

</table>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>


 <tr>
 <td colspan="2" align="center">
 <INPUT type="button" name="close" value="<%136%>" onclick="self.close()"></td>
</tr>
</table>
 
</div>

<input type="hidden" name="testOK" value="<%137%>">

</form>

</BODY>
</html>

