<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<script src="script/script.js"></script>
<script language="javascript" type="text/javascript">
<!--
    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

 
    
    
function checkType(wan_proto) // called from basictop.htm
{
//	if (basictop.document.forms[0])
	if (1)
	{
		if (wan_proto == "pppoe")
		    basicbuttom.location.href = "BAS_pppoe.htm";
		else if (wan_proto == "pptp")
		    basicbuttom.location.href = "BAS_pptp.htm";
		else if (wan_proto == "bpa")
		    basicbuttom.location.href = "BAS_bpa.htm";
		else if (wan_proto == "l2tp")
		    basicbuttom.location.href = "BAS_l2tp.htm";
		else
		    basicbuttom.location.href = "BAS_ether.htm";
	}
	else 
	    window.setTimeout(checkType(),300);
}

//-->
</script>

 </head>
 <frameset border="0" framespacing="0" frameborder="no">
 <frame src="BAS_basictop.htm" name="basicbuttom" scrolling="no">
 <noframes>
 <body>
<%130%>
 </body>
 </noframes>
 </frameset>
</html>
