<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--
function chgSel(index)
{
 document.forms[0].select.value = index;
 return true;
}

function chSession(newsession)
{
    if(newsession == 2)
        top.formframe.location.href = "BKS_service_ppp2.htm";		
    else if(newsession == 1)
        top.formframe.location.href = "BKS_service.htm";		
}
//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="loadhelp('BKS_service');document.forms[0].elements[0].focus();">
<form name="frmService" method="POST" action="pppoe2_fw_serv.cgi">
	<table border="0" cellpadding="0" cellspacing="3" width="100%">
	<tr>
		<td colspan="2"><h1><%76%></h1>
<%504%>			
            <input type="radio" name=pppoesession value=session1 onClick="chSession(1);"><%505%>
            <input checked type="radio" name=pppoesession value=session2 onClick="chSession(2);"><%506%><br>
<%507%>			
		</td>
	</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
 <TR>
 <TD align="left" colspan="2"><a href="javascript:loadhelp('BKS_service','block')" tabindex="-1"><b><%295%></b></a><br>
 <input type="radio" <%1812%> name="skeyword" value="never"><%276%><br> 
 <input type="radio" <%1813%> name="skeyword" value="perschedule"><%278%><br>
 <input type="radio" <%1814%> name="skeyword" value="always"><%280%>
 </TD>
 </TR>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
<tr>
	<td colspan="2">
		<a href="javascript:loadhelp('BKS_service','table')" tabindex="-1"><b><%299%></b></a></td>
</tr>
	<tr>
	<td colspan="2">
		<table border="1" cellpadding="2" cellspacing="0" width="100%">
		<tr>
			<td nowrap align="center" width="6%">&nbsp;	 	</td>
			<td nowrap align="center" width="6%"><span class="thead"># </span>	</td>
			<td nowrap align="center"><span class="thead"><%300%></span></td>
			<td nowrap align="center"><span class="thead"><%301%></span></td>
			<td nowrap align="center"><span class="thead"><%302%></span></td>
		</tr>
		<%1815%>
        </table>
	</td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
<tr>
<td colspan="2" align="center">
	<input type="Submit" name="Add" value=<%304%>>
	<input type="Submit" name="Edit" value=<%305%>>
	<input type="Submit" name="Delete" value=<%306%>></td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
<tr>
<td colspan="2" align="center">
 <input type="submit" name="apply" value=<%157%>>
 <input type="reset" name="cancel" value=<%159%>>
</td>
</tr>
</table>

	<input type="hidden" name="select" value="-1">

</form>
</body>
</html>

