<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
<!--
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
-->
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!-- 
function checkData()
{
 	var cf = document.forms[0];
	var msg = "";
	
	if (cf.skeyword[0].checked)
		cf.bs_enable.value = 0;
	else if (cf.skeyword[1].checked)
		cf.bs_enable.value = 1;	
	else	
		cf.bs_enable.value = 2;			
		
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;	
}
function checkKeyWord()
{
	var cf = document.forms[0];
	var msg = "";
	msg+= checkBlank(cf.cfKeyWord_Domain, "");
	if (msg.length > 1)
	{
		cf.cfKeyWord_Domain.focus();
		//alert(msg);
		return false;
	}
	cf.cfKeyWord_Domain.focus();
	if (cf.cfKeyWord_Domain.value.match( /[^\x20-\x7E]/ ))
	{
		alert("<%270%>");
		return false;
	}
	
	if (cf.skeyword[0].checked)
		cf.bs_enable.value = 0;
	else if (cf.skeyword[1].checked)
		cf.bs_enable.value = 1;	
	else	
		cf.bs_enable.value = 2;			
		
	return true;	
}

function checkKeyWordDomainList()
{
	var cf = document.forms[0];
	
    cf.cfKeyWord_Domain.value = "";
    
	if(cf.cfKeyWord_DomainList.options[0] == null)
	{
		return false;
	}
		
	if (cf.skeyword[0].checked)
		cf.bs_enable.value = 0;
	else if (cf.skeyword[1].checked)
		cf.bs_enable.value = 1;	
	else	
		cf.bs_enable.value = 2;			
		
	return true;	
}

function chSession(newsession)
{
    if(newsession == 2)
        top.formframe.location.href = "BKS_keyword_ppp2.htm";		
    else if(newsession == 1)
        top.formframe.location.href = "BKS_keyword.htm";		
}

//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="loadhelp('BKS_keyword');document.forms[0].elements['cfKeyWord_Domain'].focus();">
<form method="POST" action="pppoe2_keyword.cgi">
	<table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tr>
			<td colspan="2">
			<h1><%75%></h1> 
<%504%>			
			<input type="radio" name=pppoesession value=session1 onClick="chSession(1);"><%505%>
			<input checked type="radio" name=pppoesession value=session2 onClick="chSession(2);"><%506%><br>
<%507%>			
			</td>
		</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>

<tr>
	 <td colspan="2" height="18"><a href="javascript:loadhelp('BKS_keyword','blocking')" tabindex="-1"><b><%274%></b></a><br>
		<input <%1806%> type="radio" name="skeyword" value="never"><%276%><br> 
		<input <%1807%> type="radio" name="skeyword" value="perschedule"><%278%><br>
		<input <%1808%> type="radio" name="skeyword" value="always"><%280%>
	 </td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>

<tr>
 <td colspan="2"><a href="javascript:loadhelp('BKS_keyword','toaddword')" tabindex="-1"><b><%281%></b></a></td>
</tr>

<tr>
	<td colspan="2"><input type="text" name="cfKeyWord_Domain" size="32" maxlength="60" value="<%1809%>"></td>
</tr>

<tr>
	<td width="50%" align="left"><input type="submit" name="cfKeyWord_AddKeyword" value=<%283%> onClick="if(!checkKeyWord()) return false;"></td>
</tr>		

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>
</tr>
		<tr>
			<td colspan="2"><a href="javascript:loadhelp('BKS_keyword','blocklist')" tabindex="-1"><b><%284%></b></a></td>
		</tr>
		<tr>
			<td colspan="2">
				<select name="cfKeyWord_DomainList" size="6" multiple><%1810%></select> 
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" name="cfKeyWord_DeleteKeyword" onclick="if(!checkKeyWordDomainList()) return false;" value=<%286%>> 
			<input type="submit" name="cfKeyWord_ClearList" onclick="if(!checkKeyWordDomainList()) return false;" value=<%287%>></td>
		</tr>
		
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td>


</tr>
		
<tr>
 <td align="center" colspan="2">
	<input type="SUBMIT" name="wzWAN_IPFinish" value=<%157%> onClick="return checkData()">
<input type="SUBMIT" name="Cancel" value=<%159%>></td>
</tr>
 
</table>

<INPUT name=bs_enable type=hidden value= "<%1811%>">

</form>

</body>
</html>


