<!DOCTYPE HTML>
<html>
<head>
<%10%>
<link rel="stylesheet" href="form.css">
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
var isIE = document.all;
var disable = false;
var serv_array=[<%308%>];
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init_data()
{
 var cf = document.forms[0];
 //which_mode 0:means add a service 1:means edit a service
 
 chg_by_service(1);
 filterIPtype();
}
function chg_by_service(is_load)
{
 var cf = document.forms[0];
 var s = cf.service_type.selectedIndex;
 var len = cf.service_type.options.length;
 if(s<0)
 {
 s = cf.service_type.selectedIndex = 0;
 }
 disable = (pi(serv_array[s][4])==1)?true:false;
 cf.protocol.selectedIndex = pi(serv_array[s][0]);
 cf.portstart.value = serv_array[s][1];
 cf.portend.value = serv_array[s][2];
 cf.userdefined.value = serv_array[s][3];
 if(isIE)
 {
 cf.protocol.disabled = disable; 
 cf.portstart.disabled = disable;
 cf.portend.disabled = disable;
 cf.userdefined.disabled = disable;
 }
}
function iptypeSel(F)
{
 var i;
 for(i=0;i<F.iptype.length;i++)
 {
 if(F.iptype[i].checked)
 return i;
 }
}
function filterIPtype()
{
 var cf = document.forms[0];
 var sel = iptypeSel(cf);
 
 if(sel==0)
 {
 cf.f_pcip1.focus();
 }
 else if(sel==1)
 {
 cf.f_startip1.focus();
 }
 else if(sel==2)
 {
 cf.apply.focus();
 }
}
function valid(obj1,v)
{
 if(document.forms[0].iptype[pi(v)].checked==false)
 {
 obj1.blur();
 }
}
function check_data()
{
 var cf = document.forms[0];
 var sel = iptypeSel(cf);
 var txt,i,c;
 if(cf.portstart.value==""||cf.portend.value=="")
   return alertR("<%309%>");
 txt=cf.portstart.value;
 for(i=0;i<txt.length;i++)
 {
   c=txt.charAt(i);
   if("0123456789".indexOf(c,0)<0)
     return alertR("<%310%>");
 }
 txt=cf.portend.value;
 for(i=0;i<txt.length;i++)
 {
   c=txt.charAt(i);
   if("0123456789".indexOf(c,0)<0)
     return alertR("<%311%>");
 }
 if(parseInt(cf.portstart.value,10)<1||parseInt(cf.portstart.value,10)>65535)
   return alertR("<%310%>");
 if(parseInt(cf.portend.value,10)<1||parseInt(cf.portend.value,10)>65535)
   return alertR("<%311%>");
 if(parseInt(cf.portend.value,10)<parseInt(cf.portstart.value,10))
   return alertR("<%312%>");
 txt=cf.userdefined.value;
 if(txt==""||txt.match( /[^\x20-\x7E]/ ))
   return alertR("<%313%>");

 cf.portstart.value = parseInt(cf.portstart.value,10);
 cf.portend.value = parseInt(cf.portend.value,10);

 var str_lan_ip = "<%192%>";
 var str_lan_netmask = "<%193%>";
 var lan_ip = str_lan_ip.split(".");
 var lan_netmask = str_lan_netmask.split(".");
 var lan_ipaddr = (lan_ip[0] << 24) | (lan_ip[1] << 16) | (lan_ip[2] << 8)| (lan_ip[3]);
 var lan_netmaskaddr = (lan_netmask[0] << 24) | (lan_netmask[1] << 16) | (lan_netmask[2] << 8)| (lan_netmask[3]);
 var pcip_addr = (cf.f_pcip1.value << 24) | (cf.f_pcip2.value << 16) | (cf.f_pcip3.value << 8)| cf.f_pcip4.value;
 var start_ipaddr = (cf.f_startip1.value << 24) | (cf.f_startip2.value << 16) | (cf.f_startip3.value << 8)| cf.f_startip4.value;
 var end_ipaddr = (cf.f_endip1.value << 24) | (cf.f_endip2.value << 16) | (cf.f_endip3.value << 8)| cf.f_endip4.value;
 if((sel==0)&&((checkIP(cf.f_pcip1,cf.f_pcip2,cf.f_pcip3,cf.f_pcip4,254)||parseInt(cf.f_pcip4.value,10)==0)
            ||((pcip_addr & lan_netmaskaddr) != (lan_ipaddr & lan_netmaskaddr) )))
 	return alertR(msg_invalid_ip);
 else if(sel==0)
 {
 	cf.f_pcip1.value = parseInt(cf.f_pcip1.value,10);
	cf.f_pcip2.value = parseInt(cf.f_pcip2.value,10);
	cf.f_pcip3.value = parseInt(cf.f_pcip3.value,10);
	cf.f_pcip4.value = parseInt(cf.f_pcip4.value,10);
 }
 if((sel==1)&&(checkIP(cf.f_startip1,cf.f_startip2,cf.f_startip3,cf.f_startip4,254)||checkIP(cf.f_endip1,cf.f_endip2,cf.f_endip3,cf.f_endip4,254)||(parseInt(cf.f_startip4.value,10)==0)
            ||((start_ipaddr & lan_netmaskaddr) != (lan_ipaddr & lan_netmaskaddr))||((end_ipaddr & lan_netmaskaddr) != (lan_ipaddr & lan_netmaskaddr))))
	return alertR(msg_invalid_ip);
 else if(sel==1)
 {
 	cf.f_startip1.value = parseInt(cf.f_startip1.value,10);
	cf.f_startip2.value = parseInt(cf.f_startip2.value,10);
	cf.f_startip3.value = parseInt(cf.f_startip3.value,10);
	cf.f_startip4.value = parseInt(cf.f_startip4.value,10);
 }
 if((sel==1)&&(cp_ip(cf.f_endip1,cf.f_endip2,cf.f_endip3,cf.f_endip4,cf.f_startip1,cf.f_startip2,cf.f_startip3,cf.f_startip4)==false))
	return alertR("<%314%>");
 else if(sel==1)
 {
 	cf.f_endip1.value = parseInt(cf.f_endip1.value,10);
	cf.f_endip2.value = parseInt(cf.f_endip2.value,10);
	cf.f_endip3.value = parseInt(cf.f_endip3.value,10);
	cf.f_endip4.value = parseInt(cf.f_endip4.value,10);
 }
 return true;
}
//-->
</script> 	
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="change_size();init_data();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<%315%>			
	<form id="target"  name="formname" method="POST" action="fw_serv_edit.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<%316%>			
<%317%>			
	<form name="formname" method="POST" action="pppoe2_fw_serv_edit.cgi">
<%318%>			
		<div>
			
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%319%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%337%>"  onclick="buttonClick(this,'<%337%>');return check_data();" type="submit" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');location.href='BKS_service.htm'" type="button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
		
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr><td>
<table border ="0"   width="100%">

<tr>
 <td width="50%"><%300%></td>
						
 <td width="50%"> 
 <select NAME="service_type" size="1" onchange="chg_by_service(0);">
 <%338%></select></td>
</tr>
<tr>
 <td width="50%"><%321%></td>
 <td width="50%"> 
 <select name="protocol" size="1" onfocus="if(disable) this.blur();"><option selected><%322%></option><option><%323%></option><option><%324%></option></select>
	</td>
</tr>
<tr>
 <td width="50%"><%325%></td>
 <td width="50%"> 
 <input type="text" name="portstart" size="7" maxlength="5" value="" onfocus="if(disable) this.blur();">(1~65535)
	</td>
</tr>
<tr>
 <td width="50%"><%326%></td>
 <td width="50%"> 
 <input type="text" name="portend" size="7" maxlength="5" value="" onfocus="if(disable) this.blur();">(1~65535)
	</td>
</tr>
<tr>
 <td width="50%" nowrap><%327%>&nbsp;</td>
 <td width="50%"> 
 <input type="text" name="userdefined" size="20" maxlength="30" value="" onfocus="if(disable) this.blur();">
 </td>
</tr>
</table></td></tr>

<tr><td>
<table border ="0"   width="100%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
	<td colspan="2"><a href="javascript:loadhelp('BKS_service_add','ip')" tabindex="-1"><b><%328%> :</b></td>
</tr>
</table></td></tr>

<tr><td>
<table border ="0"   width="100%">

<tr>
 <td width="50%" align="left" valign="top" nowrap> 
 <input type="radio" <%339%> name="iptype" value="single" onclick="filterIPtype()"><%329%> :</td>
	<td width="50%" align="left" nowrap>					
			<input type="text" class="Num" name="f_pcip1" size="4" maxlength="3" value="<%340%>" onfocus="valid(this,0);" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_pcip2" size="4" maxlength="3" value="<%341%>" onfocus="valid(this,0);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_pcip3" size="4" maxlength="3" value="<%342%>" onfocus="valid(this,0);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_pcip4" size="4" maxlength="3" value="<%343%>" onfocus="valid(this,0);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>		
<tr>
	<td width="50%" align="left" nowrap valign="top"><br>
			<input type="radio" <%344%> name="iptype" value="range_addr" onclick="filterIPtype()"><%333%>:</td>
	<td width="50%" align="left" nowrap valign="top"><BR>
			<input type="text" class="Num" name="f_startip1" size="4" maxlength="3" value="<%345%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_startip2" size="4" maxlength="3" value="<%346%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_startip3" size="4" maxlength="3" value="<%347%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_startip4" size="4" maxlength="3" value="<%348%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<td width="50%" align="right"><%334%>&nbsp;</td>
	<td width="50%" align="left" nowrap>
			<input type="text" class="Num" name="f_endip1" size="4" maxlength="3" value="<%349%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_endip2" size="4" maxlength="3" value="<%350%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_endip3" size="4" maxlength="3" value="<%351%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
			<input type="text" class="Num" name="f_endip4" size="4" maxlength="3" value="<%352%>" onfocus="valid(this,1);" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<td colspan="2"><input type="radio" <%353%> name="iptype" value="all" onclick="filterIPtype()"><%335%></td>
</tr>


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table></td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="BKS_service_add_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<input type="hidden" name="which_mode" value="1">
			
		</div>
	<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>

