<html><head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language="JavaScript" type="text/javascript">
<!-- Start Script
var objFrame,loadingImg;

function urlredirect()
{
    loadingImg = new Image();
    loadingImg.src = "loading.gif";
    objFrame  =document.getElementById("loading");
    objFrame.src = loadingImg.src;
    
    setTimeout("top.location.replace('<%133%>')", 3500);  
}

// End Script -->
</script>
<style type="text/css">
TD {FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif}
H1 {FONT-WEIGHT: bold; FONT-SIZE: 18pt; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif}
P { FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif }
.prgbar { font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
</style>
</head>
<body onload="urlredirect();" bgcolor="#ffffff">
<table align="center" style="width:76%">

<tr style="height:20px"><td></td></tr>


<tr><td class="center_text"><h2><%1515%></h2></td></tr>
    
<tr style="height:30px"><td>&nbsp;</td></tr>

<div>

<tr><td style="text-align:center;line-height:20%;" ><img id="loading" frameborder="0" border="0" ></td></tr>

</div>

</table>
</body>
</html>

