<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers

var pchar = "|"; // progress char
var maxchars = 90; 
var delay_time = 1500; // msecs
var charcount = <%1290%>;
var update_count = 0;

function stop1()
{
	document.forms[0].stop.value = "yes";
	return true;
}
function do_submit()
{
	var cf = document.forms[0];
	cf.pgbarcount.value = charcount;
	cf.submit();
}
function warning()
{
	var cf = document.forms[0];
	if (!cf.ver_check_ena.checked) {
		if (confirm("<%1291%>")) {
			cf.ver_check_enable.value = 0;
            do_submit();
            return;
		} else {
			cf.ver_check_enable.value = 1;
			cf.ver_check_ena.checked = 1;
			return;
		}
	}

	cf.ver_check_enable.value = 1;
	do_submit();
}

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}

function updateProgress()
{
	var cf = document.forms[0];

	if ((cf.menu_top_hide.value == "no") && (cf.ver_check_enable.value == 0))
    {
        if (document.forms[0].enable_ap_mode.value == 1)
    		location.replace("RST_status.htm");
        else
	    	location.replace("BAS_basic.htm");
    }

	if (charcount == 0) {
		charcount ++;
		do_submit();
	}
	else if (charcount < maxchars) {
		if ((update_count > 0) && ((charcount-1) % 2) == 0)
		{
			do_submit();
		}
		else
		{
			cf.progress.value = makeStr(charcount,pchar);
			setTimeout("updateProgress()",delay_time);
			charcount ++;
		}
	}
	else
	{
		stop1();
		do_submit();
	}
	update_count++;
}
function set_ver_check()
{
    if (top.tophideframe)
    {
        document.forms[0].menu_top_hide.value = "yes";
        document.getElementById("ver_checkbox").style.visibility = 'hidden';
    }
}

//-->
</script>
</head>
<body bgcolor="#ffffff" onLoad="set_ver_check();updateProgress();">
<form name="formname" method="POST" action="fw_check.cgi"> 
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2">
<h1><%1292%></H1>
</td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2"><%1293%>90<%1294%></td>
</tr>
<tr></tr>
<tr></tr>

<tr>
<td nowrap align="center"><input type="text" name="progress" class="prgbar" value="" style="color: blue" size="60"
    contentEditable=false onkeydown="return false;" onbeforeeditfocus="return false;" onpaste="return false;"></td>
</tr>
<tr></tr>
<tr></tr>
<TR>
<TD colspan="2" nowrap valign=top>
    <div id="ver_checkbox" style ="visibility:visible">
        <input type=checkbox NAME=ver_check_ena value="1" onclick='warning();' <%893%>><%1295%></td>
    </div>
</tr>
<tr></tr>
<tr></tr>

<tr><td colspan="2" align="center">
<button type="BUTTON" value="<%159%>" name="Cancel" class="button-rule" onClick="return stop1();"><span class="roundleft_button">&nbsp;&nbsp; <%159%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>

</td></tr>
</table>
<input type="hidden" name="stop" value="no">
<input type="hidden" name="menu_top_hide" value="no">
<input type="hidden" name="pgbarcount" value="<%1290%>">
<input type="hidden" name="ver_check_enable" value="<%1296%>">
<input type="hidden" name="enable_ap_mode" value="<%110%>">
</form>
<p></p>
</body>
</html>

