<HTML><head>
<%10%>
<title>NETGEAR Router <%11%></title>
<SCRIPT language=JavaScript>
 function doLoad()
 {
    top.close();
 }
</SCRIPT>
</HEAD>
<BODY bgcolor="#ffffff" onload="doLoad();">
<form name="formname" method="POST" action=""> 
</BODY></HTML>

