<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="<%1947%>">	
	<title>NETGEAR Genie</title>
	
	
</head>
<script >

function submit()
{
    document.forms["target"].submit();
}

function clickHere()
{
    var mode = <%1965%>;
    if(mode == "1"){
        window.open ('start.htm','_blank','fullscreen=yes,toolbar=yes,locaiton=yes');
    }else{
        if(parent.$("#BasicTab").hasClass('current')){
            parent.loadPage("WLG_wireless_dual_band.htm");
        }else{
            parent.loadPage2("WLG_wireless_dual_band.htm");
        }        	
    }

}
</script>
<body style="background-color:#ffffff">
<form id="target"  name="formname" method="POST" action="congratulations.cgi" target="_parent">
	<table border="0" cellpadding="0" cellspacing="3"  width="99%">
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td class="centerTd"><h2><%1966%></h2></td><td>&nbsp;</td>
        <tr>
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd"><%1967%></td><td>&nbsp;</td>
        </tr>
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
        <tr>
		<td>&nbsp;</td>
                <td class="textRow centerTd" style="<%1968%>"><span><%1969%></span><span style="text-decoration:underline;font-weight:bold;cursor:pointer;" onClick="window.open ('genie_redirect_successpage2.htm','_blank','');return false;"><%1970%></span><span><%1971%></span></td>
                <td>&nbsp;</td>
        <tr>
        <tr>
		<td>&nbsp;</td><td class="textRow centerTd" style="<%1972%>"><%1973%><span title="<%1974%>" style="text-decoration:underline;"><%1975%></span>.</td><td>&nbsp;</td>
        <tr>
	<tr>
		<td>&nbsp;</td><td></td><td>&nbsp;</td>
        </tr>
	<tr>
        	<td>&nbsp;</td><td class="textRow centerTd" style="<%1972%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">2.4GHz <%1976%></span><span ><b><%1025%></span></b></td><td>&nbsp;</td>
        </tr>	
	<tr>
        	<td>&nbsp;</td>
		<td class="textRow centerTd" style="<%1977%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">5GHz <%1976%></span><span><b><%1978%></b></span>
		</td><td>&nbsp;</td>
	</tr>
	<tr>	
		<td>&nbsp;</td>	
		<td class="textRow centerTd" style="<%1972%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;"><%1979%><span title="<%1980%>" style="text-decoration:underline;"><%1981%></span></span><span><b><%1982%></span></b></td>
		<td>&nbsp;</td>
        </tr>
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd" style="visibility:hidden">&nbsp;</td><td>&nbsp;</td>
	</tr>
        <tr>
		<td>&nbsp;</td>
        	<td class="textRow centerTd">		
			<button class = "purpleBtn"  onclick="window.print();return false;"><span><%1983%></span></button>
			<span style="display:-moz-inline-box;display:inline-block;width:20px;"></span>			
			<button class = "greenBtn" onClick="window.open ('genie_redirect_successpage.htm','_blank','');return false;"><span><%1984%></span></button>
		</td>
		<td>&nbsp;</td>
	</tr>
</form>
</body>
</html>
