<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>

<script type="text/javascript">
<!--
var pchar = "||"; // progress char
var maxchars = 33; 
var delay_time = <%383%>; // msecs
var charcount = 0; 

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}
function redirect()
{
    var cf = document.forms[0];
    top.location.href=cf.next_file.value;
}
function updateProgress()
{
	var cf = document.forms[0];       
      
	if (charcount < maxchars)
	{
		charcount ++;
		cf.progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
	else
	{
                setTimeout("redirect()",1000);
	}
}
//-->
</script>
<style type="text/css">
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px;  COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
.prgbar { font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; color: #0000FF}
</style>
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="updateProgress()" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="update" action="update.cgi" method="post" onSubmit="return false">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<table border="0"   width="100%">

<tr>
</tr>
<tr>
	<td align="left">
	 <h1><%381%></h1>
 </td>
 <td nowrap align="left"> &nbsp; </td>
 <td nowrap><input type="text" name="progress" style="prgbar" value=""></td>
 <td nowrap align="left"> &nbsp; </td>
</tr>
<tr> 
 
 <td colspan="4" height="12"><hr color="#0099CC"></td>
</tr>
</table>
<input type="hidden" name="next_file" value="<%382%>">
</form>
</BODY>
</html>
