<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<script type="text/javascript">
<!--
var pchar = "|"; // progress char
var maxchars = 60;
var delay_time = 800; // msecs
var charcount = 0; 
function makeStr(strsize, fillchar)
{
	var temp = "";
	for (i=0; i < strsize ; i ++)
		temp = temp + fillchar;
	return temp;
}
function updateProgress()
{
	var cf = document.forms[0];

	if (charcount < maxchars)
	{
		charcount ++;
		cf.progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
	else
	{
		if (cf.lanip_changed.value == 1)
			top.location.replace(cf.next_file.value);
		else
			window.location.href=cf.next_file.value;
	}
}
//-->
</script>
<style type="text/css">
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px;  COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
.prgbar { font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; color: #0000FF}
</style>
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="updateProgress()" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="update">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<table border="0"   width="100%">

<tr>
</tr>
<tr>
	<td align="left">
	 <h1><%1852%></h1>
 </td>
 <td nowrap align="left"> &nbsp; </td>
 <td nowrap><input type="text" name="progress" class="prgbar" value=""></td>
 <td nowrap align="left"> &nbsp; </td>
</tr>
<tr>
 <td colspan="4" height="12"><hr color="#0099CC"></td>
</tr>
</table>
<input type="hidden" name="next_file" value="<%382%>">
<input type="hidden" name="lanip_changed" value="<%14%>">
</form>
</BODY>
</html>
