<html>
<head>
<%10%>
<meta http-equiv=refresh content=10;url=DNS_ddns_st.htm>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
</head>
<body bgcolor="#ffffff"><%380%></body>
</html>
