<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init()
{
    var cf = document.forms[0];
    var lanSplit = cf.lanIP.value.split(".");

    cf.SV_IP1.value=lanSplit[0];
    cf.SV_IP2.value=lanSplit[1];
    cf.SV_IP3.value=lanSplit[2];
    cf.SV_IP4.value="";

    return true;
}

function validIp()
{
    var cf = document.forms[0];
    if(checkIP(cf.SV_IP1,cf.SV_IP2,cf.SV_IP3,cf.SV_IP4,254)
        || parseInt(cf.SV_IP4.value,10) == 0)
    return alertR(msg_invalid_ip);
    return true;
}

function showIP()
{
    var cf = document.forms[0];
    var num = cf.entryData.value.split("#");
    var nowName = cf.svs_gm.options[cf.svs_gm.selectedIndex].value;
    var i, data1, data2, data3, flag=0;

    for(i=0; i<=num[1]; i++)
    {
        data1 = num[0].split("@");
        if(i>0)
        {
            data2 = data1[i].split(";");
            if(data2[0] == nowName)
            {
                data3 = data2[1].split(".");
                cf.SV_IP1.value=data3[0];
                cf.SV_IP2.value=data3[1];
                cf.SV_IP3.value=data3[2];
                cf.SV_IP4.value=data3[3];
                flag=1;
                break;
            }
        }
    }
    if(flag == 0)
    {
        var lanSplit = cf.lanIP.value.split(".");

        cf.SV_IP1.value=lanSplit[0];
        cf.SV_IP2.value=lanSplit[1];
        cf.SV_IP3.value=lanSplit[2];
        cf.SV_IP4.value="";
    }
    return true;
}

function Check(caller)
{
    var cf = document.forms[0];
    var form_size = cf.elements.length;
    var checkFlag = 0;

    cf.selectEntry.value = "";

    if(caller == "0")
    {
        cf.action.value = "add";
        cf.SV_IP1.value = parseInt(cf.SV_IP1.value,10);
        cf.SV_IP2.value = parseInt(cf.SV_IP2.value,10);
        cf.SV_IP3.value = parseInt(cf.SV_IP3.value,10);
        cf.SV_IP4.value = parseInt(cf.SV_IP4.value,10);
        cf.inputIP.value=cf.SV_IP1.value + "." + cf.SV_IP2.value+ "." + cf.SV_IP3.value+ "." + cf.SV_IP4.value;
        cf.selectService.value=cf.svs_gm.options[cf.svs_gm.selectedIndex].value;
    }
    else if(caller == "1")
        cf.action.value = "edit";
    else if(caller == "2")
        cf.action.value = "delete";
    else if(caller == "3")
        cf.action.value = "custom";

    if(caller == "1" || caller == "2")
    {
    	for (var i = 0; i < form_size; i++)
    	{
    		if (cf.elements[i].type == "radio")
    		{
		        if(cf.elements[i].name != "serv_type" && cf.elements[i].checked == true)
                {
                    cf.selectEntry.value = i-9;
                }
            }
        }
    }
    return;
}
function doTypeChange(newIndex)
{
	var cf = document.forms[0];
	if (newIndex == 0)
		location.href = "FW_forward2.htm";
	else if (newIndex == 1)
		location.href = "FW_pt.htm";
}

function enableFwpf()
{
	var cf = document.forms[0];
	if (cf.enable.checked)
		cf.fwpf_enable.value = 0;
	else
		cf.fwpf_enable.value = 1;
}
//-->

</script>
</head>
<body  onload="change_size(); init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="pforward.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%92%></div>
<table border="0"    style="height:370px"  class="subhead2-table">


<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:410px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
<td colspan="2">
<p><tabindex="-1"><b><%422%></b></a></p></td>
</tr>
<tr>
<td colspan="2"><input type="radio" checked name="serv_type" value="pf" onClick="doTypeChange(0)"><%423%></td>
</tr>
<tr>
<td colspan="2"><input type="radio" name="serv_type" value="pt" onClick="doTypeChange(1)"><%424%></td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td width="45%" valign="top"><a href="javascript:loadhelp('FW_forward','setup')" tabindex="-1"><b><%425%></b></a></td>
    <td width="65%"><a href="javascript:loadhelp('FW_forward','setup')" tabindex="-1"><b><%426%></b></a></td>
</tr>
<tr>
    <td valign="top">
	    <select name="svs_gm" size="1" onChange="javascript:showIP()">
	        <%427%>
	        </SELECT></td>
    <td nowrap>
        <input type="text" name="SV_IP1" class="num" size="4" maxlength="3" value="192" onFocus="this.select();" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="SV_IP2" class="num" size="4" maxlength="3" value="168" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="SV_IP3" class="num" size="4" maxlength="3" value="0" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="SV_IP4" class="num" size="4" maxlength="3" value="" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)">
	    &nbsp;&nbsp;&nbsp;<button type="Submit" value="<%304%>" name="svAdd" class="button-rule" onclick="buttonClick(this,'<%304%>');if(!validIp()) return false; Check(0);"><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%304%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" style="width:90%">
        <table border ="1" cellpadding ="2" cellspacing ="0" width="100%">
			<tr>
				<td nowrap width="3%" align="center"><span class="thead">&nbsp;</span></td>
				<td nowrap width="3%" align="center"><span class="thead">#</span></td>
		 	    <td width="26%" align="center"><span class="thead"><%425%></span></td>
				<td width="12%" align="center"><span class="thead"><%428%></span></td>
				<td width="12%" align="center"><span class="thead"><%429%></span></td>
		 	    <td width="12%" align="center"><span class="thead"><%430%></span></td>
		 	    <td width="12%" align="center"><span class="thead"><%431%></span></td>		 	    
				<td width="20%" align="center"><span class="thead"><%432%></span></td></tr>
		    <%433%>
		</table>
</td></tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


<tr><td colspan="2" align="center" height="35" valign="bottom">
	&nbsp;&nbsp;&nbsp;<button type="Submit" value="<%434%>" name="Edit" class="button-rule" onclick="buttonClick(this,'<%434%>');Check(1);"><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%434%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="Submit" value="<%435%>" name="Delete" class="button-rule" onclick="buttonClick(this,'<%435%>');Check(2);"><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%435%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<BR><BR>
	&nbsp;&nbsp;&nbsp;<button type="Submit" value="<%436%>" name="Add" class="button-rule" onclick="buttonClick(this,'<%436%>');Check(3);"><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%436%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_forward_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



    <input type="hidden" name="selectService" value="">
    <input type="hidden" name="lanIP" value="<%437%>">
    <input type="hidden" name="action" value="init">
    <input type="hidden" name="selectEntry" value="">
    <input type="hidden" name="inputIP" value="">
    <input type="hidden" name="entryData" value="<%438%>">
    <input type="hidden" name="fwpf_enable">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>
