<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
var srvtypeSel = -1;

  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init()
{
    var cf = document.forms[0];
    var data = cf.entryData.value.split(";");
    var useSameRange;
    
    if (cf.oldInternalSport.value == cf.oldSport.value && cf.oldInternalEport.value == cf.oldEport.value)
        useSameRange = 1;
    else 
        useSameRange = 0;
        
        
    if(cf.entryData.value != "")
    {
        cf.portname.value = cf.oldService.value;

        cf.port_start.value = cf.oldSport.value;
        cf.port_end.value = cf.oldEport.value;
        
        if (useSameRange == 1)
        {
            cf.same_range.checked = true;
            cf.internal_port_start.disabled=true;
            cf.internal_port_start.value = cf.port_start.value;
            cf.internal_port_end.value = cf.port_end.value;
        }
        else
        {
            cf.same_range.checked = false;
            cf.internal_port_start.disabled=false;
            cf.internal_port_start.value = cf.oldInternalSport.value;
            cf.internal_port_end.value = cf.oldInternalEport.value;
        }

        if ( cf.oldType.value == "BOTH" )
            cf.srvtype.selectedIndex = 0;
        else if ( cf.oldType.value == "TCP" )
            cf.srvtype.selectedIndex = 1;
        else if ( cf.oldType.value == "UDP" )
            cf.srvtype.selectedIndex = 2;
        srvtypeSel = cf.srvtype.selectedIndex;
        var servIP = cf.oldIP.value.split(".");
        cf.server_ip1.value = servIP[0];
        cf.server_ip2.value = servIP[1];
        cf.server_ip3.value = servIP[2];
        cf.server_ip4.value = servIP[3];
    }
    else
    {
        var lanSplit = cf.lanIP.value.split(".");

        cf.server_ip1.value=lanSplit[0];
        cf.server_ip2.value=lanSplit[1];
        cf.server_ip3.value=lanSplit[2];
        cf.server_ip4.value="";
        
        if (useSameRange == 1)
        {
            cf.same_range.checked = true;
            cf.internal_port_start.disabled=true;
        }
        else
        {
            cf.same_range.checked = false;
            cf.internal_port_start.disabled=false;
        }
    }
    return true;
}

function sel(ipaddr)
{
	var cf = document.forms[0];
	var ip = ipaddr.split(".");
	cf.server_ip1.value = ip[0];
	cf.server_ip2.value = ip[1];
	cf.server_ip3.value = ip[2];
	cf.server_ip4.value = ip[3];
}

function Check()
{
    var cf = document.forms[0];

    if(cf.portname.value==""||cf.portname.value.match( /[^\x20-\x7E]/ ))
    {
		alert("<%439%>");
		cf.portname.focus();
		return false;
	}

	if(isNumeric(cf.port_start,65535))
	{
		alert("<%440%>");
		cf.port_start.focus();
		return false;
	}
	if(isNumeric(cf.port_end,65535))
	{
		alert("<%441%>");
		cf.port_end.focus();
		return false;
	}
	if(isNumeric(cf.internal_port_start,65535))
	{
		alert("<%440%>");
		cf.internal_port_start.focus();
		return false;
	}	
	if(parseInt(cf.port_start.value,10) < 1)
	{
		alert("<%442%>");
		cf.port_start.focus();
		return false;
    }
	if(parseInt(cf.port_end.value,10) < 1)
	{
		alert("<%443%>");
		cf.port_end.focus();
		return false;
    }
    if(parseInt(cf.internal_port_start.value,10) < 1)
	{
		alert("<%442%>");
		cf.internal_port_start.focus();
		return false;
    }
	if(parseInt(cf.port_start.value,10) > parseInt(cf.port_end.value,10))
	{
		alert("<%312%>");
		cf.port_start.focus();
		return false;
    }
    
    if (!cf.same_range.checked)
    {
        if ((parseInt(cf.port_end.value,10) - parseInt(cf.port_start.value,10)) <= (65535-parseInt(cf.internal_port_start.value,10)))
        {
            //cf.internal_port_end.value = cf.internal_port_start.value + cf.port_start.value - cf.port_end.value;
            cf.internal_port_end.value = parseInt(cf.internal_port_start.value,10) - parseInt(cf.port_start.value,10) + parseInt(cf.port_end.value,10);        
        }
        else
        {
            alert("<%441%>");
    		return false;
        }
    }

    if(isNumeric(cf.internal_port_end,65535))
	{
		alert("<%441%>");
		//cf.internal_port_end.focus();
		return false;
	}
    
	cf.port_start.value = parseInt(cf.port_start.value,10);
	cf.port_end.value = parseInt(cf.port_end.value,10);

	cf.internal_port_start.value = parseInt(cf.internal_port_start.value,10);
	cf.internal_port_end.value = parseInt(cf.internal_port_end.value,10);

	if(checkIP(cf.server_ip1,cf.server_ip2,cf.server_ip3,cf.server_ip4,254)
		|| parseInt(cf.server_ip4.value,10) == 0)
	{
        alert("<%9%>")
		return false;
	}
	else
	{
		cf.server_ip1.value = parseInt(cf.server_ip1.value,10);
		cf.server_ip2.value = parseInt(cf.server_ip2.value,10);
		cf.server_ip3.value = parseInt(cf.server_ip3.value,10);
		cf.server_ip4.value = parseInt(cf.server_ip4.value,10);
	}
	return true;
}

function Final()
{
    var cf = document.forms[0];

	if(cf.entryData.value != "")
	    cf.action.value = "edit_apply";
	else
	    cf.action.value = "add_apply";

    cf.newType.value = cf.srvtype.options[cf.srvtype.selectedIndex].value;
	cf.newIP.value = cf.server_ip1.value + "." + cf.server_ip2.value + "." +
	                 cf.server_ip3.value + "." + cf.server_ip4.value;

    if( (cf.entryData.value != "")&&
        (cf.oldIP.value == cf.newIP.value)&&
        (cf.srvtype.selectedIndex == srvtypeSel)&&
        (cf.port_start.value == cf.oldSport.value)&&
        (cf.port_end.value == cf.oldEport.value) &&
        (cf.internal_port_start.value == cf.oldInternalSport.value)&&
        (cf.internal_port_end.value == cf.oldInternalEport.value)        
      )
    {
        cf.entryData.value = "NoEdit";
    }
    else
    {
        cf.entryData.value = "";
    }
                  
    return true;
}

function setInternalPortDisable()
{
    var cf = document.forms[0];
	if (cf.same_range.checked)
	{
	    cf.internal_port_start.disabled=true;
        cf.internal_port_start.value = cf.port_start.value;
        cf.internal_port_end.value = cf.port_end.value;
    }
    else
    {
        cf.internal_port_start.disabled=false;
    }
}

function internal_port_update()
{
    var cf = document.forms[0];
    
    if (cf.same_range.checked)
	{
	    cf.internal_port_start.value = cf.port_start.value; 
	    cf.internal_port_end.value = cf.port_end.value;
	}
	else
	{
        if((cf.port_start.value.length>0)&&(cf.port_end.value.length>0)&&(cf.internal_port_start.value.length>0))
        {
            //cf.internal_port_end.value = cf.internal_port_start.value - cf.port_start.value + cf.port_end.value;
            //cf.internal_port_end.value = parseInt(cf.internal_port_start.value,10) - parseInt(cf.port_start.value,10) + parseInt(cf.port_end.value,10);        
            if ((parseInt(cf.port_end.value,10) - parseInt(cf.port_start.value,10)) <= (65535-parseInt(cf.internal_port_start.value,10)))
            {
                cf.internal_port_end.value = parseInt(cf.internal_port_start.value,10) - parseInt(cf.port_start.value,10) + parseInt(cf.port_end.value,10);        
            }
            else
            {
                alert("<%441%>");
        		return false;
            }

        }
    }
}
//-->

</script>
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="change_size(); init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" action="pforward.cgi" method="POST">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
	<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%444%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');if(!Check()) return false; Final();" type="submit" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');location.href='FW_forward2.htm'" type="button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        <tr>
	        <td colspan="2">
		        <table border ="0" cellpadding ="0" cellspacing ="0" width="100%">
			        <tr>
		 	            <TD NOWRAP width="37%"><%425%></td>
				        <TD NOWRAP width="63%">
				            <input type="text" name="portname" size="30" maxlength="30" value=""></td></tr>
				    <tr>
				        <TD NOWRAP width="37%"><%300%></td>
				        <TD NOWRAP width="63%">
				            <select name="srvtype" size="1">
				                <option value="TCP/UDP"><%324%></option>
				                <option value="TCP"><%322%></option>
				                <option value="UDP"><%323%></option></SELECT></TD></TR>
		            <tr>
				        <TD NOWRAP width="37%"><%445%></td>
				        <TD NOWRAP width="63%">
				            <input type="text" class="num" name="port_start" size="6" maxlength="5" value="" onBlur="internal_port_update()" onFocus="this.select();">(1~65535)	</td></tr>
		            <tr>
		 	            <TD NOWRAP width="37%"><%446%></td>
		 	            <TD NOWRAP width="63%">
		 	                <input type="text" class="num" name="port_end" size="6" maxlength="5" value="" onBlur="internal_port_update()" onFocus="this.select();">(1~65535)	</td></tr>
                    <tr>
                       <TD colspan="2">
                        <input type="checkbox" name="same_range" value="same_range" onClick="setInternalPortDisable();"> <%447%> </td></tr>

		            <tr>
				        <TD NOWRAP width="37%"><%448%></td>
				        <TD NOWRAP width="63%">
				            <input type="text" class="num" name="internal_port_start" size="6" maxlength="5" value="" onBlur="internal_port_update()" onFocus="this.select();">(1~65535)	</td></tr>

		            <tr>
		 	            <TD NOWRAP width="37%"><%449%></td>
		 	            <TD NOWRAP width="63%">
		 	                <input class="num" type="text" name="internal_port_end" disabled="true" style = "border:1px #FFFFFF" value=""></td></tr>
			        <tr>
				        <TD NOWRAP width="37%"><%432%></td>
				        <TD NOWRAP width="63%">
				            <input type="text" class="num" name="server_ip1" size="4" maxlength="3" value="192" onFocus="this.select();" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
                            <input type="text" class="num" name="server_ip2" size="4" maxlength="3" value="168" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                            <input type="text" class="num" name="server_ip3" size="4" maxlength="3" value="0" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                            <input type="text" class="num" name="server_ip4" size="4" maxlength="3" value="" onFocus="this.select();" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td></tr>
			        <tr>
				        <TD NOWRAP width="37%"><img src="spacer.gif" width="1" height="18" border="0" alt="" /></td>
				        <TD NOWRAP width="63%"><%450%></td></tr>
                    <tr>
				        <TD NOWRAP width="37%"><img src="spacer.gif" width="1" height="18" border="0" alt="" /></td>
				        <TD NOWRAP width="63%">
				            <table border="1" cellpadding="2" cellspacing="0" width="100%">
                            <tr>
                             <td nowrap align="center" width="20%"><span class="thead"> &nbsp;</span></td>
                             <td nowrap align="center" width="30%"><span class="thead"><%169%></span></td>
                             <td nowrap align="center" width="50%"><span class="thead"><%360%></span></td>
                            </tr><%451%></table>
				        </td>
				    </tr>				        
			    </table></td></tr>
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        
    </table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_forward_service_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



    <input type="hidden" name="action" value="init">
    <input type="hidden" name="oldService" value="<%452%>">
    <input type="hidden" name="oldType" value="<%453%>">
    <input type="hidden" name="newType" value="">
    <input type="hidden" name="oldSport" value="<%454%>">
    <input type="hidden" name="oldEport" value="<%455%>">
    <input type="hidden" name="oldInternalSport" value="<%456%>">
    <input type="hidden" name="oldInternalEport" value="<%457%>">
    <input type="hidden" name="oldIP" value="<%458%>">
    <input type="hidden" name="newIP" value="">
    <input type="hidden" name="lanIP" value="<%437%>">
    <input type="hidden" name="entryData" value="<%438%>">
    

<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

