<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--
var isInited = 0;
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init()
{
    var cf = document.forms[0];

    if (typeof(cf.enable_log) != "undefined")
    {
        if(cf.log_enable.value == "1")
           cf.enable_log.checked = true;
        else if(cf.log_enable.value != "111")
            cf.enable_log.checked = false;
    }

    if (cf.log_filter.value & 1)
        cf.log_cat_1.checked = true;
    if (cf.log_filter.value & 2)
        cf.log_cat_2.checked = true;
    if (cf.log_filter.value & 4)
        cf.log_cat_3.checked = true;
    if (cf.log_filter.value & 8)
        cf.log_cat_4.checked = true;
    if (cf.log_filter.value & 16)
        cf.log_cat_5.checked = true;
    if (cf.log_filter.value & 32)
        cf.log_cat_6.checked = true;
    if (cf.log_filter.value & 64)
        cf.log_cat_7.checked = true;
    if (cf.log_filter.value & 128)
        cf.log_cat_8.checked = true;
    if (cf.log_filter.value & 256)
        cf.log_cat_9.checked = true;        

    isInited = 1;

    return true;
}

function check_log_category()
{
    var cf = document.forms[0];
    var value = 0;

    if (cf.log_cat_1.checked)
        value = value + 1;
    if (cf.log_cat_2.checked)
        value = value + 2;
    if (cf.log_cat_3.checked)
        value = value + 4;
    if (cf.log_cat_4.checked)
        value = value + 8;
    if (cf.log_cat_5.checked)
        value = value + 16;
    if (cf.log_cat_6.checked)
        value = value + 32;
    if (cf.log_cat_7.checked)
        value = value + 64;
    if (cf.log_cat_8.checked)
        value = value + 128;
    if (cf.log_cat_9.checked)
        value = value + 256;
        
    cf.log_filter.value = value;

    return true;
}

function is_email_on()
{
    var cf = document.forms[0];
    if(cf.email_on.value == 0)
    {
        alert("<%459%>");
        return false;
    }
    return true;
}

function clearLog()
{
    var cf = document.forms[0];
    cf.log_clear.value=1;
    cf.log_detail.value="";
    cf.log_send.value=0;
}

function SetEnableValue()
{
    var cf = document.forms[0];
    if(cf.enable_log.checked == true)
        cf.log_enable.value = "1";
    if(cf.enable_log.checked == false)
        cf.log_enable.value = "0";
    cf.submit();
}

function refreshLog()
{
    var cf = document.forms[0];
    cf.log_refresh.value=1;
    cf.log_detail.value="";
    cf.log_send.value=0;
}

function sendLog()
{
    var cf = document.forms[0];
    if(cf.log_detail.value < 5)
    {
        alert("<%460%>");
        return false;
    }
    cf.log_send.value=1;
    cf.log_detail.value=""
    return true;
}
//-->
</script>
</head>
<body  onload="change_size();init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  action=fwLog.cgi method="POST">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
	<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%82%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="if(!isInited) return false; buttonClick(this,'<%157%>');check_log_category();" type=submit name=action_apply class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');reset();init();" type=button name=action_cancel class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
<%461%>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
 <td colspan="2"><input type="checkbox" name="enable_log" <%462%> onclick="SetEnableValue();"><b>Turn logging on</b>
</tr>
<%463%>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
 <td colspan="2" align="center">
 <table border="0" cellspacing="0" cellpadding="0">
 <tr>
 <td colspan="2"><b><%464%>: <%465%></b>
 </td>
 </tr>
 <tr>
 <td colspan="2">
<TEXTAREA NAME="log_detail" class="smallfix" ROWS="15" cols="60" WRAP="vitural" READONLY tabindex="-1"><%466%>
</textarea></td>
 </tr>
 </table>
</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
 <td colspan="2" align="center" height="35">
    &nbsp;&nbsp;&nbsp;<button type=submit value="<%358%>" name=action_Refresh class="button-rule" onClick="buttonClick(this,'<%358%>');refreshLog()"><span class="roundleft_button">&nbsp;&nbsp; <%358%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button> &nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<button type=submit value="<%467%>" name=action_Clear class="button-rule" onClick="buttonClick(this,'<%467%>');clearLog()"><span class="roundleft_button">&nbsp;&nbsp; <%467%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button> &nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<button type=submit value="<%468%>" name=action_Send class="button-rule" onclick="buttonClick(this,'<%468%>');if(!is_email_on()) return false; if(!sendLog()) return false;"><span class="roundleft_button">&nbsp;&nbsp; <%468%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td colspan="2"><b><%469%></b></td></tr>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_1 type=checkbox value=checkboxValue><%470%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_2 type=checkbox value=checkboxValue><%471%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_3 type=checkbox value=checkboxValue><%472%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_4 type=checkbox value=checkboxValue><%473%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_5 type=checkbox value=checkboxValue><%474%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_6 type=checkbox value=checkboxValue><%475%></TD></TR>
<TR>
    <TD colSpan=2 colspan="2" >
        <INPUT name=log_cat_7 type=checkbox value=checkboxValue><%476%></TD></TR>
<TR>
    <TD colSpan=2>
        <INPUT name=log_cat_8 type=checkbox value=checkboxValue><%477%></TD></TR>
<TR>
    <TD colSpan=2>
        <INPUT name=log_cat_9 type=checkbox value=checkboxValue><%478%></TD></TR>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>



</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_log_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



    <INPUT name=email_on type=hidden value="<%479%>">
    <INPUT name=log_refresh type=hidden value= 0>
    <INPUT name=log_send type=hidden value= "<%480%>">
    <INPUT name=log_clear type=hidden value= 0>
    <INPUT name=log_enable type=hidden value= "<%481%>">
    <INPUT name=log_filter type=hidden value="<%482%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>
