<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function chgSel_df(index)
{
	var cf = document.forms[0];
	cf.df_sel.value = index;
	cf.custom_sel.value = -1;
}
function chgSel(index)
{
	var cf = document.forms[0];
	cf.custom_sel.value = index;
	cf.df_sel.value = -1;
}

function checkData()
{
	var cf = document.forms[0];
	var timeout = cf.fwpt_timeout.value;
	if (cf.fwpt_timeout.value.length == 0 || !_isNumeric(timeout) || timeout <= 0 ||
		cf.fwpt_timeout.value.match ( /^0/ ))
	{
		alert("<%1223%>");
		return false;
	}
	else
	{
		cf.fwpt_timeout.value = parseInt(cf.fwpt_timeout.value,10);
	}
	return true;
}
function doTypeChange(newIndex)
{
	var cf = document.forms[0];
	if (newIndex == 0)
		location.href = "FW_forward2.htm";
	else if (newIndex == 1)
		location.href = "FW_pt.htm";
}

function srvAction(index)
{
    var cf = document.forms[0];
    var count = cf.policyCount.value;
    cf.Add.value = "";
    cf.Edit.value = "";
    cf.Delete.value = "";
    
    switch (index) {
        case 1:
            if (count == 20)
            {
                alert("<%1224%>");
                return false;
            }
            cf.Add.value = "Add";
            break;
        case 2:
            cf.Edit.value = "Edit";
            break;
        case 3:
            cf.Delete.value = "Delete";
            break;
        default:
            break;
    }
    cf.submit();
}
//-->
</script>
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="change_size();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="fwpt.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%92%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');return checkData();"  type="submit" name="srvApply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');"  type="reset" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
<td colspan="2">
<p><tabindex="-1"><b><%422%></b></a></p></td>
</tr>
<tr>
<td colspan="2"><input type="radio" name="serv_type" value="pf" onClick="doTypeChange(0)"><%423%></td>
</tr>
<tr>
<td colspan="2"><input type="radio" checked name="serv_type" value="pt" onClick="doTypeChange(1)"><%424%></td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr><td nowrap width="46%"><input type="checkbox" name="fwpt_enable" value="1" <%1225%>><B><tabindex=-1><%1226%></a></B></td>
<td nowrap width="54%"></td></tr>
<tr></tr>
<tr>
<td nowrap width="46%"><B><a href="javascript:loadhelp('FW_pt','pt_timeout')" tabindex=-1><%1227%></a></B><%904%></td>
<td nowrap width="54%" align="right"><input type="text" class="num" name="fwpt_timeout" size="5" maxlength="4" value="<%1228%>" onFocus="this.select();" ></td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
 <td colspan="2"><b><tabindex=-1><%1229%></a></b></td>
</tr>

<tr>
<td colspan="2">
<table border ="1" cellpadding ="0" cellspacing ="0" width="100%">
<TR>
	<td nowrap width="3%" align="center"><span class="thead">&nbsp;</span></td>
	<td nowrap width="3%" align="center"><span class="thead">#</span></td>
	<td nowrap align="center"><span class="thead"><%236%></span></td>
	<td nowrap align="center"><span class="thead"><%425%></span></td>
	<td nowrap align="center"><span class="thead"><%300%></span></td>
	<td nowrap align="center"><span class="thead"><%1230%></span></td>
	<td nowrap align="center"><span class="thead"><%1231%></span></td></tr>
</TR> 
	<%1232%>
</table>
</td>
</tr>

<tr><td colspan="2" align="center" height="35" valign="bottom">
&nbsp;&nbsp;&nbsp;<button type="button" value="<%1233%>" name="srvAdd" class="button-rule" onclick="buttonClick(this,'<%1233%>');srvAction(1);"><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1233%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="button" value="<%434%>" name="srvEdit" class="button-rule" onclick="buttonClick(this,'<%434%>');srvAction(2);"><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%434%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="button" value="<%435%>" name="srvDelete" class="button-rule" onclick="buttonClick(this,'<%435%>');srvAction(3);"><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%435%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td></tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_pt_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</TABLE>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>


 
<input type="hidden" name="df_sel" value="-1">
<input type="hidden" name="custom_sel" value="-1">
<input type=hidden name=Add value="">
<input type=hidden name=Edit value="">
<input type=hidden name=Delete value="">
<input type=hidden name=Apply value="Apply">
<input type=hidden name=policyCount value="<%1234%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>


