<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function checkRemoteMG()
{
	var cf = document.forms[0];

	if(cf.remote_mg_enable.checked)
		cf.http_rmenable.value = 1;
	else
		cf.http_rmenable.value = 0;

	if(cf.rm_access[1].checked) /* range of IP */
	{
		if (checkIP(cf.start_ip_1, cf.start_ip_2, cf.start_ip_3, cf.start_ip_4, 254))
		{
			alert("<%484%>");
			return false;
		}
		else if (checkIP(cf.fin_ip_1, cf.fin_ip_2, cf.fin_ip_3, cf.fin_ip_4, 254))
		{
			alert("<%485%>");
			return false;
		}
		else if (cp_ip(cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4))
		{
			alert("<%486%>");
			return false;
		}
		else
		{
			cf.start_ip_1.value = parseInt(cf.start_ip_1.value,10);
			cf.start_ip_2.value = parseInt(cf.start_ip_2.value,10);
			cf.start_ip_3.value = parseInt(cf.start_ip_3.value,10);
			cf.start_ip_4.value = parseInt(cf.start_ip_4.value,10);
			cf.fin_ip_1.value = parseInt(cf.fin_ip_1.value,10);
			cf.fin_ip_2.value = parseInt(cf.fin_ip_2.value,10);
			cf.fin_ip_3.value = parseInt(cf.fin_ip_3.value,10);
			cf.fin_ip_4.value = parseInt(cf.fin_ip_4.value,10);
			cf.http_rmstartip.value = cf.start_ip_1.value+'.'+cf.start_ip_2.value+'.'+cf.start_ip_3.value+'.'+cf.start_ip_4.value;
			cf.http_rmendip.value = cf.fin_ip_1.value+'.'+cf.fin_ip_2.value+'.'+cf.fin_ip_3.value+'.'+cf.fin_ip_4.value;
		}
	}
	else if(cf.rm_access[0].checked) /* a specific IP */
	{
		var local_ip = cf.local_ip_1.value+'.'+cf.local_ip_2.value+'.'+cf.local_ip_3.value+'.'+cf.local_ip_4.value;
		if (checkIP(cf.local_ip_1, cf.local_ip_2, cf.local_ip_3, cf.local_ip_4, 254)||(parseInt(cf.local_ip_4.value,10) ==0)
			|| (cf.http_wanipaddr.value == local_ip))
		{
			alert("<%9%>");
			return false;
		}
		else
		{
			cf.local_ip_1.value = parseInt(cf.local_ip_1.value,10);
			cf.local_ip_2.value = parseInt(cf.local_ip_2.value,10);
			cf.local_ip_3.value = parseInt(cf.local_ip_3.value,10);
			cf.local_ip_4.value = parseInt(cf.local_ip_4.value,10);
			cf.http_rmstartip.value = local_ip;
			cf.http_rmendip.value = cf.http_rmstartip.value;
		}
	}
	else /* everyone */
	{
		cf.http_rmstartip.value = "0.0.0.0";
		cf.http_rmendip.value = "255.255.255.255";
	}
	if(isNaN(cf.http_rmport.value) || !_isNumeric(cf.http_rmport.value)||
	   parseInt(cf.http_rmport.value,10) < 1024 ||
	   parseInt(cf.http_rmport.value,10) > 65535 ||
	   cf.http_rmport.value.indexOf(".") != -1)
	{
	    alert("<%487%>");
	    cf.http_rmport.focus();
	    return false;
	}
	else
		cf.http_rmport.value = parseInt(cf.http_rmport.value,10);
	return true;
}

function init()
{
    var cf = document.forms[0];
    var dflag; 

	if (cf.http_rmenable.value == 1)
		cf.remote_mg_enable.checked = true;

	if ((cf.http_rmstartip.value == "0.0.0.0") && (cf.http_rmendip.value == "255.255.255.255")) /* everyone */
	{
		cf.rm_access[2].checked = true;		
		dflag = cf.rm_access[2].checked;
		setDisabled(dflag,cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4);
        setDisabled(dflag,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4);
        setDisabled(dflag,cf.local_ip_1,cf.local_ip_2,cf.local_ip_3,cf.local_ip_4);
        clearData1();
	}
	else if (cf.http_rmstartip.value == cf.http_rmendip.value) /* a specific IP */
	{
		var startip = cf.http_rmstartip.value.split(".");

		cf.rm_access[0].checked = true;		
		dflag = cf.rm_access[0].checked;
		setDisabled(dflag,cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4);
        setDisabled(dflag,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4);
        
		cf.local_ip_1.value = startip[0];
		cf.local_ip_2.value = startip[1];
		cf.local_ip_3.value = startip[2];
    	cf.local_ip_4.value = startip[3];
        clearData3();
	}
	else /* range of IP */
	{
		var startip = cf.http_rmstartip.value.split(".");
		var endip = cf.http_rmendip.value.split(".");

		cf.rm_access[1].checked = true;
		dflag = cf.rm_access[1].checked;
		setDisabled(dflag,cf.local_ip_1,cf.local_ip_2,cf.local_ip_3,cf.local_ip_4);
		
    	cf.start_ip_1.value = startip[0];
    	cf.start_ip_2.value = startip[1];
    	cf.start_ip_3.value = startip[2];
    	cf.start_ip_4.value = startip[3];
    	cf.fin_ip_1.value = endip[0];
    	cf.fin_ip_2.value = endip[1];
    	cf.fin_ip_3.value = endip[2];
    	cf.fin_ip_4.value = endip[3];
        clearData2();
	}
}

function clearData1()
{
	var cf = document.forms[0];
	
    var dflag = cf.rm_access[2].checked;
    setDisabled(dflag,cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4);
    setDisabled(dflag,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4);
    setDisabled(dflag,cf.local_ip_1,cf.local_ip_2,cf.local_ip_3,cf.local_ip_4);
    
	cf.start_ip_1.value = "";
	cf.start_ip_2.value = "";
	cf.start_ip_3.value = "";
	cf.start_ip_4.value = "";
	cf.fin_ip_1.value = "";
	cf.fin_ip_2.value = "";
	cf.fin_ip_3.value = "";
   	cf.fin_ip_4.value = "";
	cf.local_ip_1.value = "";
	cf.local_ip_2.value = "";
	cf.local_ip_3.value = "";
	cf.local_ip_4.value = "";
}

function clearData2()
{
	var cf = document.forms[0];
	
	var dflag = cf.rm_access[1].checked;
    setDisabled(dflag,cf.local_ip_1,cf.local_ip_2,cf.local_ip_3,cf.local_ip_4);
    dflag = false;
    setDisabled(dflag,cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4);
    setDisabled(dflag,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4);

	cf.local_ip_1.value = "";
	cf.local_ip_2.value = "";
	cf.local_ip_3.value = "";
	cf.local_ip_4.value = "";
}

function clearData3()
{
	var cf = document.forms[0];
	
    var dflag = cf.rm_access[0].checked;
    setDisabled(dflag,cf.start_ip_1,cf.start_ip_2,cf.start_ip_3,cf.start_ip_4);
    setDisabled(dflag,cf.fin_ip_1,cf.fin_ip_2,cf.fin_ip_3,cf.fin_ip_4);
    dflag = false;
    setDisabled(dflag,cf.local_ip_1,cf.local_ip_2,cf.local_ip_3,cf.local_ip_4);
    
	cf.start_ip_1.value = "";
	cf.start_ip_2.value = "";
	cf.start_ip_3.value = "";
	cf.start_ip_4.value = "";
	cf.fin_ip_1.value = "";
	cf.fin_ip_2.value = "";
	cf.fin_ip_3.value = "";
   	cf.fin_ip_4.value = "";
}

//-->
</script>
</head>
<body  onload="change_size();init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="remotemg" action="fwRemote.cgi" method="post">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
	<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%95%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');if(!checkRemoteMG()) return false;" type="submit" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');location.href='FW_remote.htm'" type="button" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        <tr>
            <td nowrap colspan="2">
                <input type="checkbox"  name="remote_mg_enable" value="remote_mg"><a href="javascript:loadhelp('FW_remote','turnon')" tabindex="-1"><b><%488%></b></a></td></tr>
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        <tr>
            <td nowrap colspan="2"><a href="javascript:loadhelp('FW_remote','address')" tabindex="-1"><b><%489%>:</b></a></td></tr>
        <tr>
            <td nowrap colspan="2"><%490%></td></tr>
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        <tr>
            <td valign="top" colspan="2"><A href="javascript:loadhelp('FW_remote','access')" tabindex="-1"><B><%491%>:</b></a></td></tr>
        <tr>
            <td nowrap width="50%">
                <input type="radio" name="rm_access" value="ip_single" onClick="clearData3()"> <%492%>:</td>
            <td nowrap width="50%" align="right" class="num">
                <input type="text" class="num" size="4" maxlength="3" name="local_ip_1" value="" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="local_ip_2" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="local_ip_3" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="local_ip_4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td></tr>
        <tr>
            <td colspan="2">&nbsp;</td></tr>
        <tr>
            <td nowrap>
                <input type="radio" name="rm_access" value="ip_range" onClick="clearData2()"> <%333%>:</td>
            <td nowrap align="right"><%493%> <span class="num">
                <input type="text" class="num" size="4" maxlength="3" name="start_ip_1" value="" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="start_ip_2" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="start_ip_3" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="start_ip_4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></span></td></tr>
        <tr>
            <td nowrap>&nbsp;</td>
            <td nowrap align="right"> <%494%> <span class="num">
                <input type="text" class="num" size="4" maxlength="3" name="fin_ip_1" value="" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="fin_ip_2" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="fin_ip_3" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
                <input type="text" class="num" size="4" maxlength="3" name="fin_ip_4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></span></td></tr>
        <tr>
            <td colspan="2">&nbsp;</td></tr>
        <tr>
            <td nowrap colspan="2">
                <input type="radio"  checked name="rm_access" value="all" onClick="clearData1()"> <%495%></td></tr>
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        <tr>
            <td nowrap><a href="javascript:loadhelp('FW_remote','port')" tabindex="-1"><b><%496%>:</b></a></td>
            <td nowrap align="right">
                <input type="text" class="num" name="http_rmport" value="<%497%>" size=6 maxlength=5></td></tr>
        <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
        
    </table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_remote_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



    <INPUT name=http_rmenable type=hidden value= "<%498%>">
    <INPUT name=http_rmstartip type=hidden value= "<%499%>">
    <INPUT name=http_rmendip type=hidden value= "<%500%>">
    <INPUT name=http_wanipaddr type=hidden value= "<%501%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>


