<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<link rel="stylesheet" href="<%1947%>">
<script language="javascript" type="text/javascript">
<!--
function checkSel(){
 if (document.formname.WANDetc[0].checked == true)
     window.location.href="genie_fix.htm";
 else if (document.formname.WANDetc[1].checked == true || document.formname.WANDetc[2].checked == true)
     window.location.href="genie_ether.htm";
 else
     alert("<%1957%>")

}


function loadSettings()
{
        <%1958%>;                	          
        if(top.parent.frames['topframe'] != null){
            top.parent.frames['topframe'].location="genie_top.htm"; 
        }
	var cf = document.forms[0];	
	cf.WANDetc[1].checked = false;
	cf.WANDetc[0].checked = false;
	cf.WANDetc[2].checked = false;
}

//-->
</script>
</head>

<body bgcolor="#ffffff" onload="loadSettings();">
<form name="formname"> 
<table border="0" cellpadding="0" cellspacing="0" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%1959%></h2>
	</td>
	<td>&nbsp;</td>
</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%1960%><br><br></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td  class="textRow centerTd"  colspan="2" nowrap><input type="radio"  checked name="WANDetc" value="Fixed"><span style="padding-left:10px;"><%1961%></span></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd" colspan="2" nowrap><input type="radio" name="WANDetc" value="No"><span style="padding-left:10px;"><%1962%></span></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd" colspan="2" nowrap><input type="radio" name="WANDetc" value="DontKnow"><span style="padding-left:10px;"><%1963%></span><br><br></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%1964%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">
		<button value="submit" class="purpleBtn" name="Next" onClick="checkSel()" type="button"><span><%1956%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>

</table>
</form>
</body>

</html>
