<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<%10%>
<title>NETGEAR   Genie</title>	
<style>
		html, body {
			margin: 0;
			padding: 0;
		}		
</style>
	<script type="text/javascript">

	function do_submit()
	{
		document.forms[0].submit();		
	}
	function wait1()
	{
		setTimeout('do_submit()',4000);
	}

	</script>
</head>
<body  onLoad="do_submit();">			
	<table colspan="2"border="0" cellpadding="0" cellspacing="3"  width="99%">	
	<form name="formname" method="POST" action="geniemanual.cgi">
		 <input type="hidden" name="WDect" value="Execute">
	</form>
	</table>
	
</body>
