<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<%111%>
<link rel="stylesheet" href="<%1947%>">
<script language="javascript" type="text/javascript">
<!--
function check_restore()
{
	if(document.forms[0].mtenRestoreCfg.value.length == 0)
	{
		alert("<%112%>");
		return false;
	}
	if(confirm("<%113%>"))
		return true;
	else
		return false;
}
//-->
</script> 
</head>
<body bgcolor="#ffffff">
<form method="POST" action="genierestore.cgi" ENCTYPE="multipart/form-data">
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd"><h2><%1989%></h2></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><%1990%></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="inputRow centerTd"><input type="FILE" class="file" name="mtenRestoreCfg" value="" size="40" maxlength="1024"
		contentEditable=false onkeydown="return false;" onbeforeeditfocus="return false;" onpaste="return false;"></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">	
		<button value="submit" class="purpleBtn" name="back" onClick="window.location.href='genie_result.htm';" type="button"><span><%1991%></span></button>
		<button value="submit" class="purpleBtn" name="mtenRestore" onClick="if(!check_restore()) return false;" type="submit"><span><%1956%></span></button>
        </td>
	<td>&nbsp;</td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2"  height="14"></td>
</tr>
</table>
</form>
</body>
</html>

