<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<script>

function choice_redirect_page()
{
    if(("<%12%>" == "1") && ("<%13%>" == "1"))
    {
        top.location.replace("http://www.routerlogin.com/welcome.htm");
    }
    else
    {
        top.location.replace("http://<%192%>/genie_index.htm");
    }
}

</script>
</head>
  <body onLoad="choice_redirect_page();">

  </body>
</html>
