<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<script>
function do_redirect()
{
   <%2032%>
   window.moveTo(0, 0);
   window.resizeTo(screen.width, screen.height);
   top.window.location.href = "<%133%>";
}
</script>
</head>
<body onLoad="do_redirect();">			
</body>
