<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NETGEAR   Genie</title>
<link rel="stylesheet" type="text/css" href="<%1947%>">
<script type="text/javascript">
        var t,objFrame,loadingImg;

	function wait1()
	{
                <%1948%>;
                
		loadingImg = new Image();
                loadingImg.src = "loading.gif";
                objFrame  = document.getElementById("loading");
     		objFrame.src = loadingImg.src;                  
		t = setTimeout('do_submit()',1500);                 
                if(top.parent.frames['topframe'] != null ){           
                   top.parent.frames['topframe'].location="genie_top.htm"; 
                }         
                return false;
	}

	function do_submit()
	{
		document.forms[0].submit();
		objFrame.src = loadingImg.src;  
                clearTimeout(t);
                return false;
	}

</script>
</head>
<body  onLoad="wait1();" bgcolor="#ffffff">
	<table border="0" cellpadding="0" cellspacing="3"  width="99%">
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td class="centerTd"><h2><%2008%></h2></td><td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd" ><p><%2009%></p></td><td>&nbsp;</td>
	<tr>
	<tr style="line-height:40px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>	
	<tr>
		<td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" frameborder="0" border="0" ></td><td>&nbsp;</td>
	</tr>
	<form name="formname" method="POST" action="geniewan.cgi">
		 <input type="hidden" name="WDect" value="Execute">
	</form>
	</table>
</body>
