<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<link rel="stylesheet" type="text/css" href="<%1947%>">

<script language="javascript" type="text/javascript">
<!--

	var t;
	function do_submit()
        {
        	document.forms[0].submit();         
                clearTimeout(t);
                t = setTimeout('after_submit()',1000);
                
	}

	function wait1()
	{
		t = setTimeout('do_submit()',1500);
	}

	function after_submit()
	{             
                clearTimeout(t);
		var objFrame=document.getElementById("loading");
     		objFrame.src = "loading.gif";                          
	}



//-->
</script>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"  onLoad="wait1();">


<table border="0" cellpadding="0" cellspacing="3" width="99%">
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="centerTd">
			 <h2><%1532%></h2>
	        </td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd" ><%1988%></td><td>&nbsp;</td>
	<tr>
	<tr style="height:40px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>	
	<tr>
		<td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" src="loading.gif" frameborder="0" border="0" ></td><td>&nbsp;</td>
	</tr>

	<form name="formname" action="genie_dyn.cgi" method="POST" >
		<input type="hidden" name="apply" value="Execute">
	</form>
</table>

</body>

</html>

