<html>
  <head>
  <%10%>
  <title>NETGEAR   Genie</title> 
  <link rel="stylesheet" type="text/css" href="css/mainpage.css">
  </head>
  <body>
     <%2146%> 
    <table style="height:92px;width:100%;margin:0;padding:0" CELLPADDING=0 CELLSPACING=0 class="topframe">
      <tr>
          <td style="padding-left:20px"><img src="img/Netgeargenie.png" ><br><b><%11%><b></td>
          <%2076%>
          <td style="text-align:right;padding-right:25px"><b><%2147%>:</b><br><%2077%></td>  
          <%2078%>
     </tr>
     <tr>
         <td>&nbsp;</td>
     </tr>
    </table>
  </body>
</html>
