<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<script>
function do_redirect()
{
    //force to blank_state after restore config
    <%2005%>
    window.location.href="genie_ping.htm";
}
</script>
</head>
<body onLoad="do_redirect();">
</body>
