<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR genie</title>
<script type="text/javascript">
	function showFWVer()
	{
                <%1958%>; 
                if(top.parent.frames['topframe'] != null){               	          
                   top.parent.frames['topframe'].location="genie_top.htm";          
                }
	}
</script>
<link rel="stylesheet" href="<%1947%>">
</head>
<body bgcolor="#ffffff"  onLoad="showFWVer();" >
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%1528%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>	
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%1529%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%1530%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">	
		<button class="purpleBtn" name="next" onClick="location.href='genie_detwan.htm'" type="button"><span><%1531%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>
</table>
</body>
</html>
