<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
	<%10%>
	<title>NETGEAR  Genie</title>	
	<link rel="stylesheet" type="text/css" href="<%1947%>">
	<script type="text/javascript">
	var t,objFrame,loadingImg;

        function wait1()
	{
		loadingImg = new Image();
                loadingImg.src = "loading.gif";
                objFrame  =document.getElementById("loading");
     		objFrame.src = loadingImg.src;  
		t = setTimeout('do_submit()',1500);
	}        

	function do_submit()
    {
        document.forms[0].submit();         
        clearTimeout(t);
		objFrame.src = loadingImg.src;    
    
	}

	</script>
	
</head>
<body onload="wait1();" style="background-color:#ffffff">				
	<table border="0" cellpadding="0" cellspacing="3"  width="99%">
		<tr style="line-height:50px">
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td class="centerTd"><h2><%1527%></h2></td><td>&nbsp;</td>
        	<tr>
                <tr style="height:40px">
                  	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
               </tr>	
		<tr>
		        <td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" src="loading.gif" frameborder="0" border="0" ></td><td>&nbsp;</td>
        	</tr>
	<form name="formname" method="POST" action="genieping2.cgi">
		 <input type="hidden" name="WDect" value="Execute">
	</form>
	</table>
	
</body>
