<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<link rel="stylesheet" href="<%1947%>">
<script language="javascript" type="text/javascript">
<!--
function checkSel(){
	if (document.formname.WANDetc[0].checked == true){
		window.location.href="genie_detwan.htm";
	}else if (document.formname.WANDetc[1].checked == true){
		window.location.href="genie_detwan.htm";
	}else if (document.formname.WANDetc[2].checked == true){
		window.location.href="genie_ph_fail.htm";
	}else{
		alert("<%1957%>");
	}
}

function loadSettings()
{

        <%1958%>;     
        if(top.parent.frames['topframe'] != null){           	          
           top.parent.frames['topframe'].location="genie_top.htm"; 
        }
	var cf = document.forms[0];	
	cf.WANDetc[1].checked = false;
	cf.WANDetc[0].checked = false;
	cf.WANDetc[2].checked = false;
}
//-->
</script>
</head>

<body bgcolor="#ffffff" onLoad="loadSettings();document.forms[0].elements[0].focus();">
<form name="formname"> 
<table border="0" cellpadding="0" cellspacing="0" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%2015%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2016%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2017%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p style="padding-left:20px"><%2018%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2019%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p style="padding-left:20px"><%2020%><p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2021%></p></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td  class="textRow centerTd"  colspan="2" onFocus="this.blur()"><input type="radio"  checked name="WANDetc" value="Yes"><span style="padding-left:10px;"><%2022%></span></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd" colspan="2" nowrap onFocus="this.blur()"><input type="radio" name="WANDetc" value="No"><span style="padding-left:10px;"><%2023%></span></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd" colspan="2" nowrap onFocus="this.blur()"><input type="radio" name="WANDetc" value="None"><span style="padding-left:10px;"><%2024%></span></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">
		<button class = "purpleBtn" width=100px name="next" onClick="checkSel();" type="Button"><span><%1956%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>

</table>
</form>
</body>
</html>
