<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<%111%>
<link rel="stylesheet" href="<%1947%>">
<script type="text/javascript">
<!--
function checkSel(){
	if (document.formname.WANDetc[0].checked == true){
		window.location.href="genie_detwan.htm"
	}else if (document.formname.WANDetc[1].checked == true)
		top.location.href="genie_basic.htm";
	else
		alert("select an option first.");
}

function showFWVer()
{ 
        <%1958%>;
        if(top.parent.frames['topframe'] != null){
            top.parent.frames['topframe'].location="genie_top.htm";              
        }
}
//-->
</script>


</head>

<body bgcolor="#ffffff" onload="showFWVer();">
<form name="formname" method="POST" action="geniereset.cgi"> 
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%2025%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2026%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2027%></p></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p style="padding-left:10px;"><%2028%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p style="padding-left:10px;"><%2029%></p></td>
	<td>&nbsp;</td>
<tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2030%></p></td>
	<td>&nbsp;</td>
<tr>
<tr>
	<td>&nbsp;</td>
	<td  class="textRow centerTd"><input type="radio"  checked name="WANDetc" value="Yes"><span style="padding-left:10px;"><%1953%></span></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd"><input type="radio" name="WANDetc" value="No"><span style="padding-left:10px;"><%2031%></span></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">	
		<button class="purpleBtn" name="Next" onClick="checkSel();"  type="button"><span><%1956%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>
</table>

</form>
</body>

</html>
