<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<%111%>
<link rel="stylesheet" href="<%1947%>">
<script type="text/javascript">
function loadcheck()
{
	var cf = document.forms[0];
	if(isIE()){
		cf.bpa_username.size="24";
		cf.bpa_passwd.size="24";
	}
}


function checkData()
{
	var cf = document.forms[0];
	var msg = "";

	msg+= checkBlank(cf.bpa_username, "<%202%>");
	msg+= checkBlank(cf.bpa_server, "<%985%>");
	if(cf.bpa_idletime.value.length<=0)
	 msg+= "<%200%>";
	else if(!_isNumeric(cf.bpa_idletime.value))
	 msg+= "<%201%>";
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;
}

</script>
</head>
<body bgcolor="#ffffff">
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2><%2003%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr>	
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%1986%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%1987%></span><input type="text" name="pppoe_username" style="width:150px;position:relative; left:20px;top:-2px;height:18px" type="text" name="bpa_username" size="15" maxlength="60" value="<%988%>"></td>
	&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%1568%></span><input type="password" style="width:150px;position:relative; left:20px;top:-2px;height:18px" name="bpa_passwd" size="15" maxlength="50" value="<%989%>"></td>
	<td>&nbsp;</td>
</tr>

<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2004%></span><input type="text" style="width:150px;position:relative; left:20px;top:-2px;height:18px" name="bpa_server" size="15" maxlength="128" value="<%990%>"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2000%></span><input type="text" style="width:150px;position:relative; left:20px;top:-2px;height:18px" class="num" name="bpa_idletime" size="4" maxlength="3" value="<%986%>"></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"><span style="display:-moz-inline-box;display:inline-block;width:340px;text-align:right;padding-bottom:5px"></span>
			<button value="submit" class="purpleBtn"  name="Next" onClick="return checkData()" type="submit"><span><%1956%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>
</table>
<form name="formname" method="POST" action="genie_bpa.cgi"> 
<input type="hidden" name="runtest" value="<%181%>">
</form>
</body>
</html>
