<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%10%>
<title>NETGEAR   Genie</title>
<%111%>
<link rel="stylesheet" href="<%1947%>">

<script type="text/javascript">
<!--
var DisableFixedIP = false;
var DisableFixedDNS = false;


function checkData()
{
	var cf = document.forms[0];
	var msg = "";

	if(checkIP(cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,254)||(parseInt(cf.WPethr4.value,10)==0))
		msg+= "<%9%>";
	else
	{
		cf.WPethr1.value = parseInt(cf.WPethr1.value,10);
		cf.WPethr2.value = parseInt(cf.WPethr2.value,10);
		cf.WPethr3.value = parseInt(cf.WPethr3.value,10);
		cf.WPethr4.value = parseInt(cf.WPethr4.value,10);
	}
	if(checkIP(cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,255))
		msg+= "<%150%>";
	else
	{
		cf.WMask1.value = parseInt(cf.WMask1.value,10);
		cf.WMask2.value = parseInt(cf.WMask2.value,10);
		cf.WMask3.value = parseInt(cf.WMask3.value,10);
		cf.WMask4.value = parseInt(cf.WMask4.value,10);
	}
	if(checkIP(cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4,254)||(parseInt(cf.WGateway4.value,10)==0))
		msg+= "<%151%>";
	else
	{
		cf.WGateway1.value = parseInt(cf.WGateway1.value,10);
		cf.WGateway2.value = parseInt(cf.WGateway2.value,10);
		cf.WGateway3.value = parseInt(cf.WGateway3.value,10);
		cf.WGateway4.value = parseInt(cf.WGateway4.value,10);
	}
	if(checkIP(cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,254)||(parseInt(cf.DAddr4.value,10)==0))
		msg+= "<%154%>";
	else
	{
		cf.DAddr1.value = parseInt(cf.DAddr1.value,10);
		cf.DAddr2.value = parseInt(cf.DAddr2.value,10);
		cf.DAddr3.value = parseInt(cf.DAddr3.value,10);
		cf.DAddr4.value = parseInt(cf.DAddr4.value,10);
	}
	if(cf.PDAddr1.value.length>0 || cf.PDAddr2.value.length>0 || cf.PDAddr3.value.length>0 || cf.PDAddr4.value.length>0)
	{
		if(checkIP(cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4,254)||(parseInt(cf.PDAddr4.value,10)==0))
			msg+= "<%155%>";
		else
		{
			cf.PDAddr1.value = parseInt(cf.PDAddr1.value,10);
			cf.PDAddr2.value = parseInt(cf.PDAddr2.value,10);
			cf.PDAddr3.value = parseInt(cf.PDAddr3.value,10);
			cf.PDAddr4.value = parseInt(cf.PDAddr4.value,10);
		}
	}
                
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}

	cf.wan_ipaddr.value = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
	cf.wan_netmask.value = cf.WMask1.value+'.'+cf.WMask2.value+'.'+cf.WMask3.value+'.'+cf.WMask4.value;
	cf.wan_gateway.value = cf.WGateway1.value+'.'+cf.WGateway2.value+'.'+cf.WGateway3.value+'.'+cf.WGateway4.value;
	cf.wan_dns1_pri.value = cf.DAddr1.value+'.'+cf.DAddr2.value+'.'+cf.DAddr3.value+'.'+cf.DAddr4.value;
	cf.wan_dns1_sec.value = cf.PDAddr1.value+'.'+cf.PDAddr2.value+'.'+cf.PDAddr3.value+'.'+cf.PDAddr4.value;        
        
	return true;
}

function loadSettings()
{
	var cf = document.forms[0];
	var wan_ipaddr = cf.wan_ipaddr.value.split(".");
	var wan_netmask = cf.wan_netmask.value.split(".");
	var wan_gateway = cf.wan_gateway.value.split(".");
	var wan_dns1_pri = cf.wan_dns1_pri.value.split(".");
	var wan_dns1_sec = cf.wan_dns1_sec.value.split(".");

	cf.WPethr1.value = wan_ipaddr[0];
	cf.WPethr2.value = wan_ipaddr[1];
	cf.WPethr3.value = wan_ipaddr[2];
	cf.WPethr4.value = wan_ipaddr[3];
	cf.WMask1.value = wan_netmask[0];
	cf.WMask2.value = wan_netmask[1];
	cf.WMask3.value = wan_netmask[2];
	cf.WMask4.value = wan_netmask[3];
	cf.WGateway1.value = wan_gateway[0];
	cf.WGateway2.value = wan_gateway[1];
	cf.WGateway3.value = wan_gateway[2];
	cf.WGateway4.value = wan_gateway[3];

	if (cf.wan_dns1_pri.value != "")
	{
	    cf.DAddr1.value = wan_dns1_pri[0];
	    cf.DAddr2.value = wan_dns1_pri[1];
	    cf.DAddr3.value = wan_dns1_pri[2];
	    cf.DAddr4.value = wan_dns1_pri[3];
	}
	if (cf.wan_dns1_sec.value != "")
	{
	    cf.PDAddr1.value = wan_dns1_sec[0];
	    cf.PDAddr2.value = wan_dns1_sec[1];
	    cf.PDAddr3.value = wan_dns1_sec[2];
	    cf.PDAddr4.value = wan_dns1_sec[3];
	}
}


function hideFWVer()
{ 
        <%1948%>;
        if(top.parent.frames['topframe'] != null){   
            top.parent.frames['topframe'].location="genie_top.htm";  
        }             
}
//-->
</script>
</head>
<body bgcolor="#ffffff" onload="hideFWVer();">
<form name="formname" method="POST" action="genie_fix2.cgi"> 
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd"><h2><%1992%></h2></td>
	<td>&nbsp;</td>
</tr>
<tr> 
	<td>&nbsp;</td>
	<td NOWRAP class="textRow centerTd"><%1993%></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr >
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px"><%1994%>:</span>  <input type="text" name="WPethr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" tabindex="1" >.<input tabindex="1" type="text" name="WPethr2" 	
class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input tabindex="1" type="text" name="WPethr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input tabindex="1" type="text" name="WPethr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px"><%1995%>:</span>  <input type="text" name="WMask1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" tabindex="1" >.<input tabindex="1" type="text" name="WMask2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input tabindex="1" type="text" name="WMask3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input type="text" tabindex="1" name="WMask4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px"><%1996%>:</span>  <input type="text" name="WGateway1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" tabindex="1">.<input tabindex="1" type="text" name="WGateway2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input tabindex="1" type="text" name="WGateway3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.<input type="text" tabindex="1" name="WGateway4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px"><%1997%>:</span>  <input type="text" name="DAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" tabindex="1">.<input type="text" name="DAddr2" class="num" size="4" tabindex="1" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()">.<input type="text" tabindex="1" name="DAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()">.<input type="text" tabindex="1" name="DAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px"><%1998%>:</span>  <input type="text" name="PDAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()">.<input type="text" name="PDAddr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()">.<input type="text" name="PDAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()">.<input type="text" name="PDAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()"></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2" ><div ID="basbuttons">
	<button value="submit" class="purpleBtn" name="Next" onClick="return checkData()" type="submit"><span><%1956%></span></button>
	</td>
	<td>&nbsp;</td>
</tr>
</table>
  <INPUT name=wan_ipaddr type=hidden value= "<%182%>">
  <INPUT name=wan_netmask type=hidden value= "<%183%>">
  <INPUT name=wan_gateway type=hidden value= "<%184%>">
  <INPUT name=DNSAssign type=hidden value= "1">
  <INPUT name=wan_dns1_pri type=hidden value= "<%186%>">
  <INPUT name=wan_dns1_sec type=hidden value= "<%187%>">
</form>
<p></p>
</body>
</html>
