<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>NETGEAR   Genie</title>
<%10%>
<link rel="stylesheet" type="text/css" href="<%1947%>">
<script type="text/javascript">
function wait()
{
	setTimeout("redirect()",40000);
}
function redirect()
{
        
	var cf = document.forms[0];	
	window.location.href=cf.next_file.value;
}
</script>

</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="wait();" style="background-color:#ffffff;">
<form name="update">
<table border="0" cellpadding="0" cellspacing="0" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		 <h2><%1532%></h2>
        </td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td><td class="textRow centerTd" ><%1988%></td><td>&nbsp;</td>
<tr>
<tr style="height:40px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>	
<tr>
	<td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" src="loading.gif" frameborder="0" border="0" ></td><td>&nbsp;</td>
</tr>

</table>
<input type="hidden" name="next_file" value="<%382%>">
</form>
</body>
</html>
