<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<%10%>
<title>NETGEAR   Genie</title>
<link rel="stylesheet" href="<%1947%>">
</head>
<body>
<table BORDER="0" CELLSPACING="0" CELLPADDING="5" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%1280%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr><td>&nbsp;</td><td class="textRow centerTd"><p><%1281%> <b><%192%></b>.</p></td><td>&nbsp;</td></tr>  
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>	
	<td>&nbsp;</td>
	<td  class="textRow centerTd2">
			<button class = "purpleBtn" onClick="location.href='genie_start.htm'"><span><%1282%></span></button>
	</td>
	<td>&nbsp;</td>	
</tr>
</table>
</body>
</html>
