<HTML><HEAD>
<%10%>
<link rel="stylesheet" href="form.css">
<script language="JavaScript">
<!--
function go()
{
    document.forms[0].submit();
}
//-->
</script></HEAD>
<BODY onLoad="go();"><form name="important_update" method="POST" action="important_update.cgi"></form></BODY></HTML>