<html><head>
<%10%>
<title>NETGEAR Router <%11%></title>
<script language="javascript" type="text/javascript">
function loadnext() {
	var showit=(document.layers)?"show":"block";
	var hideit=(document.layers)?"hide":"none";
	var el = "alltext";

	if (document.all)
		document.all(el).style.display = hideit ;
	else if (document.getElementById)
		document.getElementById(el).style.display = hideit ;
	else if (document.layers)
		document.layers[el].visibility = hideit ;

    if("<%12%>" == "1")
    {
        if ("<%13%>" == "1")
            top.location.replace("http://www.routerlogin.com/welcome.htm");
        else
            top.location.replace("start.htm");
    }
    else if ("<%14%>" == "1")
        top.location.replace("http://www.routerlogin.com/start.htm");
    else if ("<%15%>" == "1" || 
             "<%15%>" == "3")
        top.location.replace("http://www.routerlogin.com/traffic_start_update.htm");
    else
        top.location.replace("start.htm"); 
}
</script></head>
<body bgcolor="#ffffff" text="#666666" onload="loadnext()"> 
<div ID="alltext" STYLE="position:absolute;left:50px;top:200px;">
<font face="Arial,Helvetica">
<h4><%16%></h4>
<p><%17%>
<P><%18%>
<P><%19%></p>
</font>
</div>
</body>
</html>

