<!DOCTYPE html PUBLIC "-/W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtm1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <%10%>
    <%740%>

    <title><%2116%></title>
    <script language=JavaScript src="script/script.js"> </script>
    <script language=JavaScript src="script/jquery.js"> </script>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
 
    
    <script language="JavaScript" type="text/javascript">
      
        var defaultInterval = 5;
        var intervalSec = 5
        var inter;

        function loadInterval() {
            intervalId = setInterval("getStatisticPage()", intervalSec * 1000);
            intervalId2 = setInterval("setDefaultInterval()", 20);
        }

        function setDefaultInterval()
        {
            var intervalText;
            intervalText=document.getElementsByName('interval');
            intervalText[0].value = defaultInterval ;
            clearInterval(intervalId2) ;
        }

        function resetInterval()
        {
            var intervalText;
            var newInterval;
            intervalText=document.getElementsByName('interval');
            newInterval=intervalText[0].value;
            intervalSec = parseInt(newInterval,10);
            if ( isNaN(intervalSec) || intervalSec < 5 || intervalSec > 86400)
            {
                intervalSec = defaultInterval
            }
            
            intervalText.value = intervalSec ;
            clearInterval(intervalId) ;
            intervalId = setInterval("getStatisticPage()", intervalSec * 1000);
        }

        function stopInterval() 
        {
            var intervalText;
            clearInterval(intervalId) ;
            intervalText=document.getElementsByName('interval');
            intervalText[0].value = "" ;
            clearInterval(intervalId);
            
        }

        function getStatisticPage() {
            myTitle = "PNC Statistic " ;
            document.location.href = "INT_statistics.htm" ;
        } 


    </script>
</head>	

<body bgcolor="#E5E5E5" onLoad="loadInterval();">
<form name="formname" method="POST" action="traffic.cgi">
  <div class="subhead">
    <div class="subhead-text"> <%2116%> 
   </div>
</div>
    <table style="width:740px;border-collapse:collapse;background-color:#FFFFFF;padding-left:20px;padding-right:20px">
      <tr align="left" valign="middle" style="margin-left:10px;margin-right:10px;height:30px">
          <td class="subhead-text-menu" style="height:5px;border-right:1px solid">
              <div class="normal-text" style="text-decoration:none;"> <%742%> <%743%></div>
          </td>
      </tr>
      <tr>
        <td style="border-left:1px solid;border-right:1px solid" class="table-seperate-border">
          <table style="border-collapse:collapse;background-color:#FFFFFF;margin-left:20px;margin-right:20px;border-style:none" border="0">
            <tr align="center" valign="middle" style="padding-left:20px;padding-right:20px">
              <th class="table-round-top-left" style="width:13px;heigth:29px;"></td>
              <th class="table-header" style="width:15%"><%301%></td>
              <td class="table-header" style="width:15%"><%744%></td>
              <th class="table-header" style="width:10%"><%745%></td>
              <th class="table-header" style="width:10%"><%746%></td>
              <th class="table-header" style="width:10%"><%747%></td>
              <th class="table-header" style="width:10%"><%748%></td>
              <th class="table-header" style="width:10%"><%749%></td>
              <th class="table-header"><%750%></td>
              <th class="table-round-top-right" style="width:13px"></td>
            </tr>
            <tr align="center" valign="middle" style="background-color:#E5E5E5E5">
              <td class="table-header" style="heigth:29px"></td>
              <td class="table-header"><%751%></td>
              <td class="table-content-text"><%752%></td>
              <td class="table-content-text"><%753%></td>
              <td class="table-content-text"><%754%></td>
              <td class="table-content-text"><%755%></td>
              <td class="table-content-text"><%756%></td>
              <td class="table-content-text"><%757%></td>
              <td class="table-content-text"><%758%></td>
              <td></td>
            </tr>
            <tr align="center" valign="middle" style="background-color:#E5E5E5">
              <td class="table-header" style="heigth:29px"></td>
              <td class="table-header"><%759%>1</td>
              <td class="table-content-text"><%2117%></td>
              <td class="table-content-text" rowspan="4"><%2118%></td>
              <td class="table-content-text" rowspan="4"><%2119%></td>
              <td class="table-content-text" rowspan="4"><%2120%></td>
              <td class="table-content-text" rowspan="4"><%2121%></td>
              <td class="table-content-text" rowspan="4"><%2122%></td>
              <td class="table-content-text"><%2123%></td>
              <td></td>
            </tr>
            <tr align="center" valign="middle" style="background-color:#E5E5E5">
              <td class="table-header" style="heigth:29px"></td>
              <td class="table-header"><%759%>2</td>
              <td class="table-content-text"><%2124%></td>
<!--
              <td class="table-content-text"><%2125%></td>
              <td class="table-content-text"><%2126%></td>
              <td class="table-content-text"><%2127%></td>
              <td class="table-content-text"><%2128%></td>
              <td class="table-content-text"><%2129%></td>
-->
              <td class="table-content-text"><%2130%></td>
              <td></td>
            </tr>
            <tr align="center" valign="middle" style="background-color:#E5E5E5">
              <td class="table-header" style="heigth:29px;"></td>
              <td class="table-header"><%759%>3</td>
              <td class="table-content-text"><%2131%></td>
<!--
              <td class="table-content-text"><%2132%></td>
              <td class="table-content-text"><%2133%></td>
              <td class="table-content-text"><%2134%></td>
              <td class="table-content-text"><%2135%></td>
              <td class="table-content-text"><%2136%></td>
-->
              <td class="table-content-text"><%2137%></td>
              <td></td>
            </tr>
            <tr align="center" valign="middle" style="background-color:#E5E5E5">
              <td class="table-header" style="heigth:29px;"></td>
              <td class="table-header"><%759%>4</td>
              <td class="table-content-text"><%2138%></td>
<!--
              <td class="table-content-text"><%2139%></td>
              <td class="table-content-text"><%2140%></td>
              <td class="table-content-text"><%2141%></td>
              <td class="table-content-text"><%2142%></td>
              <td class="table-content-text"><%2143%></td>
-->
              <td class="table-content-text"><%2144%></td>
              <td></td>
            </tr>
      
      <%773%>
            <tr align="center" valign="middle">
              <td class="table-header" style="heigth:29px"></td>
              <td class="table-header"><%784%></td>
              <td class="table-content-text"><%785%></td>
              <td class="table-content-text"><%786%></td>
              <td class="table-content-text"><%787%></td>
              <td class="table-content-text"><%788%></td>
              <td class="table-content-text"><%789%></td>
              <td class="table-content-text"><%790%></td>
              <td class="table-content-text"><%791%></td>
              <td></td>
            </tr>
      <%782%>
      <%783%>
            <tr align="center" valign="middle">
              <td class="table-header" style="heigth:29px"></td>
              <td class="table-header"><%792%></td>
              <td class="table-content-text"><%793%></td>
              <td class="table-content-text"><%794%></td>
              <td class="table-content-text"><%795%></td>
              <td class="table-content-text"><%796%></td>
              <td class="table-content-text"><%797%></td>
              <td class="table-content-text"><%798%></td>
              <td class="table-content-text"><%799%></td>
              <td></td>
            </tr>
       <%800%>
            <tr align="center" valign="middle" style="height:10px">
              <td class="table-round-bottom-left" style="heigth:10px;"></td>
              <td colspan="8" class="table-header"></td>
              <td class="table-round-bottom-right"></td>
            </tr>
       
          </table>
        </td>
      </tr>

      <tr>
          <td align="center" class="table-seperate-border" style="border-left:1px solid;border-right:1px solid">  
              <span class="normal-text"><%801%> :</span>
              <INPUT TYPE="TEXT" NAME="interval" SIZE="5" MAXLENGTH="5" VALUE=" ">
              <span class="normal-text" style="padding-left:3px"><%802%></span>
              <button type="BUTTON" name="setInterval" class="button-rule" onClick="resetInterval();" style="margin-left:30px"> <span class="roundleft_button"><%803%></span><span class="roundright_button">&nbsp;&nbsp;</span></button>
              <button style="margin-left:20px"type="BUTTON" name="stopIntervalBtn" class="button-rule" onClick="return stopInterval();"> <span class="roundleft_button"><%804%></span><span class="roundright_button">&nbsp;&nbsp;</span></button>
          </td>
      </tr>

<!--
              <button value="submit" name="TRAFFIC_STATUS" class="button-rule" style="padding-left:10px"><span class="roundleft_button"><%1389%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    
-->          
  </table>
  <div class="subhead-bottom"></div>
 
</form>       
</body>	
</html>
