<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--

    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.bas-help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".bas-help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".bas-help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

function checkType(wan_proto) // called from basictop.htm
{
	if (1)
//	if (basictop.document.forms[0])
	{
		if (wan_proto == "pppoe")
		    window.location.href = "BAS_pppoe.htm";
		else if (wan_proto == "pptp")
		    window.location.href = "BAS_pptp.htm";
		else if (wan_proto == "bpa")
		    window.location.href = "BAS_bpa.htm";
		else if (wan_proto == "l2tp")
		    window.location.href = "BAS_l2tp.htm";
		else
		    window.location.href = "BAS_ether.htm";
	}
	else 
	    window.setTimeout(checkType(),300);
}


 
function setServer()
{
    var cf = document.forms[0];
    var stype = cf.login_type.selectedIndex;
    if(stype==0) //Disable
        window.location.href="IPV6_disable.htm";
    else if(stype==1) //Auto Detect
        window.location.href="IPV6_auto.htm";
    else if(stype==2) //6to4 Tunnel
        window.location.href="IPV6_tunnel.htm";
    else if(stype==3) //Pass Through
        window.location.href="IPV6_passthrough.htm";
    else if(stype==4) //Fixed
        window.location.href="IPV6_fixed.htm";
    //else if(stype==5) //DHCP
    //    window.location.href="IPV6_dhcp.htm";
    else if(stype==6) //PPPoE
        window.location.href="IPV6_pppoe.htm";
    else if(stype==7) //Auto Config
        window.location.href="IPV6_autoconfig.htm";
}

function checkInterfaceID()
{
    var cf = document.forms[0];
	if(!cf.useInterfaceId.checked)
	{
		cf.IPv6_interface_id1.disabled = true;
		cf.IPv6_interface_id2.disabled = true;
		cf.IPv6_interface_id3.disabled = true;
		cf.IPv6_interface_id4.disabled = true;
		
	}
	else
	{
		cf.IPv6_interface_id1.disabled = false;
		cf.IPv6_interface_id2.disabled = false;
		cf.IPv6_interface_id3.disabled = false;
		cf.IPv6_interface_id4.disabled = false;
	}
}

function checkData()
{
    var cf = document.forms[0];
    var msg = "";
    
    if (cf.ipv6_system.value.match( /[^\x20-\x7E]/ ))
    {
		alert("<%1887%>");
		return false;
    }
	
    if (cf.domain_name.value.match( /[^\x20-\x7E]/ ))
    {
		alert("<%149%>!");
		return false;
    }
	
    if (cf.useInterfaceId.checked)
		cf.ipv6_interfaceid_enable.value = 1;
	else
		cf.ipv6_interfaceid_enable.value = 0;	

    if (cf.useInterfaceId.checked)	
	{
        if(cf.IPv6_interface_id1.value.length<=0 || cf.IPv6_interface_id2.value.length<=0 || cf.IPv6_interface_id3.value.length<=0 || cf.IPv6_interface_id4.value.length<=0
           || !(isHex(cf.IPv6_interface_id1.value) && isHex(cf.IPv6_interface_id2.value) && isHex(cf.IPv6_interface_id3.value) && isHex(cf.IPv6_interface_id4.value)))
        {
            msg+= "<%1866%>";
        }		
        else
        {
            cf.ipv6_interface_id.value = cf.IPv6_interface_id1.value+":"+cf.IPv6_interface_id2.value+":"+cf.IPv6_interface_id3.value+":"+cf.IPv6_interface_id4.value;
        }
    }
    
    if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	
	return true;	
}

function loadSettings()
{
    var cf = document.forms[0];
	
    var interface = document.forms[0].ipv6_interface_id.value.split(":");

    checkInterfaceID();
    
    if (cf.ipv6_interface_id.value != "")
    {
        cf.IPv6_interface_id1.value = interface[0];
        cf.IPv6_interface_id2.value = interface[1];
        cf.IPv6_interface_id3.value = interface[2];
        cf.IPv6_interface_id4.value = interface[3];
    }
}

//-->
</script>
</head>
<body  onload="change_size();loadSettings();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="ipv6_dhcp.cgi" target="_parent">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%639%></div>
<table border="0"     class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
<button type="submit" value="SUBMIT"  onClick="buttonClick(this,'<%157%>');return checkData()" name="apply" class="button-apply" style="padding-left:10px"> <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
<button type="button" value="BUTTON"  onClick="buttonClick(this,'<%159%>');reset();loadSettings();" name="Cancel" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<button type="button" value="BUTTON"  onClick="buttonClick(this,'Refresh');location.reload();" name="Refresh" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class ="refresh-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1867%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td colspan="2" class="scrollpane-table-seperate-border"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr>
 <td width="50%"><a><b><%1868%></b></a></td>
 <td width="50%" align="right">
    <select name="login_type" onChange="setServer()">
        <option><%235%></option>
        <option><%1869%></option>
        <option><%1870%></option>
        <option><%1871%></option>
        <option><%1872%></option>
        <option selected><%1873%></option>
        <option ><%209%></option>
        <option ><%1874%></option>
    </select>
 </td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
    <td><%1888%></td>
    <td align="right"><input type="text" name="ipv6_system" size="15" maxlength="63" value="<%1889%>"></td>
</tr>
<tr>
    <td><a><%164%></a></td>
	<td align="right"><input type="text" name="domain_name" maxlength="60" size="15" value="<%1890%>"></td>
</tr>
<tr>
    <td colspan="2" ><b><%1876%></b></td>
</tr>
<tr>
    <td colspan="2" ><img src="spacer.gif" width="30" height="12" border="0"><%1877%></td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td width="50%" colspan="2" ><b><%67%></b></td>
</tr>
<tr>

</tr>
<tr>
    <td colspan="2" ><b><%1878%></b></td>
</tr>
<tr>
    <td colspan="2" ><img src="spacer.gif" width="30" height="12" border="0"><%1879%></td>
</tr>
<tr>
	<td nowrap colspan="2"><b><%1880%></b></td>
</tr>
<tr>
	<td colspan="2" nowrap><input type="radio" name="IpAssign" value="dhcp" <%1881%>><%1882%></td>
</tr>
<tr>
	<td colspan="2" nowrap><input type="radio" name="IpAssign" value="auto" <%1883%>><%1874%></td>
</tr>
<tr>
    <td colspan="2" ><img src="spacer.gif" width="30" height="1" border="0">
</tr>

<tr>
	<td nowrap colspan="2"><input  type="checkbox" <%1884%> name="useInterfaceId" value="" onclick= "checkInterfaceID();"><b><%1885%></b></td>
</tr>
<tr>
	<td colspan="2" ><img src="spacer.gif" width="20" height="12" border="0"><input type="text" name="IPv6_interface_id1" class="num" size="4" maxlength="4" value="" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheckv6(this,0)">:<input type="text" name="IPv6_interface_id2" class="num" size="4" maxlength="4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheckv6(this,0)">:<input type="text" name="IPv6_interface_id3" class="num" size="4" maxlength="4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheckv6(this,0)">:<input type="text" name="IPv6_interface_id4" class="num" size="4" maxlength="4" value="" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheckv6(this,1)"></td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="bas-help-frame-div" > <iframe id="helpframe"  name=helpframe src="IPV6_dhcp_h.htm" scrolling="no" class="help-iframe"  frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<input type="hidden" name="ipv6_interface_id" value="<%1886%>">
<input type="hidden" name="ipv6_interfaceid_enable" value="">
<INPUT type="hidden" name="ipv6_proto" value= "dhcp">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>
