<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- 

function loadSettings()
{
	var cf = document.forms[0];
	var conn_type = cf.ipv6_proto.value;

}
//-->
</script>
</head>
<body  style="margin:0px;padding:0px;background-color:transparent" >
<form name="basic" method="POST" action=""> 
<table border="0"   style="width:600px" >



<tr><td colspan="2" height="12"  ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table>

  <INPUT name=ipv6_proto type=hidden value= "<%250%>">
</form>

</body>
</html>
