<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--

    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.bas-help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".bas-help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".bas-help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

function checkType(wan_proto) // called from basictop.htm
{
	if (1)
//	if (basictop.document.forms[0])
	{
		if (wan_proto == "pppoe")
		    window.location.href = "BAS_pppoe.htm";
		else if (wan_proto == "pptp")
		    window.location.href = "BAS_pptp.htm";
		else if (wan_proto == "bpa")
		    window.location.href = "BAS_bpa.htm";
		else if (wan_proto == "l2tp")
		    window.location.href = "BAS_l2tp.htm";
		else
		    window.location.href = "BAS_ether.htm";
	}
	else 
	    window.setTimeout(checkType(),300);
}


 
function setServer()
{
    var cf = document.forms[0];
    var stype = cf.login_type.selectedIndex;
    if(stype==1) //Auto Detect
        window.location.href="IPV6_auto.htm";
    else if(stype==2) //6to4 Tunnel
        window.location.href="IPV6_tunnel.htm";
    else if(stype==3) //Pass Through
        window.location.href="IPV6_passthrough.htm";
    else if(stype==4) //Fixed
        window.location.href="IPV6_fixed.htm";
    else if(stype==5) //DHCP
        window.location.href="IPV6_dhcp.htm";
    else if(stype==6) //PPPoE
        window.location.href="IPV6_pppoe.htm";
    else if(stype==7) //Auto Config
        window.location.href="IPV6_autoconfig.htm";
}

function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	
	return true;
}

function loadSettings()
{
    window.location.href="IPV6_disable.htm";
}

//-->
</script>
</head>
<body  onload="change_size();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="ipv6_disable.cgi" target="_parent">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%639%></div>
<table border="0"     class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
<button type="submit" value="SUBMIT"  onClick="buttonClick(this,'<%157%>');" name="Apply" class="button-apply" style="padding-left:10px"> <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
<button type="button" value="BUTTON"  onClick="buttonClick(this,'<%159%>');reset();loadSettings();" name="Cancel" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td colspan="2" class="scrollpane-table-seperate-border"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
<tr>
 <td width="50%"><a><b><%1868%></b></a></td>
 <td width="50%" align="right">
    <select name="login_type" onChange="setServer()">
        <option selected><%235%></option>
        <option><%1869%></option>
        <option><%1870%></option>
        <option><%1871%></option>
        <option ><%1872%></option>
        <option ><%1873%></option>
        <option ><%209%></option>
        <option ><%1874%></option>
    </select>
 </td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="bas-help-frame-div" > <iframe id="helpframe"  name=helpframe src="IPV6_h.htm" scrolling="no" class="help-iframe"  frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>




<INPUT name="ipv6_proto" type=hidden value= "disable">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>
