<!DOCTYPE HTML>
<html>
<head>
<%10%>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<%111%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function goBack()
{
	window.location.href="LAN_lan.htm";
}
function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	var rv_ip = cf.reserved_ips.value.split(" ");
	var rv_mac = cf.reserved_macs.value.split(" ");
	var rv_dv_name=cf.reserved_devname.value.split("|");
	var i, conflict, reply;

	var str_dhcp_start = "<%610%>";
	var str_dhcp_end = "<%611%>"
	var dhcp_startaddr = str_dhcp_start.split(".");
	var dhcp_endaddr = str_dhcp_end.split(".");

	if(checkIP(cf.rsv_ip1,cf.rsv_ip2,cf.rsv_ip3,cf.rsv_ip4,254)
		|| (parseInt(cf.rsv_ip4.value, 10) == 0))
		msg+= "<%9%>";

	if(checkMacStr(cf.rsv_mac))
		msg+= "<%0%>\n";
	msg+= checkBlank(cf.dv_name, "<%360%>");
	if (cf.dv_name.value.match( /[^\x20-\x7E]/ ))
		msg+="<%584%>\n";
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
    cf.rsv_ip.value =  parseInt(cf.rsv_ip1.value, 10)+'.'+ parseInt(cf.rsv_ip2.value, 10)+'.'
                     + parseInt(cf.rsv_ip3.value, 10)+'.'+ parseInt(cf.rsv_ip4.value, 10);
    cf.rsv_mac.value = cf.rsv_mac.value.replace(/:/g,"");
    cf.rsv_mac.value = cf.rsv_mac.value.replace(/-/g,"");
    i = 0;
    while (typeof rv_ip[i] != "undefined") {
        if ((rv_ip[i] == cf.orig_rsv_ip.value) && (rv_mac[i] == cf.orig_rsv_mac.value)) {
            i++;
            continue;
        }
        rv_mac[i]=rv_mac[i].replace(/:/g,"");
        rv_mac[i]=rv_mac[i].replace(/-/g,"");
        if ((rv_ip[i] == cf.rsv_ip.value) || (rv_mac[i] == cf.rsv_mac.value)||(rv_dv_name[i]==cf.dv_name.value)) {
            conflict = true;
            break;
        }
        i++;
    }
    if (conflict) {
        reply = confirm("<%620%>");
        if (!reply)
            return false;
    }
	return true;
}

function loadSettings()
{
	var cf = document.forms[0];
	var rsv_ip;
	
    cf.orig_rsv_ip.value = cf.rsv_ip.value;    
	rsv_ip = cf.rsv_ip.value.split(".");
	cf.rsv_ip1.value = rsv_ip[0];
	cf.rsv_ip2.value = rsv_ip[1];
	cf.rsv_ip3.value = rsv_ip[2];
	cf.rsv_ip4.value = rsv_ip[3];

	cf.rsv_mac.value = "<%626%>";
    cf.orig_rsv_mac.value = cf.rsv_mac.value;
    cf.dv_name.value = cf.orig_dv_name.value;
}

//-->
</script> 
</head>
<body  onload="change_size();loadSettings();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  method="POST" action="reserv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
	<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%604%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onClick="buttonClick(this,'<%157%>');if(!checkData()) return false;" type="SUBMIT" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');location.href='LAN_lan.htm'" type="Button" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
	<td width="50%" nowrap><%169%></td>
	<td width="50%" align="left" class="num">
		<input type="text" name="rsv_ip1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="rsv_ip2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="rsv_ip3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="rsv_ip4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<td width="50%" nowrap><%361%></td>
	<td width="50%" align="left" class="num"><input type="text" name="rsv_mac" class="num" size="17" maxlength="17"></td>
</tr>
<tr>
	<td width="50%" nowrap><%360%></td>
	<td width="50%" align="left">
		<input type="text" name="dv_name" size="20" maxlength="20">
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="LAN_reserv_edit_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<INPUT name=rsv_ip type=hidden value= "<%627%>">
<INPUT name=rsv_mode type=hidden value="edit">
<input type="hidden" name="reserved_ips" value="<%623%>">
<input type="hidden" name="reserved_macs" value="<%624%>">
<input type="hidden" name="reserved_devname" value="<%625%>">
<input type="hidden" name="orig_rsv_ip" value="">
<input type="hidden" name="orig_rsv_mac" value="">
<input type="hidden" name="orig_dv_name" value="<%628%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>
