<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
function do_submit()
{
    document.forms[0].submit();
}
function wait()
{       
    setTimeout("do_submit()",1000); 
}
//-->
</script>
</head>
<body bgcolor="#ffffff" onLoad="wait();">
<form name="formname" method="POST" action="lang_settop2.cgi"> 
<input type="hidden" name="targetlang" value="<%43%>"></input>
</form>
</body>
</html>
