<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers


$(document).ready(function()
{	
    $("#target").submit(function() {
         buttonFilter();
    });
});

function restoreLang()
{
    var form=document.forms[0];
    var gui_region = form.curlang.value;
    var i = 0;
    var index;    
    var menu = window.parent.document.getElementById('lang_menu');

    for(i = 0;i < menu.options.length; i++){
        if(menu.options[i].value == gui_region){                      
            menu.selectedIndex = i;
            break;
        }
    }
}

function goHome() {
       
    if(parent.$("#BasicTab").hasClass('current')){
         location.href="DashbBoard.htm";
    }else{
         location.href="ADV_home.htm";
    }
}
//-->
</script>
</head>
<body  style="margin:0px;background-color:#e5e5e5"  onLoad="restoreLang();">
<form id="target"  name="formname">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
    <td colspan="2" align="center">
        <h1><%1297%></h1>
    </td>
</tr>
<tr>
    <td colspan="2" align="center">
        <%1838%>
        <p>
    </td>
</tr>
<tr>
    <td colspan="2" align="center">
        &nbsp;&nbsp;&nbsp;<button type="button" value="<%1299%>" name="Back" class="button-rule" onClick="buttonClick(this,'<%1299%>');goHome();"><span class="roundleft_button">&nbsp;&nbsp; <%1299%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    </td>
</tr>
</table>
</form>
</body>
</html>
