<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });     
    });

function goHome() {
    if (document.forms[0].enable_ap_mode.value == 1)
	    location.href="RST_status.htm";
    else
        location.href="BAS_basic.htm";
        
    return true;
}
//-->
</script>
</head>
<body  style="margin:0px;background-color:#e5e5e5">
<form name="formname" method="POST" action="lang_result.cgi"> 
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
    <td colspan="2">
        <h1><%1834%></h1>
    </td>
</tr>
<tr>
    <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>
<tr>
    <td colspan="2">
        <b><%1846%></b>
    </td>
</tr>
<tr>
    <td width="50%">
        <%1847%>
    </td>
    <td width="50%">
        <%1842%>
    </td>
</tr>
<tr>
    <td width="50%">
        <%1843%>
    </td>
    <td width="50%">
        <%1844%>
    </td>
</tr>
<tr>
    <td colspan="2">
        <b><%1848%></b>
    </td>
</tr>
<tr>
    <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>
<tr>
    <td colspan="2" align="center">
        &nbsp;&nbsp;&nbsp;<button type="submit" name="Yes" value="<%128%>" class="button-rule" onClick="buttonClick(this,'<%128%>');return true;"><span class="roundleft_button">&nbsp;&nbsp; <%128%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
        &nbsp;&nbsp;&nbsp;<button type="button" name="No" value="<%129%>" class="button-rule" onClick="buttonClick(this,'<%129%>');return goHome();"><span class="roundleft_button">&nbsp;&nbsp; <%129%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    </td>
</tr>
</table>
<input type="hidden" name="enable_ap_mode" value="<%110%>">
</form>
</body>
</html>
