<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });

function do_submit(){
	document.forms[0].submit();
}

function wait()
{
    setTimeout("do_submit()",2000);
}
//-->
</script>
</head>
<body  onLoad="wait1();" style="margin:0px;background-color:#e5e5e5">
<form name="formname" method="POST" action="lang_check.cgi"> 
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
    <td colspan="2">
        <h1><%1834%></h1>
    </td>
</tr>
<tr>
    <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>
<tr>
    <td colspan="2" align="center">
        <b><%1837%></b>
    </td>
</tr>
<tr>
    <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>
</table>
</form>
</body>
</html>
