<HTML><head>
<%10%>
<title>NETGEAR Router <%11%></title>
<SCRIPT language=JavaScript>

 function doLoad()
 {
 }
 <%629%>
</SCRIPT>
</HEAD>
<BODY class="page-body" >
<div id="full-page-container">

<form name="formname" method="POST" action="logout.cgi"> 
<P>&nbsp;</P>
<CENTER>
<P>
<TABLE bgColor=#e5e5e5 border=0 cellPadding=0 cellSpacing=2 height="70%" 
width="90%">
 <TBODY>
 <TR>
 <TD>
 <DIV align=center><B><FONT face="Arial, Helvetica, sans-serif" 
 size=4 ><%630%> 
 </FONT></B>
 <P><FONT face="Arial, Helvetica, sans-serif" size=4><B><%631%></B>
 </FONT></P></DIV></TD></TR></TBODY></TABLE></CENTER></FORM>
<SCRIPT language=JavaScript>
top.close();
</SCRIPT>
</P></BODY></div></HTML>

