<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title><%694%></title>
<link rel="stylesheet" href="css/MNUAccess.css">
<link rel="stylesheet" href="css/button.css">

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

  
//--></script></head>
<script language="javascript" type="text/javascript">
<!--

-->
</script>
<body    bgcolor="#FFFFFF" >
<form method="POST" action="securityquestions.cgi">
	<table border="0" cellpadding="0" cellspacing="3" width="600px">
		<tr>
			<td class="MNUTitle"><%2062%></td>
		</tr>
		<tr>
			<td class="MNUText"><%2063%></td>
		</tr>
		<tr>
			<td class="MNUText"><%2064%><input type="text" name="serialNumber" size=""></td>
		</tr>
		<tr>
			<td class="MNUText"><%2065%></td>
		</tr>
		<tr>
			<td class="MNUText" colspan="2">
				<button type="RESET" value="Cancel" name="Cancel" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp; </span></button>
				<button type="SUBMIT" value="Continue" name="Continue" class="button-apply" style="padding-left:10px" ><span class="roundleft_apply">&nbsp;&nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply"> &nbsp;</span></button>

			</td>
		</tr>
		
	</table>
</form>

</body>
</html>
