<HTML><HEAD><title>NETGEAR Router <%11%></title>
<%10%>
<STYLE type=text/css>BODY {
	MARGIN: 6px
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
</STYLE>
</SCRIPT>

<BODY bgColor=#330099 leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<FORM method="POST" action="menu.cgi" NAME=menu">
<TABLE cellSpacing=2 cellPadding=1 border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
  <TD><A href="WIZ_sel.htm" target=formframe ><%58%></A> </TD>
<%633%>
<%634%>
  <TD><font color=gray><b><%58%></b> </TD>
<%635%>
  </TR>
  <TR>
      <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><%636%><%637%><%638%></TD>
  </TR>  
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%61%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="BAS_basic.htm" target=formframe><%639%></A></TD></TR>
<%633%>
<%634%>
    <TD><font color=gray><b><%639%></b></TD></TR>
<%635%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%22%>" target=formframe><%88%></A></TD></TR>
<%640%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%54%>" target=formframe><%55%></A></TD>
  </TR> 
<%641%>
<%642%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<%643%>
<%644%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<%645%>
<%646%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<%647%>
<%648%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<%649%>
<%650%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<%651%>
<%652%>
<TR><TD colSpan=2><BIG><%69%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%639%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%72%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="UPNP_media.htm" target=formframe><%653%></A></TD>
</TR>
<%654%>
  <TR><TD colSpan=2><BIG><%655%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
	<TD><A href="FW_log.htm" target=formframe><%82%></A></TD>
<%633%>
<%634%>
	<TD><font color=gray><b><%82%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="BKS_keyword.htm" target=formframe><%75%></A></TD>
<%633%>
<%634%>
	<TD><font color=gray><b><%75%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
  <TD><A href="BKS_service.htm" target=formframe><%76%></A></TD>
<%633%>
<%634%>
  <TD><font color=gray><b><%76%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="FW_schedule.htm" target=formframe><%78%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%78%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="FW_email.htm" target=formframe><%79%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%79%></b></TD>
<%635%>
  </TR>    
  <TR>
    <TD colSpan=2><BIG><%656%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%657%>" target=formframe><%81%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href=<%658%> target=formframe><%51%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="BAK_backup.htm" target=formframe><%83%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="PWD_password.htm" target=formframe><%84%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="UPG_upgrade.htm" target=formframe><%659%></A></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%86%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%87%>" target=formframe><%88%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%89%>" target=formframe><%660%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
  <TD><A href="FW_forward2.htm" target=formframe><%92%></A></TD>
<%633%>
<%634%>
  <TD><font color=gray><b><%92%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
  <TD><A href="WAN_wan.htm" target=formframe><%65%></A></TD>
<%633%>
<%634%>
  <TD><font color=gray><b><%65%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="LAN_lan.htm" target=formframe><%67%></A></TD></TR>
  
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="QOS_main.htm" target=formframe><%68%></A></TD>
</TR>

<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="DNS_ddns.htm" target=formframe><%93%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%93%></b></TD>
<%635%>
</TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="STR_routes.htm" target=formframe><%94%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%94%></b></TD>
<%635%>
  </TR>    
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="FW_remote.htm" target=formframe><%95%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%95%></b></TD>
<%635%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="UPNP_upnp.htm" target=formframe><%96%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%96%></b></TD>
<%635%>
  </TR>
<%661%>
    <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="IPV6_basic.htm" target=formframe><%97%></A></TD></TR>
<%662%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%632%>
    <TD><A href="traffic_meter.htm" target=formframe><%98%></A></TD>
<%633%>
<%634%>
    <TD><font color=gray><b><%98%></b></TD>
<%635%>
  </TR>
<%648%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%649%>
<%650%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%651%>
<%652%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%654%>
<%642%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%643%>
<%644%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%645%>
<%646%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%99%></A></TD>
</TR>
<%647%>
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%663%></BIG></TD></TR>
  <TR>
<%664%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%665%>" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr2000v2/enu/202-10485-01/index.html" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%667%>
<%668%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500v2.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500v2/enu/202-10433-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%669%>
<%670%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500U.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500u/enu/202-10475-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%671%>
<%648%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500L.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500l/enu/202-10545-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%649%>
<%650%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500Lv2.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%651%>
<%652%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNDR4000.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/WNDR4000/enu/202-10781-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%654%>
<%642%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wndr3400.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wndr3400/enu/202-10581-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%643%>
<%644%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wndr3300v2.asp" target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wndr3300v2/enu/202-10636-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%645%>
<%672%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR1000v3.asp" 
      target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr1000v3/enu/202-10584-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%673%>
<%674%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WGR614v10.asp" 
      target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href=<%675%> target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%676%>
<%677%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wgr614v10bric.asp" 
      target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wgr614v10bric/enu/202-10612-01/index.htm" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%678%>
<%646%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://I don't know.asp" 
      target=_top><%666%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://I don't know.asp" target=_top><%102%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%647%>
  <TR>
    <TD align=middle colSpan=2><A class=bigfont
      href="LGO_logout.htm" target=_top><FONT
          size=3><%679%></FONT></A></TD></TR></TBODY></TABLE>

</FORM>          
</BODY></HTML>
