<HTML><HEAD><title>NETGEAR Router <%11%></title>
<%10%>
<STYLE type=text/css>BODY {
	MARGIN: 6px
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
</STYLE>
</SCRIPT>

<BODY bgColor=#330099 leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<FORM method="POST" action="menu.cgi" NAME=menu">
<TABLE cellSpacing=2 cellPadding=1 border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%58%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%637%></B></TD>
  </TR>  
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%61%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%639%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%88%></B></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%655%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%82%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%75%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%76%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%78%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%79%></B></TD>
  </TR>    
  <TR>
    <TD colSpan=2><BIG><%656%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%81%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%51%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%83%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%84%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%659%></B></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%86%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%88%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%660%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%92%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%65%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%67%></B></TD></TR>
  
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%68%></B></TD>
</TR>

<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%93%></B></TD>
</TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%94%></B></TD>
  </TR>    
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%95%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%96%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><b><%98%></b></TD>
  </TR>
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%663%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%666%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%102%> </B></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
  <TR>
    <TD align=middle colSpan=2><A class=bigfont><FONT
          size=3><%679%></FONT></TD></TR></TBODY></TABLE>

</FORM>          
</BODY></HTML>
