<HTML><HEAD><title>NETGEAR Router <%11%></title>
<%10%>
</HEAD>
<BODY bgColor=#ffffff leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<form name="frmLanguage" method="POST" action="">
<IMG height=12 src="darkblue.gif" width="100%" border=1><BR>
<IMG src="<%683%>" align=top border=0> 
</form>
</BODY>
</HTML>
