<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title><%694%></title>
<link rel="stylesheet" href="css/MNUAccess.css">
<link rel="stylesheet" href="css/button.css">

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

 
//--></script></head>
<script language="javascript" type="text/javascript">
<!--

  
function showQuestion1()
{
	var questions = [	"<%699%>",
						"<%700%>",
						"<%701%>",
						"<%702%>",
						"<%703%>",
						"<%704%>",
						"<%705%>",
						"<%706%>",
						"<%707%>",
						"<%708%>"	];
						
	document.write(questions[<%698%>]);				
	return true;
}
function showQuestion2()
{
	var questions = [	"<%710%>",
						"<%711%>",
						"<%712%>",
						"<%713%>",
						"<%714%>",
						"<%715%>",
						"<%716%>",
						"<%717%>",
						"<%718%>"	];
						
	document.write(questions[<%709%>]);				
	return true;
}
-->
</script>

<body  bgcolor="#FFFFFF">
<p class="MNUTitle"><%2060%></p>

<form method="POST" action="passwordrecovered.cgi">
	<table border="0" cellpadding="0" cellspacing="3" style="width:600px">
    <col width="200" />
    <col width="400" />
		<tr>
			<td colspan="2" class="MNUText"><%2061%></td>
		</tr>
		<tr>
			<td align="right" class="MNUText"><%728%></td>
			<td align="left" class="MNUText">
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion1();	
				//-->
				</script>
			</td>
		</tr>
		<tr>
			<td align="right" class="MNUText"><%729%></td>
			<td align="left" class="MNUText"><input type="text" name="answer1" size=""></td>
		</tr>
		<tr>
			<td align="right" class="MNUText"><%731%></td>
			<td align="left" class="MNUText">
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion2();	
				//-->
				</script>			
			</td>
		</tr>
		<tr>
			<td align="right" class="MNUText"><%729%></td>
			<td align="left" class="MNUText"><input type="text" name="answer2" size=""></td>
		</tr>
		<tr>
			<td align="right" class="MNUText"><%733%></td>
			<td align="left" class="MNUText"></td>
		</tr>
		<tr >	
			<td class="MNUText" colspan="2">

				<button type="RESET" value="Cancel" name="Cancel" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp; </span></button>
				<button type="SUBMIT" value="Continue" name="Continue" class="button-apply" style="padding-left:10px"><span class="roundleft_apply">&nbsp;&nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply"> &nbsp;</span></button>

			</td>
		</tr>
		
	</table>
</form>

</body>
</html>
