<!DOCTYPE HTML>
<html><head>
<%10%>

<title><%694%></title> 

<script language="javascript" type="text/javascript">
<!--
function showLogin2Page()
{
    window.top.location.href="MNU_access_login2.htm";
}
  //-->
</script></head>
<body onload="showLogin2Page()" > 

</body>
</html>
