<HTML><HEAD><title>NETGEAR Router <%11%></title>
<%10%>
<%111%>
<SCRIPT language=javascript type=text/javascript>
<!-- hide script from old browsers
function showLoginMsg()
{
	var lanip_changed = "<%14%>";
	var firstTime = "<%680%>";
	var traffic_warning_state = "<%15%>";
	var traffic_block_enable = "<%681%>";
	var just_refresh = "<%682%>";
	if (firstTime == "1" && lanip_changed == "0" && just_refresh == "0" &&
		(traffic_warning_state == "0" || traffic_warning_state == "2" ||
		(traffic_warning_state == "4" && traffic_block_enable == "0")))
	{
		var wx = 400;
		var wy = 430;
		var x = (screen.width - wx) / 2;
		var y = (screen.height - wy) / 2;
		openDataSubWin('MNU_login.htm',"left="+x+",top="+y+",width="+wx+",height="+wy);
	}
}

function ShowLanguageList()
{
	var form=document.forms[0];
	var suportlanguage = form.srptlang.value.split(" ");
	var gui_region = form.curlang.value;
    var local_srpt = form.local_srptlang.value.split(" ");
	for(i=0; i < suportlanguage.length; i++)
	{
		if(suportlanguage[i] == gui_region)
			document.write('<option value='+gui_region+' selected >'+local_srpt[i]+'</option>');
		else
			document.write('<option value='+suportlanguage[i]+'>'+local_srpt[i]+'</option>');
	}
}

function chgLang()
{
	var form=document.forms[0];
	var srptlang = form.srptlang.value;
	var suportlanguage = srptlang.split(" ");
	for(i=0; i<suportlanguage.length; i++)
	{
		if(form.choicelang.selectedIndex == i )
		{
			form.select_region.value=srptlang[i];
			break;
		}
	}
}

function ApplyAction()
{
    var form=document.forms[0];
    var gui_region = form.curlang.value;
    if (form.choicelang.value != gui_region)
    {
        //form.choicelang.disabled=true;
        //form.Apply.disabled=true;
        form.submit();
        top.formframe.location.href="LANG_check_top.htm";
    }
}
//-->
</SCRIPT>        
<BODY bgColor=#ffffff leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<form name="frmLanguage" method="POST" action="lang_top.cgi">
<%32%>
<%33%>
    <input type="hidden" name="curlang" value="Auto"> 
<%34%>
<%35%>
	<input type="hidden" name="curlang" value="<%36%>"> 
<%37%>
<%38%>
<%39%>
	<input type="hidden" name="curlang" value="<%36%>">
<%40%>
	<input type="hidden" name="local_srptlang" value="<%41%>">
	<input type="hidden" name="srptlang" value="<%42%>">
	<input type="hidden" name="select_region" value=""> 
    <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <tr>
            <td height="12" colspan="2" background="darkblue.gif" width=100%></td>
        </tr>
        <tr>
            <td width=77% rowspan="4" style="background-repeat:no-repeat" background="<%683%>"></td>
        </tr>    
        <tr>
            <td><b  style="FONT-SIZE: 12px;FONT-FAMILY: Arial"><%684%>:</b></td>
        </tr> 
        <tr>
            <td >
            <select name="choicelang" size="1"  onchange="chgLang()">
            <script>ShowLanguageList();</script></select></td>
        </tr>
        <tr>
            <td height=33%><img src="spacer.gif" width="25" height="18" border="0" alt="">
            <input type="button" name="Apply" value="<%157%>" onclick="ApplyAction();" ></td>
        </tr>
    </table>
</form>
</BODY>
</HTML>
