<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <%10%>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />      
      	<link rel="stylesheet" type="text/css" href="CDL.css">
        <link rel="stylesheet" type="text/css" href="css/mainpage.css">	
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="effect.js"></script>
	<link rel="stylesheet" href="CDL.css">	
	<title>NETGEAR Genie</title>
	<script>
	var t;
        function wait()
	{ 
            t = setTimeout('do_redirect()',1500);
        }

        function do_redirect()
	{ 
             top.location.href = "MNU_access_multiLogin2.htm";         
        }
        </script>
	
</head>
<body onLoad="do_redirect();">
</body>
</html>
