<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goHome() {
	if (top.tophideframe)
		top.close();
	else
    if (document.forms[0].enable_ap_mode.value == 1)
	    location.href="RST_status.htm";
    else
		location.href="BAS_basic.htm"
}
function preCheck(){
    var ok_button = document.getElementById("ok_button");
    var quit_button = document.getElementById("quit_button");
    
    if (top.tophideframe)
    {
        ok_button.style.display = "none";
        quit_button.style.display = "block";
    }
    else
    {
        ok_button.style.display = "block";
        quit_button.style.display = "none";
    }
}
//-->
</script>
</head>
<body onLoad="preCheck();" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" action="ph_fail" method="POST">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2" align="center">
<h1><%1297%> </h1>
</td>
</tr>

<tr>
<td colspan="2" align="center">
    <%1298%>
</td>
</tr>

<tr></tr>
<tr></tr>
<tr></tr>
<tr>
<td colspan="2" id="quit_button" align="center">
&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%868%>" name="quit" class="button-rule" onClick="buttonClick(this,'<%868%>');top.location.replace('close_process.htm');"><span class="roundleft_button">&nbsp;&nbsp; <%868%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td> 
<td colspan="2" id="ok_button" align="center">
&nbsp;&nbsp;&nbsp;<button type="Button" value="<%1299%>" name="ok" class="button-rule" onClick="buttonClick(this,'<%1299%>');goHome();"><span class="roundleft_button">&nbsp;&nbsp; <%1299%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>
</table>
<input type="hidden" name="enable_ap_mode" value="<%110%>">
</form>
<p></p>
</body>

</html>
