<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">

<STYLE TYPE="text/javascript">
<!--
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
-->
-->
-->
</style>
<script LANGUAGE="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript">
<!--
function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	
	var i = parseInt(cf.Port_1.value);
	var j = parseInt(cf.Port_2.value);

    if(isNumeric(cf.Port_1,65535))
    {
        msg+= "<%1827%>\n";
        alert(msg);
        return false;
    }

    if(isNumeric(cf.Port_2,65535))
    {
        msg+= "<%1827%>\n";
        alert(msg);
        return false;
    }

    if(i > j)
	    msg+= "<%1827%>\n";

	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;
}

//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<FORM action="pppoe2_port.cgi" method="post" name="formname">
  <TABLE border=0 width="100%">
    <TR>
      <TD colspan="2" align="left"><h1><%1804%></h1></TD></TR>
    <tr> <!-- RULE -->
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>

    <TR>
      <TD align="left" nowrap> <%1823%></td>
      <td><INPUT type="text" name="trigger" maxlength="20" value="<%301%>" onfocus="this.blur()"></TD></TR>
    <TR>
      <TD align="left" nowrap> <%1828%></td>
      <td align="left" ><input type="text" name="Port_1" class="num" size="5" maxlength="5"> - <input type="text" name="Port_2" class="num" size="5" maxlength="5"></TD></TR>
    <tr>
      <TD align="left" nowrap> <%321%></td>
      <td><select name="Protocol"><option value="TCP/UDP"><%324%></option><option value="TCP"><%322%></option><option value="UDP"><%323%></option></select></td>
    </TR>
    <tr> <!-- RULE -->
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
    <tr>
      <td colspan="2" align="center">
        <INPUT type="submit" name="add" value=" <%304%> " onclick="return checkData()">
        <INPUT type="button" name="cancel" value=" <%159%> " onclick="location.href='BAS_basic.htm'">
  <input type="hidden" name="macaddr" value="">
</form>
</body>
</html>

