<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--




  function changeCursorPointer()
  {
        document.body.style.cursor='pointer';
  }

  function changeCursorDefault()
  {
        document.body.style.cursor='default';
  }




    function buttonFilter()
    {
        var buttonElements;

        buttonElements=document.getElementsByTagName('button');
        var i;
        for(i=0;i<buttonElements.length;i++)
        {
            if(buttonElements[i].type=='submit' || buttonElements[i].type=='button'|| buttonElements[i].type=='reset')
            {
                if((buttonElements[i].value!=document.forms[0].buttonHit.name))
                    buttonElements[i].disabled=1;
                else
                {
                      var name;
                      name=buttonElements[i].name;
                      buttonElements[i].name='NoUse';
                      buttonElements[i].disabled=1;
                      document.forms[0].buttonValue.name=name;
                      document.forms[0].buttonHit.disabled=1;
                }
            }
        }

    }

    function buttonClick(btn,value)
    {

        document.forms[0].buttonHit.value=btn.name;
        document.forms[0].buttonValue.value=value;
        return true;
    }


        $("#target").submit(function() {
            buttonFilter();
        });



    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }



function showQuestion1()
{
	var selected = [ "", "", "", "", "", "", "", "", "", ""];
	
	selected[<%698%>] = "selected";
	
	document.open();
	document.write("<select name=\"question1\">");
		document.write("<option " + selected[0] + " value=\"0\"><%699%></option>");
		document.write("<option " + selected[1] + " value=\"1\"><%700%></option>");
		document.write("<option " + selected[2] + " value=\"2\"><%701%></option>");
		document.write("<option " + selected[3] + " value=\"3\"><%702%></option>");
		document.write("<option " + selected[4] + " value=\"4\"><%703%></option>");
		document.write("<option " + selected[5] + " value=\"5\"><%704%></option>");
		document.write("<option " + selected[6] + " value=\"6\"><%705%></option>");
		document.write("<option " + selected[7] + " value=\"7\"><%706%></option>");
		document.write("<option " + selected[8] + " value=\"8\"><%707%></option>");
		document.write("<option " + selected[9] + " value=\"9\"><%708%></option>");
	document.write("</select>");
	document.close();
	return true;
}
function showQuestion2()
{
	var selected = [ "", "", "", "", "", "", "", "", "", ""];
	
	selected[<%709%>] = "selected";
	
	document.open();
	document.write("<select name=\"question2\">");
		document.write("<option " + selected[0] + " value=\"0\"><%710%></option>");
		document.write("<option " + selected[1] + " value=\"1\"><%711%></option>");
		document.write("<option " + selected[2] + " value=\"2\"><%712%></option>");
		document.write("<option " + selected[3] + " value=\"3\"><%713%></option>");
		document.write("<option " + selected[4] + " value=\"4\"><%714%></option>");
		document.write("<option " + selected[5] + " value=\"5\"><%715%></option>");
		document.write("<option " + selected[6] + " value=\"6\"><%716%></option>");
		document.write("<option " + selected[7] + " value=\"7\"><%717%></option>");
		document.write("<option " + selected[8] + " value=\"8\"><%718%></option>");
	document.write("</select>");	
	document.close();
	
	return true;
}

function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	if(cf.sysNewPasswd.value.length >= 1 || cf.sysConfirmPasswd.value.length >= 1)
	{
		if (cf.sysNewPasswd.value.length == 33 || cf.sysConfirmPasswd.value.length == 33)
		{

			alert("<%719%>");
			

			return false;
		}
		if(cf.sysNewPasswd.value != cf.sysConfirmPasswd.value)
		{

			msg+= "<%720%>";
			

			cf.sysConfirmPasswd.focus();
		}
	}    
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	

	if((!cf.checkPassRec.checked) && (cf.sysOldPasswd.value))
	{	
		if(confirm("<%721%>"))
		{
			return true;
		}
		else
		{
			return false;
		}
	}	
	
	
	if(<%722%>==0 && (cf.checkPassRec.checked))
	{

		if(cf.answer1.value.length < 1 || cf.answer1.value.length > 64)
		{
			alert("<%723%>");
			return false;
		}
		if(cf.answer2.value.length < 1 || cf.answer2.value.length > 64)
		{
			alert("<%723%>");
			return false;
		}
		

		if(cf.question1.value == 0 || cf.question2.value == 0)
		{
			alert("<%724%>");
			return false;
		}
	}
	

	
	return true;
}

function timestamp(){
	var timestamp = new Date();


	document.write(timestamp);
    return true;
}

function checkPasswdRecovery()
{	
	var cf = document.forms[0];	
	if(cf.checkPassRec.checked)
	{	
		document.getElementById("PasswdRecovery").style.display="block";
	}
	else
	{
		document.getElementById("PasswdRecovery").style.display="none";
	}
	return true;
}
function showCheckBox()
{
	var cf = document.forms[0];	

	if(<%722%>==1)
	{
		document.open();
		document.write("<input type=\"checkbox\"  onClick=\"checkPasswdRecovery();\" name=\"checkPassRec\" value=\"1\" checked>");
		document.close();
	}
	else
	{
		document.open();
		document.write("<input type=\"checkbox\"  onClick=\"checkPasswdRecovery();\" name=\"checkPassRec\" value=\"1\">");
		document.close();
	}
	
	return true;
}


//-->
</script>
</head>

<body  onload="change_size();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">


<form id="target"  method="POST" action="password.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%84%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onClick="buttonClick(this,'<%157%>');return checkData()" type="SUBMIT" name="cfAlert_Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');"  type="RESET" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
	<tr>
	<td nowrap width="50%" align="left"><%725%></td>
	<td nowrap width="50%" align="right"><input type="password" name="sysOldPasswd" size="18" maxlength="32"></td>
</tr>
<tr>
 <td nowrap width="50%" align="left"><%84%></td>
 <td nowrap width="50%" align="right"><input type="password" name="sysNewPasswd" size="18" maxlength="33"></td>
</tr>
<tr>
 <td nowrap width="50%" align="left"><%726%></td>
 <td nowrap width="50%" align="right"><input type="password" name="sysConfirmPasswd" size="18" maxlength="33"></td>
</tr>


<tr>
<td colspan="2" >
<table>
	<tr>
		<td width="10">
				<script language="javascript" type="text/javascript">
				<!--
				showCheckBox();	
				//-->
				</script>
		</td>
		<td><%727%></td>
	</tr>
</table>
</td>
</tr>
<tr>
<td colspan="2" >
<div id="PasswdRecovery" style="display: none;">
	<table>
		<tr>

			<td align="right"><%728%></td>
			<td>
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion1();	
				//-->
				</script>
			</td>
		</tr>
		<tr>
			<td align="right"><%729%></td>

			<td><input type="text" name="answer1" size="64" maxlength="64" value="<%730%>"></td>
		</tr>
		<tr>
			<td align="right"><%731%></td>
			<td>
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion2();
				checkPasswdRecovery();
				//-->
				</script>

			</td>
		</tr>
		<tr>
			<td align="right"><%729%></td>
			<td><input type="text" name="answer2" size="64" maxlength="64" value="<%732%>"></td>
		</tr>
		<tr>

			<td align="right"><%733%></td>
		</tr>	

		<tr>
			<td><%734%></td>
			<td><%735%></td>

		</tr>
	</table>
</div> <!-- end PasswdRecovery -->
</td>
</tr>



<tr>
<td colspan="2" align="center">

<script language="javascript" type="text/javascript">
<!--
	document.open();
	document.write("<input type=\"hidden\" name=\"timestamp_value\" value=\"");
	var timestamp = new Date();
	document.write(timestamp);
	document.write("\">");
	document.close();
//-->
</script>

</td>
</tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe" src="PWD_passwd_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
<img class="subfooter-image" src="img/subhead2-bottom.gif">
  <div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>
