<html>
	<head>
	<%10%>
		<title>NETGEAR Router <%11%></title>
	</head>
	<body>
	<br>DeviceID:<%993%>;
	<br><%1283%>:<%1284%>;
	<br><%30%>:<%31%>;
	<br>WLAN-Security:<%1285%>
	</body>
</html>

