<html><head>
<%10%>
<%805%>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL= <%806%><%807%><%808%><%809%><%810%><%811%>">
<%812%>
<%813%>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL= <%814%><%815%>">
<%816%>
<title>NETGEAR Router <%11%></title></head>
<BODY bgcolor="#CCCCCC">
</body></html>



