<!DOCTYPE HTML>
<HTML>
<head>
<%10%>
 <title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
           $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
    });





   
//--></script></HEAD>
<FRAMESET border=0 borderColor=#000000 rows="70%,*" frameborder=0 frameSpacing=0 cols=*>
<FRAME frameBorder=NO marginHeight=0 marginWidth=0 scrolling=no name=StatTable noResize src="RST_stattbl.htm">
<FRAME frameBorder=NO marginHeight=0 marginWidth=0 scrolling=no name=StatIntvl noResize src="RST_interval.htm">
</FRAMESET></HTML>
