<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language=JavaScript type="text/javascript">



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function Fresh() 
{
	var cf = document.forms[0];
	if(cf.refreshScrn.value == "yes")
		window.setTimeout("location.href='RST_st_fix.htm'",10000);
// reload if not connected	
}
</script>
</head>

<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text=black onLoad="Fresh()" style="margin:0px;background-color:#e5e5e5">

<form id="target"  method="post" action="st_fixip.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%817%> </h1></TD>
 </TR>
 
</TABLE>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>


<table width="100%" border=1 cellspacing=1 cellpadding=4>
	<tr>
		<TD NOWRAP width="50%"><B><%169%></B></td>
		<%805%>
        <TD NOWRAP width="50%"><%858%></td>
        <%812%>
        <%813%>
        <TD NOWRAP width="50%"><%818%></td>
        <%816%>	
    </tr>
	<tr>
		<TD NOWRAP><B><%227%></B></td>
        <%805%>
		<TD NOWRAP><%859%></td>
        <%812%>
        <%813%>
        <TD NOWRAP width="50%"><%819%></td>
        <%816%>  	
    </tr>
	<tr>
		<TD NOWRAP><B><%820%></B></td>
        <%805%>
		<TD NOWRAP><%860%></td>
        <%812%>
        <%813%>
        <TD NOWRAP width="50%"><%821%></td>
        <%816%> 	
    </tr>
	<tr>
		<TD NOWRAP><B><%824%></B></td>
        <%805%>
		<TD NOWRAP><%861%></td>
        <%812%>
        <%813%>
        <TD NOWRAP width="50%"><%826%><br><%827%></td>
        <%816%>  	
    </tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
 <TR>
 <TD align="center">&nbsp;&nbsp;&nbsp;<button type=button value="<%136%>" name="close" class="button-rule" onclick="buttonClick(this,'<%136%>');self.close();"><span class="roundleft_button">&nbsp;&nbsp; <%136%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>
</TABLE>


<input type="hidden" name="refreshScrn" value="yes">
</form>

</body>
</html>

