<html>
<head>
<%10%>
<link rel="stylesheet" href="form.css">
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript">
<!--
var delay_time = 10000;
var t;

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            window.clearTimeout(t);
            buttonFilter();
        });

    });



function refreshPage() 
{
    t = window.setTimeout("window.location.href='RST_st_poe.htm'", delay_time);
}

function disableConButton()
{
    delay_time = 10000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
<%198%>
    if(document.forms[0].pppoe2.value == "enable")
    {
        document.forms[0].PPP2Connect.disabled = true;
        document.forms[0].PPP2Disconnect.disabled = true;

    }
<%199%>
    document.forms[0].ConMethod.value = "  Connect  ";

    document.forms[0].submit();    
    
    return true;
}

function disableDisConButton()
{
<%198%>
    delay_time = 20000;
<%199%>
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
<%198%>
    if(document.forms[0].pppoe2.value == "enable")
    {
        document.forms[0].PPP2Connect.disabled = true;
        document.forms[0].PPP2Disconnect.disabled = true;

    }
<%199%>
    document.forms[0].ConMethod.value = "Disconnect";

    document.forms[0].submit();     
    
    return true;
}
<%198%>
function disablePPP2ConButton()
{
    delay_time = 10000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
    document.forms[0].PPP2Connect.disabled = true;
    document.forms[0].PPP2Disconnect.disabled = true;
    document.forms[0].ConMethod.value = "Connect2";
    document.forms[0].submit();     
    return true;
}
function disablePPP2DisConButton()
{
    delay_time = 20000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
    document.forms[0].PPP2Connect.disabled = true;
    document.forms[0].PPP2Disconnect.disabled = true;
    document.forms[0].ConMethod.value = "Disconnect2";
    document.forms[0].submit();    
    return true; 
}
<%199%>
function refreshparentpage()
{
    parent.window.opener.location.href="<%657%>";
    return true;
}

//-->
</script>
</head>
<body  onLoad="refreshPage()" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="poe_st" method="post" action="st_poe.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%817%> </h1></TD>
 </TR>
 
</TABLE>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<%835%>	
<tr>
 <td><b><%212%></b></td>
</tr>
<%836%>	

<table width="100%" border=1 cellspacing=1 cellpadding=4>
<tr>
	<TD NOWRAP width="50%"><B><%138%></B></td>
	<TD NOWRAP width="50%"><%837%></td>
</tr>
<tr>
	<TD NOWRAP><B><%817%></B></td>
	<TD NOWRAP><%838%></td>
</tr>
<tr>
	<TD NOWRAP><B><%142%></B></td>
	<TD NOWRAP><%839%></td>
</tr>
<tr>
	<TD NOWRAP><B><%144%></B></td>
	<TD NOWRAP><%840%></td>
</tr>
<tr>
	<TD NOWRAP><B><%169%></B></td>
	<TD NOWRAP><%841%></td>
</tr>
<tr>
	<TD NOWRAP><B><%227%></B></td>
        <TD NOWRAP><%842%></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <TR>
 <TD align="center" nowrap>
<BR>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%843%>" name="Connect" class="<%844%>" onClick="buttonClick(this,'<%843%>');return disableConButton()" <%834%>><span class="<%845%>">&nbsp;&nbsp; <%843%></span><span class="<%846%>">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%847%>" name="Disconnect" class="button-rule" onClick="buttonClick(this,'<%847%>');alert('<%848%>'); return disableDisConButton()"><span class="roundleft_button">&nbsp;&nbsp; <%847%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>

</TABLE>

<%835%>	

<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<tr>
 <td><b><%849%></b></td>
</tr>

<table width="100%" border=1 cellspacing=1 cellpadding=4>
<tr>
	<TD NOWRAP width="50%"><B><%138%></B></td>
	<TD NOWRAP width="50%"><%850%></td>
</tr>
<tr>
	<TD NOWRAP><B><%140%></B></td>
	<TD NOWRAP><%851%></td>
</tr>
<tr>
	<TD NOWRAP><B><%142%></B></td>
	<TD NOWRAP><%852%></td>
</tr>
<tr>
	<TD NOWRAP><B><%144%></B></td>
	<TD NOWRAP><%853%></td>
</tr>
<tr>
	<TD NOWRAP><B><%146%></B></td>
	<TD NOWRAP><%854%></td>
</tr>
<tr>
	<TD NOWRAP><B><%227%></B></td>
        <TD NOWRAP><%855%></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <TR>
 <TD align="center" nowrap>
<BR>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%843%>" name="PPP2Connect" class="<%844%>" onclick="buttonClick(this,'<%843%>');return disablePPP2ConButton()" <%834%>><span class="<%845%>">&nbsp;&nbsp; <%843%></span><span class="<%846%>">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%847%>" name="PPP2Disconnect" class="button-rule" onClick="buttonClick(this,'<%847%>');alert('<%848%>'); return disablePPP2DisConButton()"><span class="roundleft_button">&nbsp;&nbsp; <%847%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>
</table>
<%836%>	

<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr><td background="liteblue.gif" height="12"> &nbsp;</td></tr>
<TR><TD align="center">&nbsp;&nbsp;&nbsp;<button type=button value="<%136%>" name="close" class="button-rule" onclick="buttonClick(this,'<%136%>'); window.close();"><span class="roundleft_button">&nbsp;&nbsp; <%136%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD></TR>
</TABLE>
<input type="hidden" name="ConMethod" value="Disconnect">
<input type="hidden" name="pppoe2" value="<%856%><%857%>">


</form>

</body>
</html>
