<!DOCTYPE HTML>
<html>
<head>
<%10%>
<%740%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



//--></script></head>
<body  style="margin:0px;background-color:#e5e5e5">
<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%741%> </h1></TD>
 </TR>
 
</TABLE>
<table width="100%" border="0">
 <tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

	<tr>
		<td><b><%742%></b> <!><%743%><!></td>

	</tr>
	<tr>
		<td>
			
 <table border="1" cellpadding="0" cellspacing="0" width="99%">
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%301%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%744%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%745%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%746%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%747%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%748%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%749%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="thead"><%750%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%751%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%752%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%753%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%754%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%755%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%756%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%757%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%758%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%759%>1</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%760%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%761%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%762%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%763%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%764%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%765%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%766%></span> 
 </td>
 </tr>
 <tr>
 <td nowrap width="10%" align="center"> <span class="thead"><%759%>2</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%767%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%768%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%759%>3</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%769%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%770%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%759%>4</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%771%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%772%></span> 
 </td>
 </tr>
 <%773%>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead"><%774%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%775%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%776%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%777%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%778%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%779%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%780%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%781%></span></td>
 </tr>
 <%782%>
 <%783%>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead">2.4G <%784%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%785%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%786%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%787%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%788%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%789%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%790%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%791%></span></td>
 </tr>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead">5G <%792%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%793%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%794%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%795%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%796%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%797%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%798%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%799%></span></td>
 </tr>
 <%800%>
 </table>
		</td>
	</tr>
</table>
</body>
</html>

