<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" type="text/css" href="ru_style.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script language="JavaScript" type="text/javascript">

function selectEdit(value)
{
	if (value == 0)
		document.forms[0].select.value = 0;
	else if (value == 1)
		document.forms[0].select.value = 1;

	document.forms[0].submit();
}
</script>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="RU_BSW_fail" action="blkDetWan.cgi" method="POST">
<table align="center" style="width:100%">

<tr style="height:10px">
<td></td>
</tr>

<tr>
	<td class="left_text"><h2><%1528%></h2></td>
</tr>
<tr>
	<td class="left_text"><p><%1529%></p></td>
</tr>

<tr style="height:10px">
<td></td>
</tr>

<tr>
	<td class="left_text"><p><%1530%></p></td>
</tr>

<tr style="height:10px">
<td></td>
</tr>

<tr>
	<td class="center_text">
		<button type="button" style="width:100px" value="submit" class="purpleBtn" name="quit" onClick="selectEdit(1)" ><span><%868%></span></button>
        <button type="button" style="width:150px" value="submit" class="purpleBtn" name="next" onClick="selectEdit(0)" ><span><%1531%></span></button>
	</td>
</tr>
</table>
<input type="hidden" name="select" value="0">
</form>
</body>
</html>
