<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript src=RU_welcome.js></script>
<script language=javascript type=text/javascript>
var str_type1="";
var str_type2="";
var str_type3="";
var str_type4="";
var str_type5="";

function loadvalue()
{
	str_type1=document.getElementById("type1").innerHTML;
	document.getElementById("type1").innerHTML='';
	str_type2=document.getElementById("type2").innerHTML;
	document.getElementById("type2").innerHTML='';
	str_type3=document.getElementById("type3").innerHTML;
	document.getElementById("type3").innerHTML='';
	str_type4=document.getElementById("type4").innerHTML;
	document.getElementById("type4").innerHTML='';
	str_type5=document.getElementById("type5").innerHTML;
	document.getElementById("type5").innerHTML='';

	if(parent.welcome_wan_type == 1)
	{
		document.getElementById("view").innerHTML=str_type1;
	}
	else if(parent.welcome_wan_type == 2)
	{
		document.getElementById("view").innerHTML=str_type2;
	}
	else if(parent.welcome_wan_type == 3)
	{
		document.getElementById("view").innerHTML=str_type3;
	}
	else if(parent.welcome_wan_type == 4)
	{
		document.getElementById("view").innerHTML=str_type4;
	}
	else if(parent.welcome_wan_type == 5)
	{
		document.getElementById("view").innerHTML=str_type5;
	}
}
</script>
</HEAD>
<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_finish_manual">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<input type="hidden" name="welcome_wan_type">
<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="MACAssign">
<input type="hidden" name="Spoofmac">
<input type="hidden" name="basic_type">
<input type="hidden" name="ppp_login_type">
<input type="hidden" name="run_test">
<input type="hidden" name="DNSAssign">
<input type="hidden" name="change_wan_type">
<input type="hidden" name="WANAssign">
<input type="hidden" name="STATIC_DNS">

<!-- DHCP & Static -->
<input type="hidden" name="ether_ipaddr">
<input type="hidden" name="ether_subnet">
<input type="hidden" name="ether_gateway">
<input type="hidden" name="ether_dnsaddr1">
<input type="hidden" name="ether_dnsaddr2">
<input type="hidden" name="system_name">
<input type="hidden" name="domain_name">

<!-- PPPoE -->
<input type="hidden" name="pppoe_username">
<input type="hidden" name="pppoe_passwd">
<input type="hidden" name="pppoe_servername">
<input type="hidden" name="pppoe_ipaddr">
<input type="hidden" name="dual_access">
<input type="hidden" name="pppoe_dod">
<input type="hidden" name="pppoe_dual_ipaddr">
<input type="hidden" name="pppoe_dual_subnet">
<input type="hidden" name="pppoe_dual_gateway">
<input type="hidden" name="pppoe_dual_assign">
<input type="hidden" name="hidden_pppoe_idle_time">
<input type="hidden" name="pppoe_dnsaddr1">
<input type="hidden" name="pppoe_dnsaddr2">

<!-- PPTP -->
<input type="hidden" name="pptp_username">
<input type="hidden" name="pptp_passwd">
<input type="hidden" name="pptp_myip">
<input type="hidden" name="pptp_serv_ip">
<input type="hidden" name="pptp_gateway">
<input type="hidden" name="pptp_conn_id">
<input type="hidden" name="pptp_dnsaddr1">
<input type="hidden" name="pptp_dnsaddr2">
<input type="hidden" name="pptp_dod">
<input type="hidden" name="pptp_mynetmask">
<input type="hidden" name="hidden_pptp_idle_time">

<!-- L2TP -->
<input type="hidden" name="l2tp_username">
<input type="hidden" name="l2tp_passwd">
<input type="hidden" name="l2tp_myip">
<input type="hidden" name="l2tp_serv_ip">
<input type="hidden" name="l2tp_gateway">
<input type="hidden" name="l2tp_conn_id">
<input type="hidden" name="l2tp_dnsaddr1">
<input type="hidden" name="l2tp_dnsaddr2">
<input type="hidden" name="l2tp_dod">
<input type="hidden" name="l2tp_mynetmask">
<input type="hidden" name="hidden_l2tp_idle_time">

<div>
<div>
<TABLE align="center" style="width:100%" >

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR><TD colspan="2" class="left_text"><h2><%1533%></h2></TD></TR>

<TR>
	<TD colspan="2" class="left_text"><%1562%></TD>
</TR>
</TABLE>


<tr style="height:10px">
<td colspan="2"></td>
</tr>


	<div id=view></div>
<!-- Static -->
	<div align="center" ID="type1" style="position:absolute;top:0;left:0;visibility:hidden">
 	<TABLE align="center" style="width:100%" >

        <tr style="height:10px">
        <td colspan="2"></td>
        </tr>
 		<TR>
			<TD nowrap class="centerTd"><%169%></TD>
			<script>document.write("<TD nowrap>"+parent.static_ip+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%170%></TD>
			<script>document.write("<TD nowrap>"+parent.static_subnet+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%228%></TD>
			<script>	document.write("<TD nowrap>"+parent.static_gateway+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%1563%></TD>
			<script>
				if(parent.static_dns1 == "" && parent.static_dns2 != "")
					document.write("<TD nowrap>"+parent.static_dns2+"</TD></TR>");
				else if(parent.static_dns1 != "" && parent.static_dns2 == "")
					document.write("<TD nowrap>"+parent.static_dns1+"</TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.static_dns1+"</TD></TR>");
					document.write("<TR><TD nowrap><BR></TD><TD nowrap>"+parent.static_dns2+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%177%></TD>
			<script>
				if(parent.mac_spoof == '0')
					document.write("<TD nowrap><%1564%></TD>");
				else if(parent.mac_spoof == '1')
					document.write("<TD nowrap><%1565%></TD>");
				else
					document.write("<TD nowrap>"+parent.Spoofmac+"</TD>");
			</script>
		</TR>
	</TABLE>
	</div>
<!-- DHCP -->
	<div align="center" ID="type2" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE align="center" style="width:100%" >

        <tr style="height:10px">
        <td colspan="2"></td>
        </tr>
        
		<TR>
			<TD nowrap class="centerTd"><%166%></TD>
			<TD nowrap><%167%></TD>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%1563%></TD>
			<script>
				if(parent.static_dns1 == "" && parent.static_dns2 == "")
					document.write("<TD nowrap><%173%></TD></TR>");
				else if(parent.static_dns1 == "" && parent.static_dns2 != "")
					document.write("<TD nowrap>"+parent.static_dns2+"</TD></TR>");
				else if(parent.static_dns1 != "" && parent.static_dns2 == "")
					document.write("<TD nowrap>"+parent.static_dns1+"</TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.static_dns1+"</TD></TR>");
					document.write("<TR><TD nowrap><BR></TD><TD nowrap>"+parent.static_dns2+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%177%></TD>
			<script>
				if(parent.mac_spoof == '0')
					document.write("<TD nowrap><%1564%></TD>");
				else if(parent.mac_spoof == '1')
					document.write("<TD nowrap><%1565%></TD>");
				else
					document.write("<TD nowrap>"+parent.Spoofmac+"</TD>");
			</script>
		</TR>
	</TABLE>
	</div>
<!-- PPPoE -->
	<div align="center" ID="type3" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE align="center" style="width:100%" >

        <tr style="height:10px">
        <td colspan="2"></td>
        </tr>
        
		<TR>
			<TD nowrap class="centerTd"><%1566%></TD>
			<TD nowrap><%209%></TD>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%214%></TD>
			<script>document.write("<TD nowrap>"+parent.pppoe_username+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%216%></TD>
			<script>document.write("<TD nowrap>"+parent.pppoe_password+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%425%></TD>
			<script>
			if(parent.pppoe_server == "")
				document.write("<TD nowrap><%402%></TD>");
			else
				document.write("<TD nowrap>"+parent.pppoe_server+"</TD>");
			</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%1559%></TD>
			<script>
				if(parent.pppoe_static_ip == "")
					document.write("<TD nowrap><%1001%></TD>");
				else
					document.write("<TD nowrap>"+parent.pppoe_static_ip+"</TD>");
			</script>
		</TR>
		<TR>
			<TD class="centerTd"><%1567%></TD>
			<script>
				if(parent.dual_access == "0")
					document.write("<TD nowrap><%129%></TD>");
				else
				{
					document.write("<TD nowrap><%128%></TD>");
					if(parent.pppoe_dual_assign == '0')
					{
						document.write("<TR><TD nowrap><%1543%></TD>");
						document.write("<TD nowrap><%167%></TD></TR>");
					}
					else
					{
						document.write("<TR><TD nowrap><%1543%></TD>");
						document.write("<TD nowrap>"+parent.pppoe_eth_ip+"</TD></TR>");
						document.write("<TR><TD nowrap><%170%></TD>");
						document.write("<TD nowrap>"+parent.pppoe_eth_netmask+"</TD></TR>");
						document.write("<TR><TD nowrap><%228%></TD>");
						document.write("<TD nowrap>"+parent.pppoe_eth_gateway+"</TD></TR>");
					}
					document.write("<TR><TD nowrap><%1563%></TD>");
					if(parent.pppoe_dns1 == "" && parent.pppoe_dns2 == "")
						document.write("<TD nowrap><%167%></TD></TR>");
					else if(parent.pppoe_dns1 == "" && parent.pppoe_dns2 != "")
						document.write("<TD nowrap>"+parent.pppoe_dns2+"</TD></TR>");
					else if(parent.pppoe_dns1 != "" && parent.pppoe_dns2 == "")
						document.write("<TD nowrap>"+parent.pppoe_dns1+"</TD></TR>");
					else
					{
						document.write("<TD nowrap>"+parent.pppoe_dns1+"</TD></TR>");
						document.write("<TR><TD nowrap><BR></TD><TD nowrap>"+parent.pppoe_dns2+"</TD></TR>");
					}
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%177%></TD>
			<script>
				if(parent.mac_spoof == '0')
					document.write("<TD nowrap><%1564%></TD>");
				else if(parent.mac_spoof == '1')
					document.write("<TD nowrap><%1565%></TD>");
				else
					document.write("<TD nowrap>"+parent.Spoofmac+"</TD>");
			</script>
		</TR>
	</TABLE>
	</div>
<!-- PPTP -->
	<div align="center" ID="type4" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE align="center" style="width:100%" >

        <tr style="height:10px">
        <td colspan="2"></td>
        </tr>
        
		<TR>
			<TD nowrap class="centerTd"><%1566%></TD>
			<TD nowrap><%208%></TD>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%202%></TD>
			<script>document.write("<TD nowrap>"+parent.pptp_username+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%1568%></TD>
			<script>document.write("<TD nowrap>"+parent.pptp_password+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%258%></TD>
			<script>document.write("<TD nowrap>"+parent.pptp_server_ipaddr+"</TD>");</script>
		</TR>
		<TR><TD class="centerTd"><%1567%></TD><TD>Yes</TD></TR>
		<TR>
			<TD nowrap class="centerTd"><%1543%></TD>
			<script>
				if(parent.pptp_wan_assign == '0')
					document.write("<TD nowrap><%167%></TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.pptp_local_ipaddr+"</TD></TR>");
					document.write("<TR><TD nowrap><%170%></TD>");
					document.write("<TD nowrap>"+parent.pptp_local_netmask+"</TD></TR>");
					document.write("<TR><TD nowrap><%228%></TD>");
					document.write("<TD nowrap>"+parent.pptp_local_gateway+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%1563%></TD>
			<script>
				if(parent.pptp_dns1 == "" && parent.pptp_dns2 == "")
					document.write("<TD nowrap><%167%></TD></TR>");
				else if(parent.pptp_dns1 == "" && parent.pptp_dns2 != "")
					document.write("<TD nowrap>"+parent.pptp_dns2+"</TD></TR>");
				else if(parent.pptp_dns1 != "" && parent.pptp_dns2 == "")
					document.write("<TD nowrap>"+parent.pptp_dns1+"</TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.pptp_dns1+"</TD></TR>");
					document.write("<TR><TD nowrap><BR></TD><TD nowrap>"+parent.pptp_dns2+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%177%></TD>
			<script>
				if(parent.mac_spoof == '0')
					document.write("<TD nowrap><%1564%></TD>");
				else if(parent.mac_spoof == '1')
					document.write("<TD nowrap><%1565%></TD>");
				else
					document.write("<TD nowrap>"+parent.Spoofmac+"</TD>");
			</script>
		</TR>
	</TABLE>
	</div>
<!-- L2TP -->
	<div align="center" ID="type5" style="position:absolute;top:0;left:0;visibility:hidden">
	<TABLE align="center" style="width:100%" >

        <tr style="height:10px">
        <td colspan="2"></td>
        </tr>
        
		<TR>
			<TD nowrap class="centerTd"><%1566%></TD>
			<TD nowrap><%210%></TD>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%202%></TD>
			<script>document.write("<TD nowrap>"+parent.l2tp_username+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%216%></TD>
			<script>document.write("<TD nowrap>"+parent.l2tp_password+"</TD>");</script>
		</TR>
		<TR>
			<TD nowrap class="centerTd"><%258%></TD>
			<script>document.write("<TD nowrap>"+parent.l2tp_server_ipaddr+"</TD>");</script>
		</TR>
		<TR><TD class="centerTd"><%1567%></TD><TD>Yes</TD></TR>
		<TR>
			<TD nowrap class="centerTd"><%1543%></TD>
			<script>
				if(parent.l2tp_wan_assign == '0')
					document.write("<TD nowrap><%167%></TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.l2tp_local_ipaddr+"</TD></TR>");
					document.write("<TR><TD nowrap><%170%></TD>");
					document.write("<TD nowrap>"+parent.l2tp_local_netmask+"</TD></TR>");
					document.write("<TR><TD nowrap><%228%></TD>");
					document.write("<TD nowrap>"+parent.l2tp_local_gateway+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%1563%></TD>
			<script>
				if(parent.l2tp_dns1 == "" && parent.l2tp_dns2 == "")
					document.write("<TD nowrap><%167%></TD></TR>");
				else if(parent.l2tp_dns1 == "" && parent.l2tp_dns2 != "")
					document.write("<TD nowrap>"+parent.l2tp_dns2+"</TD></TR>");
				else if(parent.l2tp_dns1 != "" && parent.l2tp_dns2 == "")
					document.write("<TD nowrap>"+parent.l2tp_dns1+"</TD></TR>");
				else
				{
					document.write("<TD nowrap>"+parent.l2tp_dns1+"</TD></TR>");
					document.write("<TR><TD nowrap><BR></TD><TD nowrap>"+parent.l2tp_dns2+"</TD></TR>");
				}
			</script>
		<TR>
			<TD nowrap class="centerTd"><%177%></TD>
			<script>
				if(parent.mac_spoof == '0')
					document.write("<TD nowrap><%1564%></TD>");
				else if(parent.mac_spoof == '1')
					document.write("<TD nowrap><%1565%></TD>");
				else
					document.write("<TD nowrap>"+parent.Spoofmac+"</TD>");
			</script>
		</TR>
	</TABLE>
	</div>


<tr><td><br></td></tr>
<TABLE align="center" style="width:100%" >

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR> 
	<TD colspan="2" class="left_text"><script>document.write("<%1569%>")</script></a>
</TD>

</TR>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onClick='location.href="RU_manual_spoof.htm";'><span><%974%></span></button>
        <button class="purpleBtn" type="button" style="width:200px" name="connect" value="submit" onClick='RU_manual_check_summary();'><span><%1570%></span></button>

	</td>

</TR>

</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>