<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript src=bas_pppoe.js></script>
<script language=javascript type=text/javascript>
var isp_type=parent.isp_type;
var str_pppoe_with_sta_ip="";
var str_hidden="";
var lan_ip="<%192%>";
var lan_subnet="<%193%>";

function loadvalue()
{
	str_pppoe_with_sta_ip=document.getElementById("pppoe_sta").innerHTML;
	document.getElementById("pppoe_sta").innerHTML="";
	str_hidden=document.getElementById("hidden").innerHTML;
	document.getElementById("hidden").innerHTML="";

	var cf=document.forms[0];
	parent.pppoe_server=parent.connection_id;

	cf.pppoe_username.value=parent.pppoe_username;
	cf.pppoe_passwd.value=parent.pppoe_password;
	cf.pppoe_servername.value=parent.pppoe_server;

	if(isp_type=="7" || isp_type=="8") /*pppoe+dynamic*/
	{
		document.getElementById("view").innerHTML=str_hidden;
	}
	else if(isp_type=="17" || isp_type=="18") //pppoe
	{
		document.getElementById("view").innerHTML=str_hidden;
	}
	else if(isp_type=="87") /*pppoe(dyn) with static ip*/
	{
		cf.pppoe_servername.value="";
		document.getElementById("view").innerHTML=str_hidden;
	}
	else if(isp_type=="88") /*pppoe(sta) with static ip*/
	{
		cf.pppoe_servername.value="";
		document.getElementById("view").innerHTML=str_pppoe_with_sta_ip;
	}

}
</script>
</HEAD>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_isp_pppoe">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="change_wan_type" value="0">
<input type="hidden" name="run_test" value="">
<input type="hidden" name="WANAssign">
<input type="hidden" name="pppoe_dod">
<input type="hidden" name="pppoe_ipaddr">
<input type="hidden" name="pppoe_dual_ipaddr">
<input type="hidden" name="pppoe_dual_subnet">
<input type="hidden" name="pppoe_dual_gateway">
<input type="hidden" name="DNSAssign">
<input type="hidden" name="pppoe_dnsaddr1">
<input type="hidden" name="pppoe_dnsaddr2">
<input type="hidden" name="hidden_pppoe_idle_time" value="0">
<input type="hidden" name="dual_access" value="1">
<input type="hidden" name="pppoe_dual_assign">
<input type="hidden" name="basic_type" value="0">
<input type="hidden" name="ppp_login_type" value="0">
<input type="hidden" name="pppoe_servername" >
<input type="hidden" name="welcome_wan_type">
<div>
<div>
<TABLE align="center" style="width:100%">

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR>
<TD colSpan="2" class="left_text"><H2><%1533%></H2></TD>
</TR>

<tr>
	<td colSpan="2" class="left_text"><%1541%></td>
</tr>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<tr>
	<td class="bigcenterTd"><%214%></td>
    <td align=right><input type=text name=pppoe_username></input></td>
</tr>
<tr>
	<td class="bigcenterTd"><%216%></td>
    <td align=right><input type=text name=pppoe_passwd></input></td>
</tr>

</table>
<div id=view></div>
<div align="center" ID="pppoe_sta" style="position:absolute;top:0;left:0;visibility:hidden">
<table align="center" style="width:100%">
	<TR>
	<TD></TD>

	<TD align=right>
	<input type="text" name="WPethr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WPethr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
  </TR>
</table>
</div>

<div align="center" ID="hidden" style="position:absolute;top:0;left:0;visibility:hidden">
	<input type="hidden" name="WPethr1"  value="" >
	<input type="hidden" name="WPethr2"  value="" >
	<input type="hidden" name="WPethr3"  value="" >
	<input type="hidden" name="WPethr4"  value="" >
</div>

<table align="center" style="width:100%">

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<tr>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onclick='location.href="RU_welcome.htm";'><span><%974%></span></button>
        <button class="purpleBtn" type="button" style="width:100px" name="next" value="submit" onclick="RU_pppoe_user_info();"><span><%976%></span></button>

	</td>

</tr>
</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
