<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript src=bas_ether.js></script>
<script language=javascript type=text/javascript>
var isp_type=parent.isp_type;
var lan_ip="<%192%>";
var lan_subnet="<%193%>";
function loadvalue()
{
	cf=document.forms[0];

	cf.l2tp_username.value=parent.l2tp_username;
	cf.l2tp_passwd.value=parent.l2tp_password;
	cf.l2tp_serv_ip.value=parent.l2tp_server_ipaddr;
	cf.DNSAssign.value="1";
	cf.WANAssign.value="1";

	var ether_get_ip=parent.static_ip.replace(/x/g,"");
	if (ether_get_ip!="")
	{
		var ip_array=ether_get_ip.split('.');
		cf.WPethr1.value=ip_array[0];
		cf.WPethr2.value=ip_array[1];
		cf.WPethr3.value=ip_array[2];
		cf.WPethr4.value=ip_array[3];
	}
	var ether_get_subnet=parent.static_subnet.replace(/x/g,"");
	if (ether_get_subnet!="")
	{
		var mask_array=ether_get_subnet.split('.');
		cf.WMask1.value=mask_array[0];
		cf.WMask2.value=mask_array[1];
		cf.WMask3.value=mask_array[2];
		cf.WMask4.value=mask_array[3];
	}
	var ether_get_gateway=parent.static_gateway.replace(/x/g,"");
	if (ether_get_gateway!="")
	{
		var gtw_array=ether_get_gateway.split('.');
		cf.WGateway1.value=gtw_array[0];
		cf.WGateway2.value=gtw_array[1];
		cf.WGateway3.value=gtw_array[2];
		cf.WGateway4.value=gtw_array[3];
	}

	var ether_get_dns1=parent.static_dns1.replace(/x/g,"");
	if (ether_get_dns1!="")
	{
		var dns1_array=ether_get_dns1.split('.');
		cf.DAddr1.value=dns1_array[0];
		cf.DAddr2.value=dns1_array[1];
		cf.DAddr3.value=dns1_array[2];
		cf.DAddr4.value=dns1_array[3];
	}
	var ether_get_dns2=parent.static_dns2.replace(/x/g,"");
	if (ether_get_dns2!="")
	{
		var dns2_array=ether_get_dns2.split('.');
		cf.PDAddr1.value=dns2_array[0];
		cf.PDAddr2.value=dns2_array[1];
		cf.PDAddr3.value=dns2_array[2];
		cf.PDAddr4.value=dns2_array[3];
	}

}
</script>
</HEAD>
<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_isp_l2tp_static">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<input type="hidden" name="l2tp_myip">
<input type="hidden" name="l2tp_mynetmask">
<input type="hidden" name="l2tp_gateway">
<input type="hidden" name="l2tp_conn_id" value="">
<input type="hidden" name="DNSAssign">
<input type="hidden" name="WANAssign">
<input type="hidden" name="change_wan_type" value="0">
<input type="hidden" name="l2tp_dnsaddr1">
<input type="hidden" name="l2tp_dnsaddr2">
<input type="hidden" name="l2tp_username">
<input type="hidden" name="l2tp_passwd">
<input type="hidden" name="l2tp_serv_ip">
<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="ether_ipaddr">
<input type="hidden" name="ether_subnet">
<input type="hidden" name="ether_gateway">
<input type="hidden" name="ether_dnsaddr1">
<input type="hidden" name="ether_dnsaddr2">
<input type="hidden" name="basic_type" value="0">
<input type="hidden" name="ppp_login_type" value="2">
<input type="hidden" name="run_test">
<input type="hidden" name="welcome_wan_type">
<input type="hidden" name="l2tp_dod" value="0">
<input type="hidden" name="STATIC_DNS">

<div>
<div>
<TABLE align="center" style="width:100%">
<tbody>
<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR><TD colspan="2" class="left_text"><H2><%1533%></H2></TD></TR>


<TR><TD colspan="2" class="left_text"><%1542%></TD></TR>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR><TD colSpan="2" class="center_text"><%1543%></TD></TR>


<TR>
	<TD class="centerTd"><%169%></TD>
	<TD align=right>
	<input type="text" name="WPethr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WPethr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD class="centerTd"><%170%></TD>
	<TD align=right>
	<input type="text" name="WMask1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WMask2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>
<TR>
	<TD class="centerTd"><%228%></TD>
	<TD align=right>
	<input type="text" name="WGateway1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WGateway2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR>
	<TD colSpan="2" class="center_text"><%172%></TD>
</TR>
<TR>
	<TD class="centerTd"><%175%></TD>
	<TD align=right>
	<input type="text" name="DAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="DAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD class="centerTd"><%176%></TD>
	<TD align=right>
	<input type="text" name="PDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="PDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onClick='location.href="RU_isp_l2tp.htm";'><span><%974%></span></button>
        <button class="purpleBtn" type="button" style="width:100px" name="next" value="submit" onClick="RU_welcome_static();"><span><%976%></span></button>

	</td>

</TR>

</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
