<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript>
parent.isp_type=0;

function loadvalue()
{
	var form=document.forms[0];
	var auth=parent.need_auth;
	if (auth == "1")
		form.login[0].checked = true;
	else if (auth == "0")
		form.login[1].checked = true;
}

function check_login()
{
	var form=document.forms[0];
	if(form.login[0].checked == true)
	{
		parent.need_auth="1";
		location.href="RU_login_yes.htm";
	}
	else if(form.login[1].checked == true)
	{
		parent.need_auth="0";
		location.href="RU_login_no.htm";
	}
	else
	{
		alert("<%1550%>");
		return false;
	}
	return true;
}
</script>
</HEAD>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_MC_login">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<div>
<div>
<TABLE align="center" style="width:100%">
<tr style="height:10px">
<td colspan="2"></td>
</tr>
<TR><TD colSpan="2" class="left_text"><h2><%1533%></h2></TD></TR>

<TR><TD colSpan="2" class="left_text"><script>document.write("<%1551%>")</script></TD></TR>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR> 
	<TD class="left_text" colspan="2">
	<input type="radio" name="login" value="yes"><%128%> </TD>
	</TD>
</TR>
<TR> 
	<TD class="left_text" colspan="2">
	<input type="radio" name="login" value="no"><%129%> </TD>
	</TD>
</TR>
<tr style="height:10px">
<td colspan="2"></td>
</tr>
<TR>
	<TD colspan="2" align="center" class="text-align:center;">
        <button type="button" style="width:100px" value="submit" class="purpleBtn" name="back" onclick='location.href="RU_welcome.htm"'><span><%974%></span></button>
        <button type="button" style="width:100px" value="submit" class="purpleBtn" name="next" onClick='check_login();'><span><%976%></span></button>

	</TD>
</TR>

</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
