<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript src=bas_pppoe.js></script>
<script language=javascript type=text/javascript>
function loadvalue()
{
	var form=document.forms[0];
	form.pppoe_username.value=parent.pppoe_username;
	form.pppoe_passwd.value=parent.pppoe_password;
	form.pppoe_servername.value=parent.pppoe_server;
}
</script>
</HEAD>


<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_manual_pppoe">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<div>
<div>
<TABLE align="center" style="width:100%">

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR><TD colSpan="2" class="left_text"><h2><%1533%></h2></TD></TR>

<tr>
	<td colSpan="2" class="left_text"><%1541%></td>
</tr>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<tr>
	<td colspan="2" class="center_text"><%1557%></td>
</tr>	
<tr>
	<td class="centerTd"><%214%></td>
    <td align=right><input type="text" name="pppoe_username" onKeyPress="return getkey('ssid', event)"></td>
</tr>
<tr>
	<td class="centerTd"><%216%></td>
    <td align=right><input type="text" name="pppoe_passwd" onFocus="this.select();" onKeyPress="return getkey('ssid', event)"></td>
</tr>
<tr>
	<td class="centerTd"><%425%></td>
    <td align=right><input type="text" name="pppoe_servername" onKeyPress="return getkey('ssid', event)"></td>
</tr>

<tr style="height:10px">
<td colspan="2"></td>
</tr>

<tr>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onclick='location.href="RU_login_yes.htm"'><span><%974%></span></button>
        <button class="purpleBtn" type="button" style="width:100px" name="next" value="submit" onclick="RU_pppoe_user_info()";><span><%976%></span></button>

	</td>

</tr>
</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
