<HTML><HEAD>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript>
function conf_later()
{
	var cf=document.forms[0];
	
	cf.submit_flag.value="quit";
	cf.submit();
}
</script>
</HEAD>

<BODY bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_manual_fail">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<div>
<div>
<TABLE align="center" style="width:100%">
<tr style="height:10px">
<td colspan="2"></td>
</tr>
<TR><TD colspan="2" class="left_text"><h2><%1533%></h2></TD></TR>

<tr>
	<td colspan="2" class="left_text"><script>document.write("<%1561%>")</script></td>
</tr>

<tr style="height:10px">
<td colspan="2"></td>
</tr>
<tr>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onclick='location.href="RU_finish_manual.htm"'><span><%974%></span></button>
		<button class="purpleBtn" type="button" style="width:150px" name="later" value="submit" onclick="conf_later();"><span><%1549%></span></button>
	</td>
    
</tr>
</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
