html, body 
{
	margin: 0;
	padding: 0;
	font-family:Arial; 	
}

h1{
	padding-left:5%;
	font-size:12px;
	font-family:Arial;
        font-weight:bold;
        color:#F32A31;
                
}

h2{
	padding-left:0%;
	font-size:20px;
	font-family:Arial;
        font-weight:bold;
        color:#9d98ff;                
}

.topframe{
	background-color:#2b2b2b;
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
	margin:0;
	padding: 0;	
}


.WNRTitle{
	font-family:Arial;
	padding-top:0px;
        padding-bottom:40px;
	margin-top: 0px;
	padding-left:20px;
        height: 50px;
	line-height:80%;
	font-weight:bold;
	font-size:14px;
}

button 
{
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner 
{
	border: none;  /* overrides extra padding in Firefox */
}

button span 
{ 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	/* Safari and Google Chrome only - fix margins */
	button span 
	{
		margin-top: -1px;
	}
}


/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.purpleBtn 
{
        font-family:Arial; 
	margin-left:0px;
	padding: 0 15px 0 0; 
	margin-right:5px; 
	font-size:12px; 
	font-weight:bold;
	text-align: center; 
	background: transparent url(button_sprite.gif) no-repeat right -45px;
}
	
button.purpleBtn span 
{
    font-family:Arial;
	padding: 4px 0 0 17px; 
	height:25px; 
	background: transparent url(button_sprite.gif) no-repeat left top; 
	color:#fff; 
}
	


button.greenBtn 
{ 

        font-family:Arial;
	padding: 0 15px 0 0; 
	margin-right:5px; 
	margin-left:30px;
	font-size:12px; 
	text-align: center;
	font-weight:bold;	      
	background: transparent url(g_button_sprite.gif) no-repeat right -45px;        
}
	
button.greenBtn span 
{
        font-family:Arial;
	padding: 4px 0 0 20px; 
	height:25px; 
	background: transparent url(g_button_sprite.gif) no-repeat left top; 
	color:#fff;
}
	
.inputRow
{
	font-family:Arial;     		 
	font-size:16px;
	color:#404040; 
}

.centerTd
{
	font-family:Arial;  
	font-size:14px;
	height:15px;
        color:#404040;    
	width:380px;
	padding-left:20px;
}
.centerTd2
{
	font-family:Arial;  
	font-size:10px;
	height:15px;
    color:#404040;    
	width:450px;
	text-align:center;
}
.textRow
{
	font-family:Arial;  
	font-size:14px;
	height:15px;
    color:#404040;              
}
.bigcenterTd
{
	font-family:Arial;  
	font-size:14px;
	height:15px;
        color:#404040;    
	width:480px;
	padding-left:20px;
}

.center_text
{
	font-family:Arial;  
	font-size:14px;
	height:15px;
    color:#404040;    
	text-align:center;
}
.left_text
{
	font-family:Arial;  
	font-size:14px;
	height:15px;
    color:#404040;    
	padding-left:20px;
}

