<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript>
<!--
function redirect()
{
	setTimeout("location.href='Congratulations.htm'", 5000);
}
//-->
</script>
</head>
<body bgcolor="#ffffff" onLoad="redirect();">
<table align="center" style="width:100%">

<tr style="height:10px"><td colspan="2"></td></tr>

<tr>
	<td colspan="2" class="left_text"><h2><%1533%></h2></td>
</tr>

<tr style="height:10px"><td colspan="2"></td></tr>

<tr>
	<td colspan="2" class="left_text"><%1534%></td>
</tr>
</table>
</body>
</html>
