<HTML>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
</HEAD>
<FRAMESET border=0 borderColor=#000000 rows="80%,*" frameborder=0 frameSpacing=0 cols=*>
<FRAME frameBorder=NO marginHeight=0 marginWidth=0 scrolling=no name=StatTable noResize src="traffic_stattbl.htm">
<FRAME frameBorder=NO marginHeight=0 marginWidth=0 scrolling=no name=StatIntvl noResize src="traffic_interval.htm">
</FRAMESET>
</HTML>
