<HTML>
<HEAD>
<%10%>
<%1366%>
<link rel="stylesheet" href="form.css">
<script language="JavaScript">
<!--
function go()
{
    document.forms[0].submit();
}
//-->
</script>
</HEAD>
<BODY onLoad="go();">
<form name="tm_important_update" method="POST" action="traffic_important_update.cgi"> 
</form>
</BODY>
</HTML>

