<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
function wait1()
	{		     	 
		t = setTimeout('do_submit()',500);
	}

	function do_submit()
	{
		document.forms[0].submit();	
	}
</script>
</head>
<body onload="wait1();">
<table border="0">
<form method="POST" action="ver_check_upgrade.cgi" style="margin:0px">
<input type="Hidden" name="Check" value="<%892%>"></input>
</form>
<!--
<tr>
    <td colspan="2" class="table-seperate-border"><input type="checkbox" <%893%> name="enable" value="1" onclick="enableFwCheck();submit();"><b><%894%></b></td></tr>
-->
</table>
</body>
</html>

