<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<script language="javascript" type="text/javascript">
<!--
function submit_form()
{
    document.forms[0].submit();
}
-->
</script>
</head>
<body  onload="submit_form();">
    <form id="upgrade_form" method="POST" action="ver_check_upgrade.cgi"  style="margin:0px"  >
        <input type="hidden" name="Check" class="button-rule"  value="Check"  >
    </form>
</body>
</html>