<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>		
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function trim(vString)
{ 
	var tString = vString;

	//trim left spaces
	if (tString.charAt(0) == " ")
		tString = trim(tString.substring(1, tString.length));

	//trim right spaces
	if (tString.charAt(tString.length-1) == " ")
		tString = trim(tString.substring(0, tString.length-1));

	return(tString);
}
function isNumOnly(vString)
{
	var NUMBERS = "0123456789";
	var valid = true;
	for(var i=0;i<vString.length;i++)
		if(NUMBERS.indexOf(vString.charAt(i))<0)
			valid = false;
			
	return(valid);
}
function isNull(vField) {
	var ret = false;
	vField.value = trim(vField.value)
	
	if (vField.value.length == 0)
		ret = true;
	return(ret)
}
function CheckAdverTimeVal(vField)
{
	if(isNull(vField)){
		alert("<%3%> " + vField.name);
		vField.value = vField.form.hiddenAdverTime.value;
		vField.focus();
		return false;
	}
	if(!isNumOnly(vField.value)){
		alert(vField.name + " <%6%>");
		vField.value = vField.form.hiddenAdverTime.value;
		vField.focus();
		return false;
	}
	if((vField.value >1440 )||(vField.value <= 0 )){
		alert(vField.name + " <%900%>");
		vField.value = vField.form.hiddenAdverTime.value;
		vField.focus();
		return false;
	}	
	return true
}
function CheckTimeToLiveVal(vField)
{
	if(isNull(vField)){
		alert("<%3%> " + vField.name);
		vField.value = vField.form.hiddenTimeToLive.value;
		vField.focus();
		return false;
	}
	if(!isNumOnly(vField.value)){
		alert(vField.name + " <%6%>");
		vField.value = vField.form.hiddenTimeToLive.value
		vField.focus()
		return false	
	}
	if((vField.value > 255 )||(vField.value <= 0 )){
		alert(vField.name + " <%901%>")
		vField.value = vField.form.hiddenTimeToLive.value
		vField.focus()
		return false 
	}
	return true
}

function finishchech()
{
    var cf = document.forms[0];

	if(!CheckAdverTimeVal(document.formname.AdverTime))
		return false;
	else if(!CheckTimeToLiveVal(document.formname.TimeToLive))
		return false;
	else
	{
	    //document.formname.submit();
	    if (cf.UPnP.checked)
	        cf.hiddenTurnUPnPOn.value = 1;
	    else
	        cf.hiddenTurnUPnPOn.value = 0;
	    return true
	}
}

function fresh()
{
window.location.href="UPNP_upnp.htm";
}

function init()
{
    var cf = document.forms[0];

    if (cf.hiddenTurnUPnPOn.value == 1)
        cf.UPnP.checked = true;
    else
        cf.UPnP.checked = false;
}
//-->
</script>
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="change_size(); init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="upnp.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
 
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%96%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onClick="buttonClick(this,'<%157%>');return finishchech()" type="submit" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');location.href='UPNP_upnp.htm'" type="button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>&nbsp;&nbsp;&nbsp;<button value="<%159%>" OnClick="buttonClick(this,'<%358%>');fresh();" type="button" name="refresh" class="button-rule" ><span class="roundleft_button"><span class="refresh-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%358%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
		
	
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


<tr><td nowrap width="46%"><input type="checkbox" name="UPnP" value="UPnP"><B><a href="javascript:loadhelp('UPNP_upnp','turnon')" tabindex="-1"><%902%></a></B></td>
<td nowrap width="54%"></td></tr>
 
<tr><td nowrap width="46%"><B><a href="javascript:loadhelp('UPNP_upnp','adv')" tabindex="-1"><%903%></a> </B><%904%></td>
<td nowrap width="54%" align="right"><input type="text" class="num" name="AdverTime" size="5" maxlength="4" value="<%905%>" onFocus="this.select();" ></td>
</tr>

<tr>
 <td nowrap width="46%"><B><a href="javascript:loadhelp('UPNP_upnp','live')" tabindex="-1"><%906%></a></b> <%907%></td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="TimeToLive" size="4" maxlength="3" value="<%908%>" onFocus="this.select();" ></td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
 <td colspan="2"><b><a href="javascript:loadhelp('UPNP_upnp','table')" tabindex="-1"><%909%></a></b></td>
</tr>

<tr>
<td colspan="2">

<table border ="1" cellpadding ="0" cellspacing ="0" width="100%">
 <TR><TD width="10%" align="center"><span class="thead"><%869%></span></TD>
 	<TD width="15%" align="center"><span class="thead"><%321%></span></TD>
 	
	 <TD width="15%" align="center"><span class="thead"><%910%></span></TD>
	 <TD width="15%" align="center"><span class="thead"><%911%></span></TD>
	 <TD width="25%" align="center"><span class="thead"><%169%></span></TD>
	</TR> 
	<!><%912%><!>
</table>
</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>



</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="UPNP_upnp_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</TABLE>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>


 

<input type="hidden" value="<%913%>" name="hiddenTurnUPnPOn">
<input type="hidden" value="<%905%>" name="hiddenAdverTime">
<input type="hidden" value="<%908%>" name="hiddenTimeToLive">

<a name="helpframe-anchor"></a>
</form>
</div>
</body>
 <head>
  <%10%>
</head>

</html>


