<!DOCTYPE HTML>
<html><head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<style type="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
        if(need_to_check_browser_type())
            window.location.href="USB_basic_main.htm";
    
    
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

function need_to_check_browser_type()
{
    var isIE = navigator.userAgent.search("MSIE") > -1; 
    var isFirefox = navigator.userAgent.search("Firefox") > -1;
    var isOpera = navigator.userAgent.search("Opera") > -1;
    var isChrome = navigator.userAgent.search("Chrome") > -1;
    var isSafari = navigator.userAgent.search("Safari") > -1;
    var router_smb_link_style = document.getElementsByName('router_smb_link_style');

    if(isChrome & router_smb_link_style[0].value!="others")
        return true;
    else if(!isChrome & isSafari & router_smb_link_style[0].value!="safari")
        return true;
    else if(isIE & router_smb_link_style[0].value!="explorer")
        return true;
    else if(!isSafari & !isIE & router_smb_link_style[0].value!="others")
        return true;
    else
        return false;
}     

function remove_disk()
{
    var msg = ""
	cf=document.forms[0];
	
	if(cf.usb_num.value == 0)
	{
         msg+= "<%1571%>.\n";
    }
    if (msg.length > 1)
	{
		alert(msg);
		return false;
    }
    return true;
}

function loadSettings()
{
    var cf=document.forms[0];
	if (cf.no_usb_device.value == 1)
        {

var removeButton;
cf.Remove.disabled = 'true';
removeButton=document.getElementsByName("Remove");
removeButton[0].outerHTML='<button type="submit" disabled value="<%1572%>" name="Remove" class="button-grey" onClick="buttonClick(this,\'<%1572%>\');return remove_disk();"><span class="roundleft_grey">&nbsp;&nbsp; <%1572%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='default';
}

    if (cf.umountsucc.value == "1")
    {
        //openWarnWindow();
          alert("<%1573%>");
    }
    else if (cf.umountsucc.value == "2")
    {
        openWarnWindow();
    }
}

function openWarnWindow()
{
     var ischrome = navigator.userAgent.toLowerCase().indexOf('chrome');
     if(ischrome > -1){
         var nwin = window.open();
         nwin.location = "USB_umount.htm";         
     }else{
         window.open('USB_umount.htm','','width=400,height=360,status=yes,resizable=yes,alwaysRaised=yes');
     }
}

function UpdateAliveLink()
{
    parent.$('.SubMenuActive').addClass('SubMenu');
    parent.$('.SubMenuActive').removeClass('SubMenuActive');
    parent.$('#Advanced_Settings').addClass('SubMenuActive');
    parent.$('#Advanced_Settings').removeClass('SubMenu');
}

//-->
</script></head>
<body onload="change_size();loadSettings();"  class="page-body" onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg"> 
<div id="full-page-container">

<form id="target"  name="frmService" method="post" action="usb_adv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
    <img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1574%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%358%>');location.href='USB_basic.htm'" type="button" name="Refresh" class="button-rule" ><span class="roundleft_button"><span class="refresh-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%358%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" ><a href="javascript:loadhelp('USB_basic','device')" 
tabindex="-1"><b><%1575%>:</b></a>&nbsp;&nbsp;&nbsp;&nbsp; <%1576%></td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" ><a href="javascript:loadhelp('USB_basic','available_folder')" tabindex="-1"><b><%1577%></b></a></td>
</tr>
<tr>
<td colspan="2" >
<table border="1" cellpadding="2" cellspacing="0" width="100%">

<tr>
<td align="center" nowrap="nowrap" width="20%"><span class="thead"><%1578%></span></td>
<td align="center" nowrap="nowrap" width="20%"><span class="thead"><%1579%></span></td>
<td align="center" nowrap="nowrap" width="7%"><span class="thead"><%1580%></span></td>
<td align="center" nowrap="nowrap" width="19%"><span class="thead"><%1581%></span></td>
<td align="center" nowrap="nowrap" width="20%"><span class="thead"><%1582%></span></td>
<td align="center" nowrap="nowrap" width="7%"><span class="thead"><%1583%></span></td>
<td align="center" nowrap="nowrap" width="7%"><span class="thead"><%1584%></span></td>
</tr>

<%1585%>
</table>
</td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" >
&nbsp;&nbsp;&nbsp;<button type="button" value="<%305%>" name="Edit" class="button-rule" onclick="buttonClick(this,'<%305%>');UpdateAliveLink();location.href='USB_adv.htm'"><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%305%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
<td colspan="2" >
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%1572%>" name="Remove" class="button-rule" onclick="buttonClick(this,'<%1572%>');return remove_disk();"><span class="roundleft_button">&nbsp;&nbsp; <%1572%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="USB_basic_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<input type="hidden" name="usb_num" value="<%1586%>">
<input type="hidden" name="action" value="basic">
<INPUT name=umountsucc type=hidden value="<%1587%>">
<INPUT name=router_smb_link_style type=hidden value="<%1588%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body></html>
