<html><head>
<%10%>
<%111%>
<script language="javascript" type="text/javascript">
<!--
function loadSettings()
{
    cf = document.forms[0];
    var appName =navigator.appName;
    var userAgent = navigator.userAgent.toLowerCase();
    cf.appName.value = appName;
    cf.userAgent.value = userAgent;
    cf.submit();
}
//-->
</script></head>
<body bgcolor="#ffffff">
<img class="cover-image" src="img/cover-image.gif" onload="loadSettings();">
<form name="browser_name" method="post" action="usb_adv_main.cgi">
<input type="hidden" name="appName" value="">
<input type="hidden" name="userAgent" value="">
</form>
</body></html>
