<!DOCTYPE HTML>
<html>
<head>
<%10%>

<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers









    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goHome(){
	if (top.tophideframe)
		top.close();
	else
		window.location.href="<%1262%>";
}
//-->
</script>
</head>
<body  style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="lang_result.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2">
	<h1><%1259%></H1>
</td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
    <td colspan="2"><b><%1263%></b></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%1841%>:</td>
        <td width="50%"><%1842%></td>
</tr>
<tr>
	<td width="50%"><%1843%>:</td>
        <td width="50%"><%1844%></td>
</tr>
<tr>
	<td width="50%"><%1264%></td>
        <td width="50%"><%1265%></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%1266%></td>
        <td width="50%"><%1267%></td>
</tr>
<tr></tr>
<tr>
<tr></tr>
    <td><b><%1845%>:</b></td>
</tr>
	<%1269%>

<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
		&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%128%>" name="Yes" class="button-rule" onclick="buttonClick(this,'<%128%>');" ><span class="roundleft_button">&nbsp;&nbsp; <%128%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
		&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%129%>" name="No" class="button-rule" onClick="buttonClick(this,'<%129%>');goHome();"><span class="roundleft_button">&nbsp;&nbsp; <%129%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	</td></tr>
</table>
</form>
<p></p>
</body>
</html>

