<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function do_submit(){
	document.forms[0].submit();
}
function wait1()
{
	setTimeout('do_submit()',2000);
}
function stop1()
{
document.forms[0].stop.value = "yes";
return true;
}
function data_check()
{
    if (top.tophideframe)
    {
        document.forms[0].menu_top_hide.value = "yes";
    }
}
//-->
</script>
</head>
<body  onLoad="wait1();data_check();" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="ver_check.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2">
	<h1><%1259%></H1>
</td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td colspan="2" align="center"><b><%1260%></b></td>
</tr>
</tr>
<tr>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
		&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%159%>" name="Cancel" class="button-rule" onClick="buttonClick(this,'<%159%>');return stop1();"><span class="roundleft_button">&nbsp;&nbsp; <%159%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	</td></tr>
</table>
<input type="hidden" name="stop" value="no">
<input type="hidden" name="menu_top_hide" value="no">
</form>
<p></p>
</body>
</html>

