<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
</head>

<frameset cols="*,960,*" style="border:0" noresize scrolling="auto" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">
    <frame src="frame_back.htm" style="background-color:#787878;" noresize scrolling="auto" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">
    
    <frameset rows="92,*" noresize scrolling="auto" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">                                                  
            <frame src="genie_top.htm" name="topframe" noresize scrolling="no" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">
            <frame src="<%1514%>" noresize scrolling="auto" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">
    </frameset>
    
    <frame src="frame_back.htm" style="background-color:#787878"  noresize scrolling="auto" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" border="0">
</frameset>

<noframes>
<body>
    <p><%130%>
</body>
</noframes>
</html>

