<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--

function loadSettings()
{
	var cf = document.forms[0];
	if (cf.wl_ampdu.value == "off")
		cf.ampdu.selectedIndex = 1;
	else
		cf.ampdu.selectedIndex = 0;

	if (cf.wl_amsdu.value == "off")
		cf.amsdu.selectedIndex = 1;
	else
		cf.amsdu.selectedIndex = 0;

	if (cf.wl_frameburst.value == "off")
		cf.frameburst.selectedIndex = 1;
	else
		cf.frameburst.selectedIndex = 0;
}

function checkData()
{
	var cf = document.forms[0];
	var n = parseInt(cf.beacon.value);

	//if (cf.ampdu.selectedIndex == 0 && cf.amsdu.selectedIndex == 0) {
	//	alert("Only one of A-MPDU or A-MSDU can be turned on.");
	//	return false;
	//}

	return true;
}

//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="loadSettings();document.forms[0].elements[0].focus();">
<form name="frmLan" method="POST" action="wifi.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2"><h1>WiFi Setup</h1></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td nowrap colspan="2" tabindex="-1"><b>Beacon</b></td>
</tr>

<tr><td nowrap width="46%" tabindex="-1">Beacon Interval (in ms)</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="beacon" size="5" maxlength="5" value="<%1765%>"></td>
</tr>

<tr><td nowrap width="46%" tabindex="-1">Beacon Interval (in ms)</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="dtim" size="5" maxlength="5" value="<%1766%>"></td>
</tr>


<tr><!-- RULE -->
	<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td nowrap colspan="2"><p><b><tabindex="-1">Aggregation</a></b></p></td>
</tr>

<tr>
<td nowrap>A-MPDU aggregation</td>
<td align="right">
<select name="ampdu" size="1">
	<option value=1><%1767%></option>
	<option value=0><%1768%></option>
</select></td>
</tr>
<tr>
<td nowrap>A-MSDU aggregation</td>
<td align="right">
<select name="amsdu" size="1">
	<option value=1><%1767%></option>
	<option value=0><%1768%></option>
</select></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<td nowrap>Frameburst</td>
<td align="right">
<select name="frameburst" size="1">
	<option value=1><%1767%></option>
	<option value=0><%1768%></option>
</select></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td colspan="2" align="center">
	<input type="SUBMIT" name="action" value="<%157%>" onClick="return checkData()">
    <input type="BUTTON" name="Cancel" value="<%159%>" onClick="reset();loadSettings();"></td>
</tr>
</table>
<INPUT name=wl_ampdu type=hidden value= "<%1769%>">
<INPUT name=wl_amsdu type=hidden value= "<%1770%>">
<INPUT name=wl_frameburst type=hidden value= "<%1771%>">
</form>
<p>
</p>
</body>
</html>
