<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- 


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goipfixed() {
 location.href="<%971%>"
	}
function goSelect() {
 location.href="WIZ_sel.htm"
	}
//-->
</script>
</head>

<body  onLoad="" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="wiz_rst.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
	<td colspan="2" align="center">
	<h1><%972%></H1>
	</td>
</tr>
<%967%>
            <tr><td colspan="2" align="center"><%973%></td></tr>
<%968%>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2" align="center">
<%965%>
&nbsp;&nbsp;&nbsp;<button type="Button" value="<%974%>" name="back" class="button-rule" onClick="buttonClick(this,'<%974%>');goSelect()"><span class="roundleft_button">&nbsp;&nbsp; <%974%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%966%>
&nbsp;&nbsp;&nbsp;<button type="Button" value="<%959%>" name="next" class="button-rule" onClick="buttonClick(this,'<%959%>');goipfixed()"><span class="roundleft_button">&nbsp;&nbsp; <%959%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
</table>
</form>
<p></p>
</body>

</html>
