<HTML>
<head>
<%10%>
<link rel="stylesheet" href="form.css">
<script language="JavaScript">
<!--
function do_submit()
{document.forms[0].submit();
}
function wait1()
{
setTimeout('do_submit()',1500);
}

var pchar = "||"; // progress char
var maxchars = 33; 
var delay_time = 410; // msecs
var charcount = 0; 

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}

function updateProgress()
{
	var cf = document.forms[0];

	if (charcount < maxchars)
	{
	    if (cf.progress != null)
	    {
		    charcount ++;
	        cf.progress.value = makeStr(charcount,pchar);
		    setTimeout("updateProgress()",delay_time);
		}
		else
		    alert("cf.progress == NULL");
	}
}

//-->
</script>

</HEAD>
<%965%>
<BODY onLoad="wait1();" bgcolor="#ffffff" LINK=#000000 VLINK=#000000 ALINK=#000000>
<%966%>
<%967%>
<BODY onLoad="updateProgress();do_submit();" bgcolor="#ffffff" LINK=#000000 VLINK=#000000 ALINK=#000000>
<%968%>
<form name="formname" method="POST" action="detwan.cgi">
 <input type="hidden" name="WDect" value="Execute">
<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">

<%965%>
<tr>
 <td><h1><%58%></h1></td>
</tr>
<tr colspan="2">
 <td align=center >&nbsp;</TD>
</TR>		
<tr colspan="2">
<p>
 <td align=center ><b><%969%></b></TD>
</p> 
</TR>
<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr colspan="2">
 <td align=center><%970%></TD>
</TR>
<%966%>

<%967%>
<tr>
 <td nowrap><h1><%58%></h1></td>
 <td></td>
 <td nowrap><input type="text" name="progress" value="" style="color: #0000ff" ></td>
</tr>

<tr>
<p>
 <td></td>
 <td align=center ><BR><b><%969%></b></TD>
 <td></td>
</p> 
</tr>
<tr>
 <td colspan="3" height="12"><hr color="#0099CC"></td>
</tr>
<tr>
 <td></td>
 <td align=center><%970%></TD>
 <td></td>
</tr>
<%968%>

</TABLE>
</form>
</BODY>
</HTML>

