<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!--
var DisableFixedIP = false;
var DisableFixedDNS = false;

function goTestApply()
{
	var winoptions = "width=640,height=480,menubar=yes,toolbar=yes,status=yes,location=yes,resizable=yes";
	if(document.forms[0].runtest.value == "yes")
		window.open('BAS_wtest_d.htm','test_win',winoptions);
}

function loadcheck(){
    loadhelp('WIZ_fix');
	if(isIE()){
	}
}

function loadhelp(fname,anchname) 
{
    if (top.helpframe != null)
    {
        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
        	top.helpframe.location.href=fname+"_h.htm";
        else
        	top.helpframe.location.href=fname+"_h.htm#" + anchname;
	}
}

function checkData()
{
	var cf = document.forms[0];
	var msg = "";

	if(checkIP(cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,254)||(parseInt(cf.WPethr4.value,10)==0))
		msg+= "<%9%>";
	else
	{
		cf.WPethr1.value = parseInt(cf.WPethr1.value,10);
		cf.WPethr2.value = parseInt(cf.WPethr2.value,10);
		cf.WPethr3.value = parseInt(cf.WPethr3.value,10);
		cf.WPethr4.value = parseInt(cf.WPethr4.value,10);
	}
	if(checkIP(cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,255))
		msg+= "<%150%>";
	else
	{
		cf.WMask1.value = parseInt(cf.WMask1.value,10);
		cf.WMask2.value = parseInt(cf.WMask2.value,10);
		cf.WMask3.value = parseInt(cf.WMask3.value,10);
		cf.WMask4.value = parseInt(cf.WMask4.value,10);
	}
	if(checkIP(cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4,254)||(parseInt(cf.WGateway4.value,10)==0))
		msg+= "<%151%>";
	else
	{
		cf.WGateway1.value = parseInt(cf.WGateway1.value,10);
		cf.WGateway2.value = parseInt(cf.WGateway2.value,10);
		cf.WGateway3.value = parseInt(cf.WGateway3.value,10);
		cf.WGateway4.value = parseInt(cf.WGateway4.value,10);
	}
	if(checkIP(cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,254)||(parseInt(cf.DAddr4.value,10)==0))
		msg+= "<%154%>";
	else
	{
		cf.DAddr1.value = parseInt(cf.DAddr1.value,10);
		cf.DAddr2.value = parseInt(cf.DAddr2.value,10);
		cf.DAddr3.value = parseInt(cf.DAddr3.value,10);
		cf.DAddr4.value = parseInt(cf.DAddr4.value,10);
	}
	if(cf.PDAddr1.value.length>0 || cf.PDAddr2.value.length>0 || cf.PDAddr3.value.length>0 || cf.PDAddr4.value.length>0)
	{
		if(checkIP(cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4,254)||(parseInt(cf.PDAddr4.value,10)==0))
			msg+= "<%155%>";
		else
		{
			cf.PDAddr1.value = parseInt(cf.PDAddr1.value,10);
			cf.PDAddr2.value = parseInt(cf.PDAddr2.value,10);
			cf.PDAddr3.value = parseInt(cf.PDAddr3.value,10);
			cf.PDAddr4.value = parseInt(cf.PDAddr4.value,10);
		}
	}
                
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}

	cf.wan_ipaddr.value = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
	cf.wan_netmask.value = cf.WMask1.value+'.'+cf.WMask2.value+'.'+cf.WMask3.value+'.'+cf.WMask4.value;
	cf.wan_gateway.value = cf.WGateway1.value+'.'+cf.WGateway2.value+'.'+cf.WGateway3.value+'.'+cf.WGateway4.value;
	cf.wan_dns1_pri.value = cf.DAddr1.value+'.'+cf.DAddr2.value+'.'+cf.DAddr3.value+'.'+cf.DAddr4.value;
	cf.wan_dns1_sec.value = cf.PDAddr1.value+'.'+cf.PDAddr2.value+'.'+cf.PDAddr3.value+'.'+cf.PDAddr4.value;        
        
	return true;
}

function loadSettings()
{
	var cf = document.forms[0];
	var wan_ipaddr = cf.wan_ipaddr.value.split(".");
	var wan_netmask = cf.wan_netmask.value.split(".");
	var wan_gateway = cf.wan_gateway.value.split(".");
	var wan_dns1_pri = cf.wan_dns1_pri.value.split(".");
	var wan_dns1_sec = cf.wan_dns1_sec.value.split(".");

	cf.WPethr1.value = wan_ipaddr[0];
	cf.WPethr2.value = wan_ipaddr[1];
	cf.WPethr3.value = wan_ipaddr[2];
	cf.WPethr4.value = wan_ipaddr[3];
	cf.WMask1.value = wan_netmask[0];
	cf.WMask2.value = wan_netmask[1];
	cf.WMask3.value = wan_netmask[2];
	cf.WMask4.value = wan_netmask[3];
	cf.WGateway1.value = wan_gateway[0];
	cf.WGateway2.value = wan_gateway[1];
	cf.WGateway3.value = wan_gateway[2];
	cf.WGateway4.value = wan_gateway[3];

	if (cf.wan_dns1_pri.value != "")
	{
	    cf.DAddr1.value = wan_dns1_pri[0];
	    cf.DAddr2.value = wan_dns1_pri[1];
	    cf.DAddr3.value = wan_dns1_pri[2];
	    cf.DAddr4.value = wan_dns1_pri[3];
	}
	if (cf.wan_dns1_sec.value != "")
	{
	    cf.PDAddr1.value = wan_dns1_sec[0];
	    cf.PDAddr2.value = wan_dns1_sec[1];
	    cf.PDAddr3.value = wan_dns1_sec[2];
	    cf.PDAddr4.value = wan_dns1_sec[3];
	}
}

//-->
</script>
</head>
<body bgcolor="#ffffff" onload="loadSettings();loadcheck();document.forms[0].elements[0].focus();goTestApply();">
<%965%>
<form name="formname" method="POST" action="wiz_fix2.cgi"> 
<%966%>
<%967%>
<form name="formname" method="POST" action="bsw_fix.cgi"> 
<%968%>
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr>
<td colspan="2"><h1><%978%></h1></td>
</tr>

<tr> <!-- RULE -->
 <TD NOWRAP colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" nowrap><a href="javascript:loadhelp('WIZ_fix','InternetIP')" tabindex="-1"><b><%166%></b></a></td>
</tr>
<tr>
	<TD NOWRAP><%169%></td>
	<TD NOWRAP align="right" class="num"><img src="spacer.gif" width="200" height="1" border=0><br>
 <input type="text" name="WPethr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WPethr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WPethr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WPethr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<TD NOWRAP><%170%></td>
	<TD NOWRAP align="right" class="num"><input type="text" name="WMask1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<TD NOWRAP><%228%></td>
	<TD NOWRAP align="right" class="num"><input type="text" name="WGateway1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr> <!-- RULE -->
 <TD NOWRAP colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<TD NOWRAP colspan="2"><a href="javascript:loadhelp('WIZ_fix','DNSaddress')" tabindex="-1"><b><%172%> </b></a></td>
</tr>
<tr>
	<TD NOWRAP><%175%></td>
	<TD NOWRAP align="right" class="num"><input type="text" name="DAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<TD NOWRAP><%176%></td>
	<TD NOWRAP align="right" class="num"><input type="text" name="PDAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center"><div ID="basbuttons" onmouseover="loadhelp('WIZ_fix','buttons')">
<%965%>
	<input type="SUBMIT" name="apply" value="<%157%>" onClick="return checkData()">
	<input type="BUTTON" name="Cancel" value="<%159%>" onClick="reset();loadSettings();">
	<input type="SUBMIT" name="Test" value="<%161%>" onClick="return checkData()"></div>
<%966%>
<%967%>
	<input type="SUBMIT" name="Next" value=" <%959%> " onClick="return checkData()">
<%968%>    
	</td></tr>
</table>
<input type="hidden" name="runtest" value="<%181%>">
  <INPUT name=wan_ipaddr type=hidden value= "<%182%>">
  <INPUT name=wan_netmask type=hidden value= "<%183%>">
  <INPUT name=wan_gateway type=hidden value= "<%184%>">
  <INPUT name=DNSAssign type=hidden value= "1">
  <INPUT name=wan_dns1_pri type=hidden value= "<%186%>">
  <INPUT name=wan_dns1_sec type=hidden value= "<%187%>">
</form>
<p></p>
</body>
</html>
