<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>

<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
function goipfixed() {
 location="WIZ_fix.htm";
	}
function change_this_goipfixed() {
 location="BAS_basic.htm";
	}
//-->
</script>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="loadhelp('WIZ_det_fix')">
<form name="formname" action="wiz_fix1.cgi" method="POST" > 
<input type="hidden" name="Load" value="W">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2" align="center" nowrap>
<H1><%975%></H1>
</td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

</tr>
<tr>
<td colspan="2" align="center" nowrap>

<input type="Button" name="Button" value="<%976%>" onClick="goipfixed()">
</td></tr>
</a>
</table>
</form>
<p></p>
</body>
</html>

