<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goSelect() {
 location.href="WIZ_sel.htm"
}

function retry() {
 location.href="WIZ_detwan.htm"
}

//-->
</script>
</head>

<body  onLoad="" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" action="ph_fail" method="POST">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2" align="center">
<h1><%982%> </H1>
</td>
</tr>

<tr>
<td colspan="2" align="center">
 <%983%>
</td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2" align="center">
&nbsp;&nbsp;&nbsp;<button type="Button" value="<%159%>" name="Button" class="button-rule" onClick="buttonClick(this,'<%159%>');goSelect()"><span class="roundleft_button">&nbsp;&nbsp; <%159%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="Button" value="<%984%>" name="Button" class="button-rule" onClick="buttonClick(this,'<%984%>');retry()"><span class="roundleft_button">&nbsp;&nbsp; <%984%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
</table>
</form>
<p></p>
</body>

</html>
