<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function selYes(){
 window.location.href="WIZ_detwan.htm";
}
function selNo(){
    if (document.forms[0].enable_ap_mode.value == 1)
	    window.location.href="RST_status.htm";        
	else
		window.location.href="BAS_basic.htm"
}
//-->
</script>
</head>
<body  onLoad="" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="wiz_cfm.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr><td colspan="2"><h1><%58%></H1></td></tr>
<tr>  <!-- RULE -->
  <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr> 
  <td colspan="2"><b><%962%><BR><%963%></td>
</tr>
<tr>  <!-- RULE -->
  <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
	&nbsp;&nbsp;&nbsp;<button type="Button" value="<%128%>" name="yes" class="button-rule" onClick="buttonClick(this,'<%128%>');selYes()"><span class="roundleft_button">&nbsp;&nbsp; <%128%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="Button" value="<%129%>" name="no" class="button-rule" onClick="buttonClick(this,'<%129%>');selNo()"><span class="roundleft_button">&nbsp;&nbsp; <%129%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
</table>
<input type="hidden" name="enable_ap_mode" value="<%110%>">
</form>
		<p></p>
	</body>

</html>
