<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var initialized = false;

  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function ssid_submit()
{
    var fm=document.forms[0];
    fm.ssid_sel_submit.value = "1";
    fm.secure_sel_submit.value = "0";
    
    fm.submit();
    return true;
}

function secure_submit()
{
    var fm=document.forms[0];
    fm.ssid_sel_submit.value = "0";
    fm.secure_sel_submit.value = "1";
    
    fm.submit();
    return true;
}

function displayWepWpaRadio()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1673%>";
    
    if (wlan_mode == "g&#32;and&#32;b")//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        document.getElementById("wpa_radio_2G").style.display="block";
        
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
        document.getElementById("wpa_radio_2G").style.display="none";
    }
}

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;
    var srvip = fm.radius_ip.value.split(".");

    var profile_idx = <%1674%>;
    if (!profile_idx || profile_idx < 1 || profile_idx > 3)
        profile_idx = 1;
    var sel_index = profile_idx - 1;
    //fm.ssidSelect[sel_index].checked = true;

    if (fm.bssid_enable.value == "1")
        fm.enable_bssid.checked = true;
    else
        fm.enable_bssid.checked = false;

    if (fm.ssid_bc_enable.value == "1")
        fm.enable_ssid_bc.checked = true;
    else
        fm.enable_ssid_bc.checked = false;

    if (fm.enable_allow_access.value == "1" || fm.enable_apmode.value == "1")
        fm.allow_access.checked = true;
    else
        fm.allow_access.checked = false;

    if(fm.enable_apmode.value == "1")
        fm.allow_access.disabled = true;
             
    if (fm.enable_isolation.value == "1")
        fm.enable_isolate.checked = true;
    else if (fm.enable_isolation.value != "111")
        fm.enable_isolate.checked = false;

    if (fm.radius_ip.value != "") {
        fm.srv_ip1.value = srvip[0];
	    fm.srv_ip2.value = srvip[1];
    	fm.srv_ip3.value = srvip[2];
        fm.srv_ip4.value = srvip[3];
    }

    fm.srv_port.value = fm.radius_port.value;
    fm.srv_secret.value = fm.radius_secret.value;
    if (fm.wpa_rekey_ena.value == 1)
        fm.rekey_ena.checked = true;
    else
        fm.rekey_ena.checked = false;
    fm.gtk_rekey.value = fm.wpa_gtk_rekey.value;
    displayWepWpaRadio();
    
    initialized=true;
}

function checkData()
{
    var cf = document.forms[0];

    
    if (cf.ssid.value == "")
    {
        alert("<%1006%>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1007%>");
        cf.ssid.focus();
        return false;
    }

    if(checkIP(cf.srv_ip1,cf.srv_ip2,cf.srv_ip3,cf.srv_ip4,254) ||
              (parseInt(cf.srv_ip4.value) == 0) ||
              (parseInt(cf.srv_ip1.value) > 224))
    {
        alert("<%1698%>");
        return false;
    }

    var port = parseInt(cf.srv_port.value);
    if (port < 1 || port > 65535) 
    {
        alert("<%1699%>");
        return false;
    }

    cf.radius_ip.value = cf.srv_ip1.value+"."+cf.srv_ip2.value+"."+cf.srv_ip3.value+"."+cf.srv_ip4.value; 

    if (cf.bssid_enabled.value == "1")
        if (!confirm("<%1700%>"))
            return false;

    return true;
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1017%>");
}
// -->
</script>
</head>
<body  onload="change_size();initScrn();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  method="POST" action="wlg_sec_profile_main.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1675%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');return checkData();" type="SUBMIT" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');"  type="SUBMIT" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


 

<tr><td>
<table border="0"   width="100%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
<td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','wireless')" tabindex="-1"><b><%88%> - <%1676%> <%1674%></b></a></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_bssid" value="1"><%1677%></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_ssid_bc" value="1"><%1019%></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="allow_access" value="1"><%1678%></td>
</tr>

<%1020%>
<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_isolate" value="1"><%1022%></td>
</tr>
<%1023%>

<tr>
<td align="left" colspan="2" ><%1679%><input type="text" name="ssid" value="<%1680%>" size="20" maxlength="32"></td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','security')" tabindex="-1"><b><%1058%> - <%1676%> <%1674%></b></a></td></tr>

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
<tr>
        <td colspan="2"><input type="radio" name="security_type" value="Disable" onClick="buttonFilter();return secure_submit();" ><%402%><td></tr>
<tr>
        <td colspan="2">
        <div id="wep_radio_2G" style="display: block;">
        <input type="radio" name="security_type" value="WEP" onClick="buttonFilter();return secure_submit();" ><%1059%>
        </div>
        </td>
</tr>
<tr>
    <td colspan="2">
    <div id="wpa_radio_2G" style="display: block;">
    <input type="radio" name="security_type" value="WPA-PSK" <%1060%> onClick="buttonFilter();return secure_submit();" ><%1061%>
    </div>
    </td>
</tr>
<tr>
	<td colspan="2"><input type="radio" name="security_type" value="WPA2-PSK" <%1060%> <%1694%> onClick="buttonFilter();return secure_submit();" ><%1062%></td></tr>
<tr>
	<td colspan="2"><input type="radio" name="security_type" value="AUTO-PSK" <%1060%> <%1695%> onClick="buttonFilter();return secure_submit();" ><%1063%></td></tr>

</table>
</td></tr>

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
    <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','security')" tabindex="-1"><b><%985%></b></a></td></tr>
    <tr>
	<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%169%></td>
	<td width="50%" align="left" class="num">
        <input type="text" name="srv_ip1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="srv_ip2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="srv_ip3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
        <input type="text" name="srv_ip4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)">
    </td>
</tr>
<tr>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%496%></td>
	<td width="50%" align="left" class="num"><input type="text" name="srv_port" class="num" size="6" maxlength="5"></td>
</tr>
<tr>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%1701%></td>
	<td width="50%" align="left"><input type="text" name="srv_secret" size="22" maxlength="20">
	</td>
</tr>

<tr>
    <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','security')" tabindex="-1"><b><%1702%></b></a></td></tr>

<TR>
    <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type=checkbox NAME=rekey_ena value="1">&nbsp;<%1703%></td>
    <td width="50%" align="left" class="num"><input type="text" name="gtk_rekey" class="num" size="7" maxlength="5"> <%1704%></td>
</tr>

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
  </table></td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_wireless_2_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



  <input type="hidden" name="radius_ip" value="<%1705%>">
  <input type="hidden" name="radius_port" value="<%1706%>">
  <input type="hidden" name="radius_secret" value="<%1707%>">
  <input type="hidden" name="wpa_rekey_ena" value="<%1708%>">
  <input type="hidden" name="wpa_gtk_rekey" value="<%1709%>">
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="bssid_enable" value="<%1689%>">
  <input type="hidden" name="ssid_bc_enable" value="<%1690%>">
  <input type="hidden" name="enable_allow_access" value="<%1691%>">
  <input type="hidden" name="enable_isolation" value="<%1692%>">
  <input type="hidden" name="ssid_sel_submit" value="0">
  <input type="hidden" name="secure_sel_submit" value="0">
  <input type="hidden" name="show_wps_alert" value="<%1090%>">
  <input type="hidden" name="enable_apmode" value="<%110%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

