<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var initialized = false;

  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function ssid_submit()
{
    var fm=document.forms[0];
    fm.ssid_sel_submit.value = "1";
    fm.secure_sel_submit.value = "0";
    
    fm.submit();
    return true;
}

function secure_submit()
{
    var fm=document.forms[0];
    fm.ssid_sel_submit.value = "0";
    fm.secure_sel_submit.value = "1";
    
    fm.submit();
    return true;
}

function displayWepWpaRadio()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1673%>";
    
    if (wlan_mode == "g&#32;and&#32;b")//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        document.getElementById("wpa_radio_2G").style.display="block";
        
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
        document.getElementById("wpa_radio_2G").style.display="none";
    }
}

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    var profile_idx = <%1674%>;
    if (!profile_idx || profile_idx < 1 || profile_idx > 3)
        profile_idx = 1;
    var sel_index = profile_idx - 1;
    //fm.ssidSelect[sel_index].checked = true;

    if (fm.bssid_enable.value == "1")
        fm.enable_bssid.checked = true;
    else
        fm.enable_bssid.checked = false;

    if (fm.ssid_bc_enable.value == "1")
        fm.enable_ssid_bc.checked = true;
    else
        fm.enable_ssid_bc.checked = false;

    if (fm.enable_allow_access.value == "1" || fm.enable_apmode.value == "1")
        fm.allow_access.checked = true;
    else
        fm.allow_access.checked = false;

    if(fm.enable_apmode.value == "1")
        fm.allow_access.disabled = true;
        
    if (fm.enable_isolation.value == "1")
        fm.enable_isolate.checked = true;
    else if (fm.enable_isolation.value != "111")
        fm.enable_isolate.checked = false;
        
    for (i=0; i<fm.authAlgm.length; i++)
    {
        if (fm.authAlgm[i].value == fm.initAuthType.value)
        {
            fm.authAlgm[i].selected = true;
            break;
        }
    }

    defaultKey = parseInt(fm.initDefaultKey.value);
    if ( defaultKey >= 0 && defaultKey <= 3)
        document.forms[0].wep_key_no[defaultKey].checked = true;
    else
		document.forms[0].wep_key_no[0].checked = true;
    displayWepWpaRadio();
    initialized = true;
}

function setKeys()
{
    var cf = document.forms[0];
    cf.passphraseStr.disabled = false;
    cf.KEY1.disabled = cf.KEY2.disabled = cf.KEY3.disabled = cf.KEY4.disabled = false;
    if (cf.wepenc.selectedIndex == 0)
    {
        cf.keygen.disabled = false;
        cf.passphraseStr.disabled = false;        
        keysize = 10;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2 ; // extra for Mac
        if (cf.KEY1.value.length>10)
            cf.KEY1.value = cf.KEY1.value.substring(0,10);
        if (cf.KEY2.value.length>10)
            cf.KEY2.value = cf.KEY2.value.substring(0,10);
        if (cf.KEY3.value.length>10)
            cf.KEY3.value = cf.KEY3.value.substring(0,10);
        if (cf.KEY4.value.length>10)
            cf.KEY4.value = cf.KEY4.value.substring(0,10);
    }
    else if(cf.wepenc.selectedIndex == 1)
    {
        cf.keygen.disabled = false;
        cf.passphraseStr.disabled = false;        
        keysize = 26;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2; // extra for Mac
        if (cf.KEY1.value.length>26)
            cf.KEY1.value = cf.KEY1.value.substring(0,26);
        if (cf.KEY2.value.length>26)
            cf.KEY2.value = cf.KEY2.value.substring(0,26);
        if (cf.KEY3.value.length>26)
            cf.KEY3.value = cf.KEY3.value.substring(0,26);
        if (cf.KEY4.value.length>26)
            cf.KEY4.value = cf.KEY4.value.substring(0,26);
    }
    else if(cf.wepenc.selectedIndex == 2)
    {
        cf.keygen.disabled = true;
        cf.passphraseStr.disabled = true;
        keysize = 32;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2; // extra for Mac
    }
    //auto_disable();
}

function checkData()
{
    var msg_key64_type = "<%1003%> ";
    var msg_key128_type = "<%1004%> ";

    var cf = document.forms[0];
    var msg = ""; var blankFlag = false; var sizeOK = false; var i;
    var len = (cf.wepenc.selectedIndex==0)?10:((cf.wepenc.selectedIndex==1)?26:32);
    
    if (cf.ssid.value == "")
    {
        alert("<%1006%>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1007%>");
        cf.ssid.focus();
        return false;
    }

    for (i = 1; i < 5; i++ )
    {
        msg = "";
        blankFlag = ! (eval("(cf.wep_key_no[" + (i-1) + "].checked)")); // default key
        if( (blankFlag) && (eval("(cf.KEY" + i + ".value.length == 0)")) )
            continue; // blank ok
        sizeOK = ((eval("isHex(cf.KEY" + i +".value)")) && (eval("(cf.KEY" + i + ".value.length == len)")));
        if (!sizeOK)
        {
            msg += (len == 10)?msg_key64_type:msg_key128_type;
            alertR(msg);
            if (i==1)
                cf.KEY1.focus();
            else if (i==2)
                cf.KEY2.focus();
            else if (i==3)
                cf.KEY3.focus();
            else if (i==4)
                cf.KEY4.focus();
            return false;
        }
    }
    return true;
}
// ---------------------------- Start WEP functions
var lastkeypressed;
var keyTooBig = false;
var mustbeHEX = false;
var keysize;
var lastObj;

if (document.layers) document.captureEvents(Event.KEYPRESS);
    document.onkeypress = checkKey;
function checkKey(evt)
{
    evt = (evt) ? evt : ((window.event) ? window.event : null);
    if (evt)
        lastkeypressed = (evt.keyCode) ? evt.keyCode : (evt.which ) ? evt.which : null;
    
    if ((lastkeypressed == 27)) /* ESC */
    {
        if (document.forms[0].elements[0].focus)
            document.forms[0].elements[0].focus();
        
        return false;
    }
    
    if ((lastkeypressed != 13) && (lastkeypressed != 8) && ( keyTooBig ))
    {
        keyTooBig = false;
        alert("<%1015%> " + keysize + " <%1016%>");
        chkSize(lastObj); // for NS 6/7
        return false;
    }
    else if (mustbeHEX) // not used here, don't know which input is being used
    {
        mustbeHEX = false;
        if ( ((lastkeypressed > 47) && (lastkeypressed < 58 ))
            || ((lastkeypressed > 96) && (lastkeypressed < 103))
            || ((lastkeypressed > 64) && (lastkeypressed < 71 ))
            || (lastkeypressed == 8)
            || (lastkeypressed == 13) )
            return true; // OK
        else
            return false;
    }
    return true;
}
function chkSize(fobj)
{
    if(fobj.value.length > keysize)
        fobj.value = fobj.value.substr(0,keysize);
}
function keyCheck(fobj)
{
    lastObj = fobj;
    keyTooBig = (fobj.value.length >= keysize ) ? true : false;
}
function calcPassphrase(F)
{
    if(F.passphraseStr.value.length == 0)
        return;
    switch(F.wepenc.selectedIndex)
    {
        case 0:
            PassPhrase40(F);
            break;
        case 1:
            PassPhrase104(F);
            break;
        default:
            break;
    }
}
function PassPhrase40(F)
{
    var seed = 0;
    var pseed = new Array(0, 0, 0, 0);
    var pkey = new Array(4);
    var asciiObj = new Array(4);
    Length = F.passphraseStr.value.length;
    if(Length != 0)
    {
        for (i=0; i<Length; i++ )
            pseed[i%4] ^= F.passphraseStr.value.charCodeAt(i);
        seed = pseed[0];
        seed += pseed[1] << 8;
        seed += pseed[2] << 16;
        seed += pseed[3] << 24;
    }
    F.KEY1.value = F.KEY2.value = "";
    F.KEY3.value = F.KEY4.value = "";
    pkey[0] = F.KEY1;
    pkey[1] = F.KEY2;
    pkey[2] = F.KEY3;
    pkey[3] = F.KEY4;
    for(j=0; j<4; j++)
    {
        for (i=0; i<5 ;i++ )
        {
            seed = (214013 * seed) & 0xffffffff;
            if(seed & 0x80000000)
                seed = (seed & 0x7fffffff) + 0x80000000 + 0x269ec3;
            else
                seed = (seed & 0x7fffffff) + 0x269ec3;
            temp = ((seed >> 16) & 0xff);
            if(temp < 0x10)
                pkey[j].value += "0" + temp.toString(16).toUpperCase();
            else
                pkey[j].value += temp.toString(16).toUpperCase();
        }
    }
    F.wep_key_no[0].checked = true;
}
function PassPhrase104(F)
{
    var pseed2 = "";
    Length2 = F.passphraseStr.value.length;
    var asciiObj = "";
    for(p=0; p<64; p++)
    {
        tempCount = p % Length2;
        pseed2 += F.passphraseStr.value.substring(tempCount, tempCount+1);
    }
    md5Str = calcMD5(pseed2);
    F.KEY1.value = md5Str.substring(0, 26).toUpperCase();
    F.KEY2.value = F.KEY1.value;
    F.KEY3.value = F.KEY1.value;
    F.KEY4.value = F.KEY1.value;
    F.wep_key_no[0].checked = true;
    //F.KEY2.disabled = F.KEY3.disabled = F.KEY4.disabled = true;
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1017%>");
}
// -->
</script>
</head>
<body  onload="change_size();initScrn();setKeys();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  method="POST" action="wlg_sec_profile_main.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1675%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');return checkData();" type="SUBMIT" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');"  type="SUBMIT" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


 

<tr><td>
<table border="0"   width="100%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
<td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','wireless')" tabindex="-1"><b><%88%> - <%1676%> <%1674%></b></a></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_bssid" value="1"><%1677%></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_ssid_bc" value="1"><%1019%></td>
</tr>

<tr>
<td align="left" colspan="2" ><input type="checkbox" name="allow_access" value="1"><%1678%></td>
</tr>

<%1020%>
<tr>
<td align="left" colspan="2" ><input type="checkbox" name="enable_isolate" value="1"><%1022%></td>
</tr>
<%1023%>

<tr>
<td align="left" colspan="2" ><%1679%><input type="text" name="ssid" value="<%1680%>" size="20" maxlength="32"></td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','security')" tabindex="-1"><b><%1058%> - <%1676%> <%1674%></b></a></td></tr>

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
<tr>
        <td colspan="2"><input type="radio" name="security_type" value="Disable" onClick="buttonFilter();return secure_submit();" ><%402%><td></tr>
<tr>
        <td colspan="2">
        <div id="wep_radio_2G" style="display: block;">
        <input type="radio" name="security_type" value="WEP" checked ><%1059%>
        </div>
        </td>
</tr>
<tr>
    <td colspan="2">
    <div id="wpa_radio_2G" style="display: block;">
    <input type="radio" name="security_type" value="WPA-PSK" <%1060%> onClick="buttonFilter();return secure_submit();" ><%1061%>
    </div>
    </td>
</tr>
<tr>
        <td colspan="2"><input type="radio" name="security_type" value="WPA2-PSK" <%1060%> onClick="buttonFilter();return secure_submit();" ><%1062%></td></tr>
<tr>
        <td colspan="2"><input type="radio" name="security_type" value="AUTO-PSK" <%1060%> onClick="buttonFilter();return secure_submit();" ><%1063%></td></tr>

</table>
</td></tr>

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','wep')" tabindex="-1"><b><%1064%></b></a></td></tr>
    <tr>
      <td nowrap><%1065%>:</td>
      <td>
          <select name="authAlgm" size=1><option value="automatic"><%1066%></option><option value="sharedkey"><%1067%></option></select></td></tr>
    <tr>
      <td nowrap><%1068%>:</td>
	  <td><select name="wepenc" size=1 onchange="setKeys();"><option <%1681%> value="1"><%1070%></option><option <%1682%> value="2"><%1072%></option></select></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless_2','wepkey')" tabindex="-1"><b><%1073%></b></a></td></tr>
    <tr>
      <td nowrap colspan="2">
        <%1074%>: <input type="text" name="passphraseStr" size="14" maxlength="32" value=""> &nbsp;
        &nbsp;&nbsp;&nbsp;<button type="button" value="<%1075%>" name="keygen" class="button-rule" onClick="buttonClick(this,'<%1075%>');calcPassphrase(this.form)"><span class="roundleft_button">&nbsp;&nbsp; <%1075%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <td><%1076%>:<input type="radio"  checked name="wep_key_no" value="1"></td>
            <td align=left><input type="text" name="KEY1" maxLength=32 size=34 value="<%1683%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[0].checked=true;"></td></tr>
          <tr>
            <td><%1078%>:<input type="radio" name="wep_key_no" value="2"></td>
            <td align=left><input type="text" name="KEY2" maxLength=32 size=34 value="<%1684%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[1].checked=true;"></td></tr>
          <tr>
            <td><%1080%>:<input type="radio" name="wep_key_no" value="3"></td>
            <td align=left><input type="text" name="KEY3" maxLength=32 size=34 value="<%1685%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[2].checked=true;"></td>
            <td></td></tr>
          <tr>
            <td><%1082%>:<input type="radio" name="wep_key_no" value="4"></td>
            <td align=left><input type="text" name="KEY4" maxLength=32 size=34 value="<%1686%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[3].checked=true;"></td></tr>
        </table></td></TR>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
  </table></td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_wireless_2_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



  <input type="hidden" name="initAuthType" value="<%1687%>">
  <input type="hidden" name="initDefaultKey" value="<%1688%>">
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="bssid_enable" value="<%1689%>">
  <input type="hidden" name="ssid_bc_enable" value="<%1690%>">
  <input type="hidden" name="enable_allow_access" value="<%1691%>">
  <input type="hidden" name="enable_isolation" value="<%1692%>">  
  <input type="hidden" name="ssid_sel_submit" value="0">
  <input type="hidden" name="secure_sel_submit" value="0">
  <input type="hidden" name="show_wps_alert" value="<%1090%>">
  <input type="hidden" name="enable_apmode" value="<%110%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

