<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers

// "--",Africa,Asia,Australia,Europe,Israel,Japan,Korea,Mexico,Middle East,South America,North America
var StartChannel = new Array(0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1);
var FinishChannel = new Array(11,13,13,13,13,13, 13,13,11,13,13,11);
var initRegion;
var changeMsg = "<%992%>";
var notShown = true; // only shown region change message once
var initialized = false;
var device_id="<%993%>";
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   
var OpMode_BG_TEXT;
var OpMode_20M_TEXT;
var OpMode_40M_TEXT;
var OpMode_BG_VALUE;
var OpMode_20M_VALUE;
var OpMode_40M_VALUE;
var wla_temp_mode;

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    OpMode_BG_TEXT=fm.opmode.options[0].text; 
    OpMode_20M_TEXT=fm.opmode.options[1].text; 
    OpMode_40M_TEXT=fm.opmode.options[2].text; 
    OpMode_BG_VALUE=fm.opmode.options[0].value;
    OpMode_20M_VALUE=fm.opmode.options[1].value;
    OpMode_40M_VALUE=fm.opmode.options[2].value;
    wla_temp_mode = fm.opmode.selectedIndex;

    if(fm.tempSetting.value == 1)
    {
        var temp_region = parseInt(fm.tempRegion.value);
        if (temp_region == 12) //Middle East
            fm.WRegion.selectedIndex = 9;
        else if (temp_region >= 5 && temp_region <= 9)
            fm.WRegion.selectedIndex=temp_region - 1;
        else
            fm.WRegion.selectedIndex=temp_region;
    }
        
    initRegion = fm.WRegion.selectedIndex;
    setOpMode();
    setChannel();
    displayWepWPARadio();
    for (i=0; i<fm.w_channel.options.length; i++)
    {
        if (fm.w_channel.options[i].value == fm.initChannel.value)
        {
            fm.w_channel[i].selected = true;
            break;
        }
    }
    initialized=true;
}
function chgCh(from)
{
    var cf = document.forms[0];
    setOpMode();
    setChannel();
    if (from == 2 && device_id != "WGR614")
    {
        if (cf.opmode.selectedIndex != 0)
        {
            if(cf.security_type[2].checked)
            {
                alert("<%994%>");
                cf.opmode.selectedIndex = 0;
                return true;
            }
            if(cf.security_type[4].checked)
            {
                alert("<%995%>");
                return true;
            }
        }
        displayWepWPARadio();
    }
}

function displayWepWPARadio()
{
    var cf = document.forms[0];
	var currentMode = cf.opmode.selectedIndex;
    //var currentMode_an = cf.opmode_an.selectedIndex;
    //var sec_type_2G = cf.security_type_2G.value;
    //var sec_type_5G = cf.security_type_5G.value;
    
    if (currentMode == 0)//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        document.getElementById("wpa_radio_2G").style.display="block";
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
        document.getElementById("wpa_radio_2G").style.display="none";
    }    
}

function setOpMode()
{
    var cf = document.forms[0];
    var index = cf.WRegion.selectedIndex;
    var currentMode = cf.opmode.selectedIndex;
    var sec_type_2G = cf.security_type_2G.value;
    
    if (device_id == "WGR614")
    {
        cf.opmode.options.length = 2;
        cf.opmode.options[0].text = "g only";
        cf.opmode.options[1].text = "b and g";
        cf.opmode.options[0].value = "g only";
        cf.opmode.options[1].value = "g and b";
        cf.opmode.selectedIndex = currentMode;
    }
    else if (device_id == "WNDR2200")
    {
        if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
            cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[0].value = "g and b";
        }
        else
        {
            cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[1].text = "<%997%>";
        	cf.opmode.options[2].text = "<%998%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }
    else if (device_id == "WNR3500")
    {
        if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
            cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[0].value = "g and b";
        }
        else
        {
            cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[1].text = "<%997%>";
        	cf.opmode.options[2].text = "<%998%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }
    else
    {   	
    	if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
        	cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[0].value = "g and b";                     
        	//cf.opmode.selectedIndex = currentMode;                      
        }                          
        else
        {
        	cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%996%>";
        	cf.opmode.options[1].text = "<%999%>";
        	cf.opmode.options[2].text = "<%1000%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }

    return;
}

function setChannel()
{
	var cf = document.forms[0];
	var index = cf.WRegion.selectedIndex;
	var chIndex = cf.w_channel.selectedIndex;
	var currentMode = cf.opmode.selectedIndex;

	if (FinishChannel[index]==14 && cf.opmode.selectedIndex!=0)
		cf.w_channel.options.length = FinishChannel[index] - StartChannel[index];
	else
		cf.w_channel.options.length = FinishChannel[index] - StartChannel[index] + 2;

	cf.w_channel.options[0].text = "<%1001%>";
	cf.w_channel.options[0].value = 0;

	for (var i = StartChannel[index]; i <= FinishChannel[index]; i++) {
		if (i==14 && cf.opmode.selectedIndex!=0)
			continue;
		cf.w_channel.options[i - StartChannel[index] + 1].value = i;
		cf.w_channel.options[i - StartChannel[index] + 1].text = (i < 10)? "0" + i : i;
	}
	cf.w_channel.selectedIndex = ((chIndex > -1) && (chIndex < cf.w_channel.options.length)) ? chIndex : 0 ;
}

function checkRegion()
{
    var cf = document.forms[0];
    if(cf.WRegion.selectedIndex == 0)
    {
        cf.WRegion.focus();
        return alertR("<%1002%>");
    }
    if (notShown)
        notShown = false;
    else if(cf.WRegion.selectedIndex != initRegion && notShown)
    {
        if(!confirm(changeMsg))
            return false;
        else notShown = false;
    }
    return true;
}

function wpapskCheck()
{
    var cf = document.forms[0];
    if (cf.opmode.selectedIndex != 0 && device_id != "WGR614")
    {
        alert("<%994%>");
        cf.opmode.selectedIndex = 0;
    	buttonFilter();
document.forms[0].submit();
    }
    else
        buttonFilter();
document.forms[0].submit();
}
function autopskCheck()
{
    var cf = document.forms[0];
    if (cf.opmode.selectedIndex != 0 && device_id != "WGR614")
    {
        alert("<%995%>");
        buttonFilter();
document.forms[0].submit();
    }
    else
        buttonFilter();
document.forms[0].submit();
    return true;
}
function checkData()
{
    var cf = document.forms[0];

    var wps_version = "<%1005%>";
    var needGrayOutWPS = 0;

    if(!checkRegion()) return false;

    if (cf.ssid.value == "")
    {
        alert("<%1006%>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1007%>");
        cf.ssid.focus();
        return false;
    }

    if(cf.passphrase.value.length < 8)
    {
        alert("<%1092%>");
        return false;    
    }
    if(cf.passphrase.value.length > 63)
    {
        if ( isHex(cf.passphrase.value) == false)
        {
            alert("<%1093%>");
            cf.passphrase.value = "";
            return false;
        }    
    }
    
    if (cf.passphrase.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1094%>");
        cf.passphrase.focus();
        return false;
    }

    if (cf.wds_enable.value == "1" && cf.w_channel[0].selected)
    {
        alert("<%1008%>");
        cf.w_channel.focus();
        return false;
    }

    if(!cf.ssid_bc.checked)
    {
        if (wps_version == "2.0")
        {
            if (!confirm("<%1009%>")){
                return false;
            }
            needGrayOutWPS = 1;
        }
    }

    if (cf.security_type[0].checked)
    {
        if (wps_version == "2.0")
        {
            if (!confirm("<%1010%>")){
                return false;
            }
        }
    }
    else if (cf.security_type[1].checked)
    {
        if (wps_version == "2.0")
        {
            if (!confirm("<%1011%>")){
                return false;
            }
            needGrayOutWPS = 1;
        }
        else
        {
            if (cf.authAlgm && cf.initAuthType)
            {
                if (cf.authAlgm.value.toLowerCase() == "sharedkey"
                    && cf.initAuthType.value.toLowerCase() != "sharedkey")
                {
                    if (!confirm("<%1012%>")){
                        return false;
                    }
                }
                
                if (cf.authAlgm.value.toLowerCase() == "sharedkey")
                    needGrayOutWPS = 1;
            }
        }
    }
    else if(cf.security_type[2].checked)
    {
        if (wps_version == "2.0")
        {
            if (!confirm("<%1013%>")){
                return false;
            }
            needGrayOutWPS = 1;
        }
    }
    else if (cf.security_type[3].checked || cf.security_type[4].checked)
    {
        //WPA2 or WPA mixed mode
    }

    if(needGrayOutWPS)
        WPS_wizard_grayout();
    else
        WPS_wizard_ungrayout();

    if ((cf.opmode.selectedIndex == 2) && (cf.opmode.selectedIndex != wla_temp_mode))
    {
        alert("<%1014%>");
    }

    return true;
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1017%>");
}
// -->
</script>
</head>
<body  onload="change_size();initScrn();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  method="POST" action="wireless.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
  <img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%88%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');if(checkData()) return true; else {resetButton(); return false;}" type="SUBMIT" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');"  type="SUBMIT" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','network')" tabindex="-1"><b><%940%></b> </a></td></tr>
    <tr>
      <td colspan="2">
        <input type="checkbox"  <%1018%> name="ssid_bc" value="ssid_bc"> <%1019%> </td></tr>
    <%1020%>
    <tr>
      <td nowrap colspan="2">
        <input type="checkbox"  <%1021%> name="enable_isolation" value="enable_isolation"> <%1022%> </td></tr>
    <%1023%>
    <tr>
      <td width="50%" align="left"><%1024%>:</td>
      <td width="50%">
        <input type="text" name="ssid" value="<%1025%>" size="20" maxlength="32"></td></tr>
    <tr>
      <td nowrap><%1026%>:</td>
      <td align="left">
      <%1027%>
	<select name="WRegion" size="1" onchange="chgCh(1)">
		<option <%1028%> value="0">--- <%1029%> ---</option>
		<option <%1030%> value="1"><%1031%></option>
		<option <%1032%> value="2"><%1033%></option>
		<option <%1034%> value="3"><%1035%></option>
		<option <%1036%> value="5"><%1037%></option>
		<option <%1038%> value="6"><%1039%></option>
		<option <%1040%> value="7"><%1041%></option>
		<option <%1042%> value="8"><%1043%></option>
		<option <%1044%> value="9"><%1045%></option>
		<option <%1046%> value="12"><%1047%></option>
		<option <%1048%> value="10"><%1049%></option>
		<option <%1050%> value="11"><%1051%></option>
	</select></td></tr>
      <%1052%>
      <%1053%>
      <tr><td colspan="2" >
	<select name="WRegion" size="1" onchange="chgCh(1)" disabled >
		<option value="0">--- <%1029%> ---</option>
		<option value="1"><%1031%></option> 
		<option value="2"><%1033%></option> 
		<option value="3">><%1035%></option>
		<option value="5"><%1037%></option> 
		<option value="6"><%1039%></option> 
		<option value="7"><%1041%></option> 
		<option value="8"><%1043%></option> 
		<option value="9"><%1045%></option> 
		<option value="12"><%1047%></option>
		<option value="10"><%1049%></option>
		<option selected value="11"><%1051%></option>
	</select></td></tr>
      <%1054%>
    <tr>
      <td nowrap><%1055%>:</td>
      <td nowrap>
          <select name="w_channel" size=1><option selected><%1001%></option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option></select></td></tr>
    <tr>
      <td nowrap><%1056%>:</td>
      <td nowrap><select name="opmode" onchange="chgCh(2);"><%1057%></select></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','security')" tabindex="-1"><b><%1058%></b></a></td></tr>
    
    
<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="Disable" onClick="buttonFilter();this.form.submit();" ><%402%><td></tr>
    <tr>
    <td colspan="2">
        <div id="wep_radio_2G" style="display: block;">
        <input type="radio" name="security_type" value="WEP" onClick="buttonFilter();this.form.submit();" ><%1059%>
        </div>
    </td>
    </tr>
    <tr>
    <td colspan="2">
        <div id="wpa_radio_2G" style="display: block;">
    	<input type="radio" name="security_type" value="WPA-PSK" <%1095%> <%1060%> onClick="wpapskCheck();" ><%1061%>
        </div>
    </td>
    </tr>
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="WPA2-PSK" <%1060%> <%1096%> onClick="buttonFilter();this.form.submit();" ><%1062%></td></tr>
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="AUTO-PSK" <%1060%> <%1097%> onClick="autopskCheck();" ><%1063%></td></tr>
</table>
</td></tr>

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
    <%1098%>
    
    <tr>
      <td colspan="2">&nbsp;&nbsp;<%1074%>: <input type="text" name="passphrase" size=20 maxLength=64 value="<%1099%>">&nbsp;&nbsp;<%1100%></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
  </table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_wireless_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



  <input type="hidden" name="initChannel" value="<%1084%>">
  <input type="hidden" name="tempSetting" value="<%1087%>">
  <input type="hidden" name="tempRegion" value="<%1088%>">
  <input type="hidden" name="wds_enable" value="<%1089%>">
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="show_wps_alert" value="<%1090%>">
  <input type="hidden" name="security_type_2G" value="<%1091%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

