<!DOCTYPE HTML>
<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>


<script language="javascript" type="text/javascript">
<!--


  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init_data()
{
 document.forms[0].macaddr.value =""
}
function valid_add()
{
 if(document.forms[0].MacSelect && parseInt(document.forms[0].MacSelect.length)==64)
 {
   alert("<%1175%>");
   return false;
 }
 return true;
}
function valid_edit(type)
//type:0 edit 1: delete
{
 var cf = document.forms[0];
 if(cf.macaddr.value.length == 0)//not select
 {
 if(type == 0)
 alert("<%1176%>");
 else if(type == 1)
 alert("<%1177%>"); 
 return false;
 }
 return true;
}
function selmac(v)
{
 document.forms[0].macaddr.value = v;
}
function seldev(v)
{
 document.forms[0].devicename.value = v;
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1017%>");
}
function checkData()
{
    var cf = document.forms[0];
    var acl_mac_num = "<%1178%>";
    var needGrayOutWPS = 0;

    if (cf.accessLimit.checked) {
        if (acl_mac_num == "0")
        {
            if (!confirm("<%1179%>")){
                return false;
            }
            needGrayOutWPS = 1;
        }
    }

    if (acl_mac_num != "")
    {
        if(needGrayOutWPS)
            WPS_wizard_grayout();
        else
            WPS_wizard_ungrayout();
    }

    return true;
}
//-->
</SCRIPT>

</HEAD>
<BODY  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="change_size();init_data();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  action="wlan_acl.cgi" method="post" name="formname">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
  <img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1153%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>'); return checkData();"  type="submit" name="apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');location.href='<%87%>'" type="button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <TR>
      <TD align="left" nowrap colspan="2" ><input type="checkbox" name="accessLimit" value="1" <%1180%> ><a href="javascript:loadhelp('WLG_acl','control')" tabindex="-1"><b><%1181%></b></a></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td align="center" colspan="2" >
        
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td nowrap width="10%" align="center"><span class="thead">&nbsp;</span></td>
            <td nowrap width="45%" align="center"><span class="thead"><%360%></span></td>
            <td nowrap width="45%" align="center"><span class="thead"><%361%></span></td></tr>
          <%1182%></table>
        </td></tr>
    <TR>
      <TD nowrap align=center colspan="2" >
        &nbsp;&nbsp;&nbsp;<button type="submit" value="<%304%>" name="add" class="button-rule" onclick="buttonClick(this,'<%304%>');return(valid_add());"><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%304%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button> 
        &nbsp;&nbsp;&nbsp;<button type="submit" value="<%305%>" name="edit" class="button-rule" onclick="buttonClick(this,'<%305%>');return(valid_edit(0));"><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%305%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button> 
        &nbsp;&nbsp;&nbsp;<button type="submit" value="<%306%>" name="delete" class="button-rule" onclick="buttonClick(this,'<%306%>');return(valid_edit(1));"><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%306%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr> 
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    </table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_acl_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</TABLE>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



  <input type="hidden" name="macaddr" value="">
  <input type="hidden" name="devicename" value="">
  <input type="hidden" name="show_wps_alert" value="<%1090%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</BODY>
</HTML>
