<!DOCTYPE HTML>
<html>
<head>
<%10%>

<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%111%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var DisableFixedIP = false;
var DisableFixedDNS = false;
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });

	function setGray()
	{
		var cf = document.forms[0];
		if(cf.prevent_pin_compromise.checked)
		{
			cf.pin_attack_count.disabled = false;
		}
		else
		{
			cf.pin_attack_count.disabled = true;
		}
	}
    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }


function toggleDisabled(el) 
{
    try 
    {
        el.disabled = true;
    }
    catch(E){}
    if (el.childNodes && el.childNodes.length > 0) 
    {
        for (var x = 0; x < el.childNodes.length; x++) 
        {
            toggleDisabled(el.childNodes[x]);
        }
    }
}
function toggleEnabled(el) 
{
    try 
    {
        el.disabled = false;
    }
    catch(E){}
    if (el.childNodes && el.childNodes.length > 0) 
    {
        for (var x = 0; x < el.childNodes.length; x++) 
        {
            toggleEnabled(el.childNodes[x]);
        }
    }
}

function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	var frag = parseInt(cf.frag.value,10);
	var rts = parseInt(cf.rts.value,10);
	var pin_attack_count = parseInt(cf.pin_attack_count.value,10);

	if ((!_isNumeric(cf.frag.value)) || isNaN(frag) || frag > 2346 || frag < 256) {
		alert("<%1104%>");
		return false;
	}
	else
		cf.frag.value = parseInt(cf.frag.value,10);
	if ((!_isNumeric(cf.rts.value)) || isNaN(rts) || rts > 2347 || rts < 1) {
		alert("<%1105%>");
		return false;
	}
	else
		cf.rts.value = parseInt(cf.rts.value,10);
		
	if ((!_isNumeric(cf.pin_attack_count.value)) || isNaN(pin_attack_count) || pin_attack_count > 10 || pin_attack_count < 3) {
		alert("Failed PIN connections value is outside the range 3-10.");
		return false;
	}

	if (cf.wifi_onoff.checked == true)
	    cf.wifi_2g_sche_onoff.value = "1";
	else
	    cf.wifi_2g_sche_onoff.value = "0";
	
    if (cf.enable_ap_mode.checked == true)
    {
        var ap_ipaddr = (cf.WPethr1.value << 24) | (cf.WPethr2.value << 16) | (cf.WPethr3.value << 8)| (cf.WPethr4.value);
	    var ap_netmask = (cf.WMask1.value<< 24) | (cf.WMask2.value<< 16) | (cf.WMask3.value<< 8)| (cf.WMask4.value);
        
        if (cf.device_name.value == "")
		msg+= "<%583%>\n";

    	if (cf.device_name.value.match( /[^\x20-\x7E]/ ))
    	{
    		cf.device_name.focus();
    		msg+= "<%584%>\n";
    	}
    
    	if(!cf.APIpAssign.checked)
    	{
    		if(checkIP(cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,255)
    		    ||checkIPMatchWithNetmask(cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4))
    			msg+= "<%9%>";
    		else
    		{
    			cf.WPethr1.value = parseInt(cf.WPethr1.value,10);
    			cf.WPethr2.value = parseInt(cf.WPethr2.value,10);
    			cf.WPethr3.value = parseInt(cf.WPethr3.value,10);
    			cf.WPethr4.value = parseInt(cf.WPethr4.value,10);
    		}
    		if(checkIP(cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,255))
    			msg+= "<%150%>";
    		else
    		{
    			cf.WMask1.value = parseInt(cf.WMask1.value,10);
    			cf.WMask2.value = parseInt(cf.WMask2.value,10);
    			cf.WMask3.value = parseInt(cf.WMask3.value,10);
    			cf.WMask4.value = parseInt(cf.WMask4.value,10);
    		}
    		if(checkIP(cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4,255)
    		    ||checkIPMatchWithNetmask(cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4))
    			msg+= "<%151%>";
    		else
    		{
    			cf.WGateway1.value = parseInt(cf.WGateway1.value,10);
    			cf.WGateway2.value = parseInt(cf.WGateway2.value,10);
    			cf.WGateway3.value = parseInt(cf.WGateway3.value,10);
    			cf.WGateway4.value = parseInt(cf.WGateway4.value,10);
    		}
    
    		var ap_gateway = (cf.WGateway1.value<< 24) | (cf.WGateway2.value<< 16) | (cf.WGateway3.value<< 8)| (cf.WGateway4.value);
    		var tmpip = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
    		var tmpgwip = cf.WGateway1.value+'.'+cf.WGateway2.value+'.'+cf.WGateway3.value+'.'+cf.WGateway4.value;
    		if((ap_ipaddr&ap_netmask) != (ap_gateway&ap_netmask))
    		{
    			alert("<%152%>" + tmpip + "<%153%>" + tmpgwip);
    			return false;
    		}
    	}
    	if(!cf.APDnsAssign.checked)
    	{
    		if(checkIP(cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,254)||(parseInt(cf.DAddr4.value,10)==0))
    			msg+= "<%154%>";
    		else
    		{
    			cf.DAddr1.value = parseInt(cf.DAddr1.value,10);
    			cf.DAddr2.value = parseInt(cf.DAddr2.value,10);
    			cf.DAddr3.value = parseInt(cf.DAddr3.value,10);
    			cf.DAddr4.value = parseInt(cf.DAddr4.value,10);
    		}
    		if(cf.PDAddr1.value.length>0 || cf.PDAddr2.value.length>0 || cf.PDAddr3.value.length>0 || cf.PDAddr4.value.length>0)
    		{
    			if(checkIP(cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4,254)||(parseInt(cf.PDAddr4.value,10)==0))
    				msg+= "<%155%>";
    			else
    			{
    				cf.PDAddr1.value = parseInt(cf.PDAddr1.value,10);
    				cf.PDAddr2.value = parseInt(cf.PDAddr2.value,10);
    				cf.PDAddr3.value = parseInt(cf.PDAddr3.value,10);
    				cf.PDAddr4.value = parseInt(cf.PDAddr4.value,10);
    			}
    		}
    	}

    	cf.apmode_ipaddr.value = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
    	cf.apmode_netmask.value = cf.WMask1.value+'.'+cf.WMask2.value+'.'+cf.WMask3.value+'.'+cf.WMask4.value;
    	cf.apmode_gateway.value = cf.WGateway1.value+'.'+cf.WGateway2.value+'.'+cf.WGateway3.value+'.'+cf.WGateway4.value;
    	cf.apmode_dns1_pri.value = cf.DAddr1.value+'.'+cf.DAddr2.value+'.'+cf.DAddr3.value+'.'+cf.DAddr4.value;
    	cf.apmode_dns1_sec.value = cf.PDAddr1.value+'.'+cf.PDAddr2.value+'.'+cf.PDAddr3.value+'.'+cf.PDAddr4.value;

        if (msg.length > 1)
        {
            alert(msg);
            return false;
        }

        if(<%110%>=="0")
            alert("<%588%>");

    	ap_mode_grayout();
	}
	else
	{
        if (msg.length > 1)
        {
            alert(msg);
            return false;
        }

        if(<%110%>=="1")
            alert("<%588%>");

        ap_mode_ungrayout(); 
	}

	if ("<%1089%>" == "1"
		&& "<%1106%>" == "1")
		WDS_wizard_grayout();

	return true;
}

function chgSel_2g(index)
{
    document.forms[0].select_2g_sche.value = index;
    return true;
}
function loadSettings()
{
	var cf = document.forms[0];
	var i;
    	var wifi_2g_num;
	if (cf.wps_enable.value == "disabled")
	{
		cf.pin_disable.disabled = true;
		cf.wsc_config.disabled = true;
	}
	var apmode_ipaddr = cf.apmode_ipaddr.value.split(".");
	var apmode_netmask = cf.apmode_netmask.value.split(".");
	var apmode_gateway = cf.apmode_gateway.value.split(".");
	var apmode_dns1_pri = cf.apmode_dns1_pri.value.split(".");
	var apmode_dns1_sec = cf.apmode_dns1_sec.value.split(".");
	display_wps_attack_compromise();
	display_apmode();	
	setIP();
	cf.WPethr1.value = apmode_ipaddr[0];
	cf.WPethr2.value = apmode_ipaddr[1];
	cf.WPethr3.value = apmode_ipaddr[2];
	cf.WPethr4.value = apmode_ipaddr[3];
	cf.WMask1.value = apmode_netmask[0];
	cf.WMask2.value = apmode_netmask[1];
	cf.WMask3.value = apmode_netmask[2];
	cf.WMask4.value = apmode_netmask[3];
	cf.WGateway1.value = apmode_gateway[0];
	cf.WGateway2.value = apmode_gateway[1];
	cf.WGateway3.value = apmode_gateway[2];
	cf.WGateway4.value = apmode_gateway[3];
	
	setDNS();
	if (cf.apmode_dns1_pri.value != "")
	{
		cf.DAddr1.value = apmode_dns1_pri[0];
		cf.DAddr2.value = apmode_dns1_pri[1];
		cf.DAddr3.value = apmode_dns1_pri[2];
		cf.DAddr4.value = apmode_dns1_pri[3];
	}
	if (cf.apmode_dns1_sec.value != "")
	{
		cf.PDAddr1.value = apmode_dns1_sec[0];
		cf.PDAddr2.value = apmode_dns1_sec[1];
		cf.PDAddr3.value = apmode_dns1_sec[2];
		cf.PDAddr4.value = apmode_dns1_sec[3];
	}
	
}


function check_wifi_sche()
{
    var cf = document.forms[0];
    if (cf.ntp_synced_flag.value == 1 && cf.enable_ap.checked == true)
    {
        var enableButton1;
        var enableButton2;
        var enableButton3;            
            
        toggleEnabled(document.getElementById("wifi_sche_div1"));
    	toggleEnabled(document.getElementById("wifi_sche_div2"));
    	toggleEnabled(document.getElementById("wifi_sche_div3"));
        
        enableButton1=document.getElementsByName("add_sche");
        enableButton2=document.getElementsByName("edit_sche");
        enableButton3=document.getElementsByName("del_sche");
        
        enableButton1[0].outerHTML='<button type="submit" value="<%1107%>" name="add_sche" class="button-rule" onclick="buttonClick(this,\'<%1107%>\');" ><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1107%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        enableButton2[0].outerHTML='<button type="submit" value="<%305%>" name="edit_sche" class="button-rule" onclick="buttonClick(this,\'<%305%>\');" ><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%305%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        enableButton3[0].outerHTML='<button type="submit" value="<%306%>" name="del_sche" class="button-rule" onclick="buttonClick(this,\'<%306%>\');" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%306%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
                 
        enableButton1[0].style.cursor='default';        
        enableButton2[0].style.cursor='default';         
        enableButton3[0].style.cursor='default';   
    }
    else
    {
        var cf=document.forms[0];
        var diableButton1;
        var diableButton2;
        var diableButton3;
                
    	toggleDisabled(document.getElementById("wifi_sche_div1"));
    	toggleDisabled(document.getElementById("wifi_sche_div2"));
    	toggleDisabled(document.getElementById("wifi_sche_div3"));
        
        diableButton1=document.getElementsByName("add_sche");
        diableButton2=document.getElementsByName("edit_sche");
        diableButton3=document.getElementsByName("del_sche");
        
        diableButton1[0].outerHTML='<button type="submit" value="<%1107%>" name="add_sche" class="button-grey" onclick="" ><span class="roundleft_grey"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1107%></span></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        diableButton2[0].outerHTML='<button type="submit" value="<%305%>" name="edit_sche" class="button-grey" onclick="" ><span class="roundleft_grey"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%305%></span></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        diableButton3[0].outerHTML='<button type="submit" value="<%306%>" name="del_sche" class="button-grey" onclick="" ><span class="roundleft_grey"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%306%></span></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
                 
        diableButton1[0].style.cursor='default';        
        diableButton2[0].style.cursor='default';         
        diableButton3[0].style.cursor='default';                  
    }
}
function display_wps_attack_compromise()
{
    var cf = document.forms[0];
    if (cf.pin_disable.checked == true)
    {
        document.getElementById("wps_display").style.display="block";
    }
    else
    {
        document.getElementById("wps_display").style.display="none";
    }
}

function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1017%>");
}

function display_apmode()
{
    var cf = document.forms[0];
    if (cf.enable_ap_mode.checked == true)
    {
        document.getElementById("apmode_display").style.display="block";
    }
    else
    {
        document.getElementById("apmode_display").style.display="none";
    }
}
function setIP()
{
	var cf = document.forms[0];
	var dflag = cf.APIpAssign.checked;
	setDisabled(dflag,cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4);
	if (!cf.APIpAssign.checked)
	{
	    cf.APDnsAssign.checked = false;
	    setDNS();
	}
	DisableFixedIP = dflag;
}
function setDNS()
{
	var cf = document.forms[0];
	var dflag = cf.APDnsAssign.checked;
	if (!cf.APIpAssign.checked && cf.APDnsAssign.checked)
	{
		cf.APDnsAssign.checked = false;
		dflag = false;
	}
	setDisabled(dflag,cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4);
	DisableFixedDNS = dflag;
}
//-->
</script>
</head>
<body  onload="change_size();loadSettings();check_wifi_sche();highLightMenu('adv_header', 'adv_wireless_set');showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="wlg_adv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1108%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%157%>"  onclick="buttonClick(this,'<%157%>');return checkData();" type="submit" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%158%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onclick="buttonClick(this,'<%159%>');reset();loadSettings();" type="button" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
  <td nowrap colspan="2"><a href="javascript:loadhelp('WLG_adv','settings')" tabindex="-1"><b><%1109%></b></a></td></tr>
<tr>
  <td colspan="2">
    <input type="checkbox"  <%1110%> name="enable_ap" value="enable_ap" onclick="check_wifi_sche()"> <%1111%> </td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1112%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="frag" size=5 maxlength=4 value="<%1113%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1114%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="rts" size=5 maxlength=4 value="<%1115%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1116%></td>
  <td align=left>
      <select name="enable_shortpreamble"><option value="" <%1117%>><%1118%></option><option value="enable_shortpreamble" <%1119%>><%1120%></option></select></td></tr>
<tr>
  <td colspan="2">
    <div id="wifi_sche_div1">
    <input type="checkbox"  <%1121%> name="wifi_onoff" value="wifi_onoff"> <%478%> 
    </div>
  </td>
</tr>
<tr>
  <td colspan="2" >
    <div id="wifi_sche_div2">
      <b><%1122%></b>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div id="wifi_sche_div3">
    <table border="1" cellpadding="2" cellspacing="0" width="100%">
	<tr><td width="10%" align="center"><span class="thead"><%1123%></b></td>
		<td width="20%" align="center"><span class="thead"><%1124%></b></td>
		<td width="20%" align="center"><span class="thead"><%1125%></b></td>
		<td width="50%" align="center"><span class="thead"><%1126%></b></td>
	</tr>
	<%1127%>
	</table>
	</div>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <div id="wifi_sche_div4">
      &nbsp;&nbsp;&nbsp;<button type="submit" value="<%1107%>" name="add_sche" class="button-rule" onclick="buttonClick(this,'<%1107%>');" ><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1107%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
      &nbsp;&nbsp;&nbsp;<button type="submit" value="<%305%>" name="edit_sche" class="button-rule" onclick="buttonClick(this,'<%305%>');" ><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%305%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
      &nbsp;&nbsp;&nbsp;<button type="submit" value="<%306%>" name="del_sche" class="button-rule" onclick="buttonClick(this,'<%306%>');" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%306%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    </div>
  </td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


 <tr>
  <td width="60%" colspan="2" ><b><%1128%></b></td>
 </tr>

 <tr>

  <%1129%>
  <td width="60%">&nbsp;&nbsp;<%1130%>:</td>
  <td width="40%"><b><font size=4><%1131%></font></b></td>
  <%1132%>
  <%1133%>
  <td width="60%"><font color=gray>&nbsp;&nbsp;<%1130%>:</font></td>
  <td width="40%"><b><font size=4 color=gray><%1131%></font></b></td>
  <%1134%>
  
 </tr>

 <tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="pin_disable" VALUE="1" <%1135%> onclick="display_wps_attack_compromise();">
  <font <%1136%>> <%1137%> <%1138%></font>
  </td>
 </tr>
 <tr>
  <td colspan=2>
    <div id="wps_display" style="display: none;">
    	<DD>
    	<INPUT TYPE="checkbox" NAME="prevent_pin_compromise" VALUE="1" onclick = "javascript:setGray();" <%1139%> >
        	<%1140%>
        	<input TYPE="text" class="num" NAME="pin_attack_count" size=2 maxlength=2 value="<%1141%>" style="width:20px">
         	<%1142%> 
         	<DD>
         	<%1143%>
    </div>
  </td>
 </tr>
 <tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="wsc_config" <%1144%>>
  <font <%1136%>>  <%1145%>  </font>
  </td>
 </tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
  <td width="60%" colspan="2" ><b><%1146%></b></td>
</tr>
<tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="enable_ap_mode" value="enable_ap_mode" <%1147%> onclick="display_apmode();">
  <font>  <%1148%>  </font>
  </td>
</tr>

<tr>
<td colspan="2" >
    <div id="apmode_display" style="display: none;">
    <table align="left" border="0" width="100%">
    <tr>
    	<td nowrap><%360%></td>
        <td width="60%" align="right"><INPUT TYPE="text" MAXLENGTH="12" SIZE="24" NAME="device_name" value="<%590%>"></td>
    </tr>
    <tr>
      <td colspan=2>
      <INPUT TYPE="checkbox" NAME="APIpAssign" value="dyn_ip" <%1149%> onclick="setIP();">
      <font>  <%1150%>  </font>
      </td>
    </tr>
    <tr>
    	<td nowrap><img src="spacer.gif" width="20" height="12" border="0"><%169%></td>
    	<td nowrap align="right" class="num"><input type="text" name="WPethr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WPethr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)" >.<input type="text" name="WPethr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WPethr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
    </tr>
    <tr>
    	<td nowrap><img src="spacer.gif" width="20" height="12" border="0"><%170%></td>
    	<td align="right" class="num"><input type="text" name="WMask1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WMask4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
    </tr>
    <tr>
    	<td nowrap><img src="spacer.gif" width="20" height="12" border="0"><%171%></td>
    	<td align="right" class="num"><input type="text" name="WGateway1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="WGateway4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
    </tr>
    <tr>
      <td colspan=2>
      <INPUT TYPE="checkbox" NAME="APDnsAssign" value="dyn_dns" <%1151%> onclick="setDNS();">
      <font>  <%1152%>  </font>
      </td>
    </tr>
    <tr>
    	<td nowrap><img src="spacer.gif" width="20" height="12" border="0"><%175%></td>
    	<td nowrap align="right" class="num"><input type="text" name="DAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="DAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
    </tr>
    <tr>
    	<td nowrap><img src="spacer.gif" width="20" height="12" border="0"><%176%></td>
    	<td nowrap align="right" class="num"><input type="text" name="PDAddr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="PDAddr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedDNS) this.blur()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
    </tr>
    </table>
    </div>
</td>
</tr>


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
  <td nowrap><a href="javascript:loadhelp('WLG_adv','access')" tabindex="-1"><b><%1153%></b></a></td>
  <td align="left">
      &nbsp;&nbsp;&nbsp;<button type="button" value="setup_acl" name="access" class="button-rule" onClick="buttonClick(this,'setup_acl');self.location.href='WLG_acl.htm'"><span class="roundleft_button">&nbsp;&nbsp; <%1154%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_adv_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%121%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%122%> </span>
      </div>



<input type="hidden" name="wps_enable" value="<%1155%>">
<input type="hidden" name="show_wps_alert" value="<%1090%>">
<input type="hidden" name="wifi_2g_state" value="<%918%>">
<input type="hidden" name="wifi_2g_sche" value="<%1156%>">
<input type="hidden" name="wifi_2g_sche_onoff" value="">
<input type="hidden" name="wifi_2g_sche_num" value="<%1157%>">
<input type="hidden" name="ntp_synced_flag" value="<%1158%>">
<input type="hidden" name="select_2g_sche" value="-1">
<INPUT name=apmode_ipaddr type=hidden value= "<%818%>">
<INPUT name=apmode_netmask type=hidden value= "<%819%>">
<INPUT name=apmode_gateway type=hidden value= "<%821%>">
<INPUT name=apmode_dns_sel type=hidden value= "<%1159%>">
<INPUT name=apmode_dns1_pri type=hidden value= "<%826%>">
<INPUT name=apmode_dns1_sec type=hidden value= "<%827%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>
