<html>
<head>
<%10%>
<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="form.css">
<%111%>
<script language="javascript" type="text/javascript">
<!--
function chgSel(index)
{
    if (index < 2 || index > 4) {
        alert("<%1711%>");
        return false;
    }

    document.forms[0].ssid_sel.value = index;
    document.forms[0].submit();

    return true;
}

function initScrn()
{
    var profile_idx = <%1674%>;
    if (!profile_idx || profile_idx < 1 || profile_idx > 3)
        profile_idx = 1;
    var sel_index = profile_idx - 1;
    document.forms[0].ssidSelect[sel_index].checked = true;
    parent.profilebuttom.location.href = "WLG_wireless_2.htm";

    return true;
}
//-->
</script>
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="initScrn();loadhelp('WLG_sec_profile');">
<form name="formname" method="POST" action="wlg_sec_profile_main.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2" align='left'><h1><%1675%></h1></td>
</tr>

<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2">
<p><tabindex="-1"><b><%1712%></b></a></p></td>
</tr>

<tr>
<td colspan="2">
<table border ="1" cellpadding ="0" cellspacing ="0" width="100%">
<TR>
	<td nowrap width="3%" align="center"><span class="thead">&nbsp;</span></td>
	<td nowrap width="3%" align="center"><span class="thead"><%1676%></span></td>
	<td nowrap align="center"><span class="thead"><%1713%></span></td>
	<td nowrap align="center"><span class="thead"><%1714%></span></td>
	<td nowrap align="center"><span class="thead"><%236%></span></td>
    <td nowrap align="center"><span class="thead"><%1715%></span></td>
</TR> 
<tr>
	<td nowrap align=center> &nbsp;<input type=RADIO name=ssidSelect value=2 onClick="chgSel(2);"> &nbsp;</td>
	<td nowrap align=center><span class=thead>1</span></td>
    <td nowrap align=center><span class=ttext><%1716%></span></td>
    <td nowrap align=center><span class=ttext><%1717%></span></td>
    <td nowrap align=center><span class=ttext><%1718%></span></td>
    <td nowrap align=center><span class=ttext><%1719%></span></td>
</tr>
<tr>
	<td nowrap align=center> &nbsp;<input type=RADIO name=ssidSelect value=3 onClick="chgSel(3);"> &nbsp;</td>
	<td nowrap align=center><span class=thead>2</span></td>
	<td nowrap align=center><span class=ttext><%1720%></span></td>
	<td nowrap align=center><span class=ttext><%1721%></span></td>
	<td nowrap align=center><span class=ttext><%1722%></span></td>
    <td nowrap align=center><span class=ttext><%1723%></span></td>
</tr>
<tr>
	<td nowrap align=center> &nbsp;<input type=RADIO name=ssidSelect value=4 onClick="chgSel(4);"> &nbsp;</td>
	<td nowrap align=center><span class=thead>3</span></td>
	<td nowrap align=center><span class=ttext><%1724%></span></td>
	<td nowrap align=center><span class=ttext><%1725%></span></td>
	<td nowrap align=center><span class=ttext><%1726%></span></td>
    <td nowrap align=center><span class=ttext><%1727%></span></td>
</tr>
</table>
</td>
</tr>

</TABLE> 
<input type="hidden" name="ssid_sel" value="-1">
</form>
</body>
</html>
