<!DOCTYPE HTML>
<html>
<head>
<%10%>

<title>NETGEAR Router <%11%></title> 
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%111%>
<script type="text/javascript">
<!--
var pchar = "|"; // progress char
var maxchars = 61; 
var delay_time // msecs
var charcount = <%1760%>; 
var isIE = navigator.userAgent.search("MSIE") > -1; 

    $(document).ready(function()
    {	
//           $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        if (isIE)
            delay_time = 570;
        else
            delay_time = 300;
    });
   
function stop1()
{
	document.forms[0].stop.value = "yes";
	return true;
}
function do_submit()
{
	var cf = document.forms[0];
	cf.pgbarcount.value = charcount;
	cf.submit();
}
function makeStr(strsize, fillchar)
{
	var temp = "";
	for (i=0; i < strsize ; i ++)
		temp = temp + fillchar;
	return temp;
}
function updateProgress()
{
	var cf = document.forms[0];

	charcount ++;
	cf.progress.value = makeStr(charcount/4,pchar);

	if (charcount % 2 == 0)
		cf.wps_icon.src = "wps_icon_on.bmp"
	else
		cf.wps_icon.src = "wps_icon_off.bmp"

	setTimeout("updateProgress()",delay_time);

	if (charcount % 10 == 0)
	{
		do_submit();
	}
}

function updateMenu()
{
//	top.contents.location.href="MNU_menu_no_link.htm";
}
    
//-->
</script>
</head>
<body  onLoad="change_size();updateMenu(); updateProgress();" class="page-body"    onResize="change_size();" >
<img class="cover-image" src="img/cover-image.gif">
<img class="body-image" src="img/subhead2-background.jpg">
<div id="full-page-container">

<form id="target"  method="post" name="formname" action="wps_status.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top.gif">
<div class="subhead2"> <%1761%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%159%>" onClick="buttonClick(this,'<%159%>');return stop1();" TYPE="submit" NAME="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%160%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<%1762%> 
<TR><TD colspan="2" ><%1763%> <font size=4><b><%1764%></b></font>.</TD></TR>
<TR><TD colspan="2" ><%1757%></TD></TR>

<TR>
    <td nowrap align="center" colspan="2" ><IMG name="wps_icon" src="wps_icon_on.bmp">&nbsp;&nbsp;&nbsp;<input type="text" name="progress" class="prgbar" value="" style="color: blue" size="56"></td>
</tr>
	


</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WPS_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0"></iframe> </div> </td> </tr>

</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" > &nbsp;
      </div>



<input type="hidden" name="stop" value="">
<input type="hidden" name="pgbarcount" value="<%1760%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>

