<!DOCTYPE HTML>
<html>
<head>
<%10%>
<link rel="stylesheet" href="form.css">
<title>NETGEAR Router <%11%></title>
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



//--></script></head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="'MNU_menu.htm'" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="msg" action="message.cgi" method="post" onSubmit="return false">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<tr><td align="left"><h1><%1755%></h1></td></tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
	
<tr><td align=center><b><%1756%> <%1757%> <%1758%>
</b></TD>
</TR>
<tr><td align=center><b><font color=#ff0000><%1750%> </font></b></TD></TR>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr><td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td></tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">

<TR><td align=center><%1751%></TD></TR>
<TR><TD align=center>&nbsp;&nbsp;&nbsp;<button TYPE="BUTTON" value="<%1299%>" NAME="OK" class="button-rule" onclick="buttonClick(this,'<%1299%>');location.href='<%22%>'"><span class="roundleft_button">&nbsp;&nbsp; <%1299%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD></TR>	
</TABLE>
</form>
</BODY>
</HTML>

