/* tab pane styling */

body {
	  width:100%;
}


.panes div {

    display:none;
    width:100%;
    height:100%;
    border:0;
    border-top:0;
    font-size:14px;
    background-color:#E5E5E5;
}

.panes{

    display:none;
    width:100%;
    height:100%;
    border:0;
    border-top:0;
    font-size:14px;
    background-color:#E5E5E5;
}
.basic-menu{
    margin:0px;
    margin-left:10px;
    margin-top:20px;
    color:#4e4e4e;
    background-color:#E5E5E5;
    height:480px;     
    width:200px; 
}

.basic-menu-div{
    list-style:none;
    margin-left:0px;
    height:30px;
    width:200px;
    background-color:#E5E5E5;
    background: url("../img/basic-white-button.gif")  no-repeat left top;
}

.basic-menu-div span{
	color: #4C4C4C;
  margin-left:10px;
  float:left;
  width:180px;
  padding-top:4px;	
  background: url("../img/barrow.jpg") no-repeat 165px 8px;
}

.basic-menu-div a{
    text-decoration:none;
    color:#4e4e4e;
    font-weight:bold; 
    background-color:#E5E5E5;
    padding-top:5px;
}

.basic-menu-div a:hover{
    text-decoration:none;
    color:#4e4e4e;
    font-weight:bold; 
    background-color:#E5E5E5;
    padding-top:5px;
    cursor:pointer;
}

.basic-menu-div-gray{
    list-style:none;
    margin-left:0px;
    height:30px;
    width:200px;
    background-color:#E5E5E5;
   background: url("../img/gray-button.gif") no-repeat;

}

.basic-menu-div-gray span{

  margin-left:10px;
   float:left;
   width:180px;
   color:#767676;  
  padding-top:4px;
   background: url("../img/barrow.gif") no-repeat 165px 8px;
}

.basic-menu-div-gray a{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
    background-color:#E5E5E5;
    padding-top:5px;
}

.basic-menu-div-gray a:hover{
    text-decoration:none;
    color:#4e4e4e;
    font-weight:bold; 
    background-color:#E5E5E5;
    padding-top:5px;
    cursor:pointer;
}

.menuActive{
    list-style:none;
    height:30px;    
    width:200px;
    background: url("../img/basic-purple-button.gif")  no-repeat left top;
}


.menuActive a{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
}

.menuActive span{
    float:left;
    color:#ffffff;
    background: url("../img/warrow.jpg") no-repeat 165px 8px;
}


.advance-menu{
   padding:0;
   margin:0;
   color:#4e4e4e;
   font-family:arial;
   list-style:none;
   margin-top:20px;
   margin-left:10px;
   font-size:12px;
   height:480px;
   width:200px;
}

.advance-menu ul{

   margin:0;
   padding:0;

}

.advance-menu li.noSub{
   margin:0;
   padding:0;
   height:24px;
   padding-top:4px;
   background: url("../img/roundedcornr_637010.gif") no-repeat;
 
}

.advance-menu li.noSubLarge{
   margin:0;
   padding:0;
   height:40px;
   padding-top:4px;
   background: url("../img/basic-black-button-large.gif") no-repeat;
 
}
 
  .advance-menu li.noSubActive{
   padding:0;
   height:24px;  
   padding-top:4px;	
   background: url("../img/basic-purple-button.gif") no-repeat;
 }

   .advance-menu li.noSubActiveLarge{
   padding:0;
   height:40px;  
   padding-top:4px;	
   background: url("../img/basic-purple-button-large.gif") no-repeat;
 }
 
.advance-menu li.noSubGray{
   margin:0;
   padding:0;
   height:24px;
   padding-top:4px;
   background: url("../img/gray-button.gif") no-repeat;
   color:#767676;
}

.advance-menu li.noSubGrayLarge{
   margin:0;
   padding:0;
   height:40px;
   padding-top:4px;
   background: url("../img/basic-gray-button-large.gif") no-repeat;
   color:#767676;
}

 .advance-menu li.SubActive{
   margin:0;
   padding:0;
   height:28px;
   color:#4e4e4e;
   padding-top:4px;
   padding-left:5px;
   width:200px;    
   background: url("../img/basic-white-button.gif") no-repeat;
}


.advance-menu li.SubActive span{
   margin-left:5px;
   padding:0px;
   float:left;
   width:200px;  
   color:#4e4e4e;
   padding-left:10px;
   background: url("../img/barrow_down.jpg") no-repeat 0px;
}


.advance-menu li.noSub span{
   float:left;
   width:180px;
   color:#ffffff;  
   margin-left:10px;
}

.advance-menu li.noSubLarge span{
   float:left;
   width:180px;
   color:#ffffff;  
   margin-left:10px;
}

.advance-menu li.noSubGray span{
   float:left;
   width:180px;
   color:#767676;  
   margin-left:10px;
}

.advance-menu li.noSubGrayLarge span{
   float:left;
   width:180px;
   color:#767676;  
   margin-left:10px;
}

.advance-menu li.Sub{
   margin:0;
   padding:0;
   height:25px;
   color:#4e4e4e;
   padding-top:4px;
   background: url("../img/basic-white-button.gif") no-repeat;
}


.advance-menu li.Sub span{      
   float:left;
   width:200px;
   color:#4e4e4e;
   padding-left:10px;
   background: url("../img/barrow.jpg") no-repeat 0px;
   margin-left:10px;
}



.advance-menu li.SubMenu{
   margin:0;
   padding:0;
   height:20px;      
   color:#4e4e4e;
   list-style:none;   
   border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:#d4d4d4;   
   width:200px;
}


.advance-menu li.SubMenu span{       
    text-decoration:underline;
    float:left;
    width:170px;
    padding-top:0px;    
    color:#4e4e4e;    
    background:#e5e5e5; 
    padding-left:20px;  
    
}

.advance-menu li.SubMenu{
   margin:0;
   padding:0;
   height:20px;      
   color:#4e4e4e;
   list-style:none;   
   border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:#d4d4d4;   
   width:200px;
}


.advance-menu li.SubMenu span{       
    text-decoration:underline;
    float:left;
    width:170px;
    padding-top:0px;    
    color:#4e4e4e;    
    background:#e5e5e5; 
    padding-left:20px; 
} 
    
.advance-menu li.SubMenuDisable{
   margin:0;
   padding:0;
   height:20px;      
   color:#adadad;
   list-style:none;   
   border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:#d4d4d4;   
   width:200px;
}


.advance-menu li.SubMenuDisable span{    
    float:left;
    width:170px;
    padding-top:0px;    
    color:#adadad;    
    background:#e5e5e5; 
    padding-left:20px;  
    
}


.advance-menu li.SubMenuLarge{
   margin:0;
   padding:0;
   height:32px;      
   color:#4e4e4e;
   list-style:none;   
   border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:#d4d4d4;   
   width:200px;
}


.advance-menu li.SubMenuLarge span{       
    text-decoration:underline;
    float:left;
    width:170px;
    padding-top:0px;    
    color:#4e4e4e;    
    background:#e5e5e5; 
    padding-left:20px;  
    
}

.advance-menu li.SubMenuLargeDisable{
   margin:0;
   padding:0;
   height:32px;      
   color:#adadad;
   list-style:none;   
   border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:#d4d4d4;   
   width:200px;
}


.advance-menu li.SubMenuLargeDisable span{           
    float:left;
    width:170px;
    padding-top:0px;    
    color:#adadad;    
    background:#e5e5e5; 
    padding-left:20px;  
    
}





.advance-menu li.SubMenuHover span{
    margin-left:0px;
    padding-left:0px;
    text-decoration:none;
    float:left;
    width:170px;
    color:#9d98ff;
    border-top-style:solid;
    border-width:1px;
    background:url();
}


.advance-menu li.SubMenuActive{
   margin:0;
   padding:0;
   height:21px;
   color:#4e4e4e;
   list-style:none;
   width:200px;
   background:url("../img/subMenuActive.png") no-repeat 15px -2px;    

}




.advance-menu li.SubMenuActive span{
   margin-left:20px;
   padding-left:0px;
   text-decoration:none;
   float:left;
   width:170px; 
   color:#ffffff;
}


.advance-menu li.SubMenuActiveLarge{
   margin:0;
   padding:0;
   height:32px;
   color:#4e4e4e;
   width:200px;
   list-style:none;
   background:url("../img/subMenuActiveLarge.png") no-repeat 15px;
}

.advance-menu li.SubMenuActiveLarge span{
   margin-left:20px;
   padding-left:0px;
   text-decoration:none;
   float:left;
   width:170px; 
   color:#ffffff;  
}

.advance-menu span{
    float:left;

}

.advance-menu a{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
  
}

.advance-menu a:hover{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
  
}


.subHeader ul{
    margin-top:0;
    padding-top:0;
    list-style:none;
    height:150px;
}
                                                                        
