

/* root element for tabs  */
ul.tabs { 
    list-style:none; 
    margin:0px;
    padding-left:10px;
    padding-top:5px;
    height:30px;
    background-color:#2b2b2b;
    font-family:arial;
    overflow: hidden;
    white-space: nowrap;	
}

/* single tab */
ul.tabs li { 
	  float:left;	 
	  text-indent:0;
	  padding:0;
    margin-left:5px;
	  background-color:transparent;
	  list-style-image:none !important;
    display: inline; 
}


/* link inside the tab. uses a background image */
ul.tabs a { 
        background: url(../img/tab-nonactive.gif) no-repeat 0;
	font-size:15px;
	font-weight:bold;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 200px;
	text-align:center;	
	text-decoration:none;
	color:#4e4e4e;
	padding:0px;
	position:relative;    
	top:0px;	  
	top: 0px\9;
	font-family:arial;
}

ul.tabs a:active {
	outline:none;		
	background: url(../img/tab-nonactive.gif) no-repeat 0;        
}

/* when mouse enters the tab move the background image */
        		

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background: url(../img/tab-active.gif) no-repeat  0;
	cursor:default !important; 
	color:#000 !important;
}

.firmware-update-hint-long-long{
    background-image:url("../img/firmware-hint-background-long-long.gif");
    background-position:0px -1px;
    background-repeat:no-repeat;
    background-color:transparent;
    margin-left:40px;
    margin-top:3px;
    float:left;
    width:500px;
    height: 22px;
    font-weight:bold;
    position: relative;
    right: -200px;
    top: 30px;
    z-index:5;
	
}

.firmware-update-hint-long{
    background-image:url("../img/firmware-hint-background-long.gif");
    background-position:0px -1px;
    background-repeat:no-repeat;
    background-color:transparent;
    margin-left:40px;
    margin-top:3px;
    float:left;
    width:450px;
    height: 22px;
    font-weight:bold;
    position: relative;
    right: -300px;
    top: 30px;
	z-index:5;

}

.firmware-update-hint{
    background-image:url("../img/firmware-hint-background.gif");
    background-position:0px -1px;
    background-repeat:no-repeat;
    margin-left:40px;
    margin-top:3px;
    float:left;
    width:380px;
    height: 22px;
    font-weight:bold;
    position: relative;
    right: -350px;
    top: 33px;
    z-index:5;

}


.firmware-update-hint-short{

    background-position:0px -1px;
    background-repeat:no-repeat;
    margin-left:40px;
    margin-top:3px;
    float:left;
    width:380px;
    height: 22px;
    font-weight:bold;
    position: relative;
    right: -350px;
    top: 33px;
    z-index:5;

}




.language-option{
	font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
  margin-top:4px;
  margin-bottom:5px;
  font-size:12px;
  font-weight:normal;
	}

firmware_update_click a:hover{
	   mouse:pointer;
}
/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */

/* initially all panes are hidden */ 
.panes .pane {
	display:none;

}



.button-rule span.roundleft_update{
	padding: 4px 0px 15px 20px; 
	margin:0px;
    border:0px;
	height:22px; 
	font-weight:bold;
	background: transparent url("../img/roundleft_update.gif") no-repeat left 0px;
	color:#F2F2F2; 
    cursor: pointer;
	white-space:nowrap;
}

.roundright_update{
	padding: 4px 0px 15px 0px; 
	margin:0px;
    width:20px;
    border:0px;
	height:22px; 
	font-weight:bold;
	background: url("../img/roundright_update.gif") no-repeat top right;
	color:#F2F2F2; 
	white-space:nowrap;
    cursor: pointer;
}

.roundright_update_org{
	padding: 4px 0px 4px 0px; 
	margin:0px;
    width:20px;
    border:0px;
	height:22px; 
	font-weight:bold;
	background: url("../img/roundright_update.gif") no-repeat top right;
	color:#F2F2F2; 
	white-space:nowrap;
    cursor: pointer;
}
 